---
layout: default
body-class: team
permalink: team/
title: Our Team
---
<div class="intro">
  <div class="container">
    <div class="text">
      <h1>Our Team</h1>
      <p>ThinkShout is a mixture of former nonprofit staff and individuals who have been on the agency side and now want to lend their skills to more altruistic causes. We’re all here because we love to work on projects that allow us to fully serve the needs of mission-driven, social good organizations. We also happen to really enjoy working together.</p>
    </div>
  </div>
</div>

{% include teamlisting.html %}
{% include careers-cta.html %}
