---
layout: default
body-class: team
permalink: /agency/team/
title: Team
---
<div class="intro">
  <div class="container">
    <div class="text">
      <p>
        We lead with technical excellence, innovation, and sustainable business
        practices. We love projects that lead to open source contributions that serve
        grassroots organizers and progressive causes. We contribute back to our community
        daily with updates and new tools designed to make development processes and
        nonprofit workflows easier.
      </p>
    </div>
  </div>
</div>

{% include teamlisting.html %}
{% include careers-cta.html %}
