

// Google Font - Open Sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400,300,600);

// Color Palette 
$beige: #D5CEC3;
$orange: #f58026;
$brown: #695e4a;

// Breakpoints
$mobile: 480px;
$tablet: 800px;
$large: 1400px;