// Google Font - Open Sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400,300,600);

// Color Palette 
$beige: #D5CEC3;
$orange: #f58026;
$brown: #695e4a;

// Breakpoints
$mobile: 480px;
$tablet: 65em;
$large: 1400px;

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// Transition mixin
// Apply to elements that have hover states
@mixin ts-transition {
  -moz-transition: all 0.25s ease-in;
  /* WebKit */
  -webkit-transition: all 0.25s ease-in;
  /* Opera */
  -o-transition: all 0.25s ease-in;
  /* Standard */
  transition: all 0.25s ease-in;
}

@mixin ts-button($color:#d2d2d2, $bg:rgba(255,255,255,0), $border:#d2d2d2, $hover-bg: gba(255,255,255,0.5)) {
  background: $bg;
  border: 1px solid $border;
  color: $color;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 1.25em;
  padding: 0.8125em 1.5em 0.75em;
  text-align: center;
  text-transform: uppercase;
  @include box-sizing(border-box);
  @include ts-transition;
  @include border-radius(3px);
  &:hover {
    color: #222;
    border: 1px solid #222;
    background: $hover-bg;
  }
}