@import "_base";

.contact-name {
  width: 48.5%;
  float: left;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.contact-name:first {
  margin-right: 1em;
}

input#contact-submit {
  background: $orange;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid darken($orange, 10%);
  color: #FFF;
  font-size: 1.25em;
  padding: 0.75em 1.5em;
  cursor: pointer;
  &:hover {
    background: darken($orange, 10%);
  }
  display: block;
}

input,
textarea {
  outline: none;
}

#message {
  font: inherit;
  width: 99%;
  margin: 0;
}

input[type="text"],
input[type="email"],
textarea {
  border: 3px solid #FFF;
  background: transparent;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 3px solid #f58026;
  background: #FFF;
}

select {
  font-size: 1em;
}

br {
  display: block !important;
}

.aria-only-help {
  font-size: 0;
  left: -9999px;
  position: absolute;
}
