// Page Headers
.main {
  position: relative;
  width: 100%;
  z-index: 200;
  background: #FFF;
  display: table;
}

.hero {
  position: relative;
  z-index: 200;
  padding: 0;
  text-align: left;
  height: 760px;
  @media screen and (max-width: $mobile) {
    height: 400px;
  }
  .leadin {
    width: 50%;
    margin: 0 auto;
    @media screen and (max-width: $mobile) {
      width: 100%;
      padding: 0 1em;
    }
  }
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: darken($brown, 10%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @media screen and (max-width: $mobile) {
    background-position: top center;
    background-size: auto;
  }
}

footer {
  width: 100%;
  min-height: 600px;
  padding-top: 4em;
}

//
// 50/50 Split 
//
.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  @media screen and (max-width: $tablet) {
    height: auto;
  }
  .split {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    .side {
      position: absolute;
      top: 0;
      z-index: 100;
      width: 50%;
      height: 100%;
      -webkit-backface-visibility: hidden;
  
      @media screen and (max-width: $tablet) {
        position: relative;
        top: auto; 
        height: 50%;
      }
    }
    .side-left {
      left: 0;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      color: $brown;
      @media screen and (max-width: $tablet) {
        width: 100%;
        height: 600px;
      }
    }
    .side-right {
      right: 0;
      width: 100%;
      text-align: left;
      background: transparent;
      outline: 1px solid #fff;
      overflow: auto;
      @media screen and (max-width: $tablet) {
        width: 100%;
        overflow: hidden;
      }
      .intro-content {
        position: absolute;
        top: 10%;
        left: 4em;
        right: 4em;
        padding-left: 50%;
        @media screen and (max-width: $tablet) {
        	position: relative;
        	top: 0;
        	left: 0;
        	right: 0;
        	padding: 1em;
      	}
      	@media screen and (max-width: $mobile) {
        	padding: 0;
      	}
        .profile {
          margin: 0 auto;
          width: 250px;
          height: 250px;
          border-radius: 50%;
          background: #47a3da;
          img {
            max-width: 100%;
            border-radius: 50%;
            opacity: 1;
          }
        }
        h4 > span {
          display: block;
          white-space: nowrap;
        }
        h4 > span.position {
          font-size: 0.65em;
        }
      }
    }
  }
}

//
// Section Styling
//
section {
  background: #FFF;
}

.content-bottom {
	padding: 6em 0;
}

//
// Home
//
.marquee {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  height: 100%;
  width: 100%;
}

//
// BLOG
//
.blog {
  .page-container .split .side.side-left {
    position: fixed;
  }
}

