#flag {
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  z-index: 2000;
  margin-top: 25px;

  a#branding {
    background: darken($brown, 25%);
    background-image: url('../images/assets/thinkshout-id.svg');
    background-size: 225px 80px;
    display: block;
    float: left;
    text-align: center;
    position: relative;
    height: 75px;
    width: 225px;
    overflow: hidden;
    text-indent: -9999px;
  }
}

.menu-toggle {
	position: relative;
	float: left;
	top: 0px;
	left: 0px;
	display: block;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background: $orange;
	z-index: 9999;
}

.menu-toggle span {
	position: absolute;
	top: 50%;
	left: 20%;
	display: block;
	width: 60%;
	z-index: 9999;
	height: 4px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.menu-open .menu-toggle span {
	background-color: transparent;
}

.menu-toggle span:before,
.menu-toggle span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu-toggle span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.menu-toggle span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.menu-open .menu-toggle span:before {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}

.menu-open .menu-toggle span:after {
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}

#primary {
	position: fixed;	
	top: 100px;	
	z-index: 2000;
	background: transparent;
	ul {
		margin: 2px 0 0 0;
		padding: 0;
		li {
			list-style: none;
			background: $orange;
			margin-bottom: 2px;
			a {
				display: block;
				padding: 1em;
				color: #FFF;
				width: 311px;
			}
		}
	}
}

.menu-open #primary {
	display: block;
	opacity: 1;	
	@include transition-property(all);
  @include transition-duration(1s);
}

.menu-close #primary {
	display: none;
	opacity: 0;
}

#title-flag {
	display: block;
	height: 75px;
	margin-left: 311px;
	padding: 0 25px;
	overflow: hidden;
	text-align: center;
	position: relative;
	background: darken($brown, 20%);
	border-left: 1px solid lighten($brown, 5%);
	text-align: center;
	float: left;
	margin: 0;
	line-height: 75px;
	color: $orange;
	@media screen and (max-width: $mobile) {
    display: none;
  }
}

//
// Homepage Nav Blocks
// 
ul.navblocks {
  li {
    .content {
      margin: 0 0.25em;
      height: 150px;
      text-align: center;
      padding: 1em 1em 0;
      background: darken($brown, 25%);
      @include transition-property(all);
      @include transition-duration(0.2s);
      a {
        display: block;
        vertical-align: middle;
        color: #FFF;
        @include transition-property(all);
        @include transition-duration(0.2s);
        .rubric {
          color: #FFF;
          font-size: 0.75em;
          background: $orange;
          text-transform: uppercase;
          display: block;
          margin-top: 1em;
          padding: 0.5em;
        }
        h3 {
      		font-size: 1.5em;
      		font-weight: 600;
      		color: #FFF;
      	}
      }
      &:hover {
        background: rgba(255,255,255,0.8);
      	a {
      	  .rubric {
      	    color: #FFF;
      	    font-size: 0.75em;
      	    background: $orange;
      	    text-transform: uppercase;
      	    display: block;
      	    margin-top: 1em;
      	    padding: 0.5em;
      	  }
      	  h3 {
      			color: darken($brown, 25%);
      		}
      	}
      }
    }
  }
}

// 
// Footer Nav
//
nav.footer-nav {
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			a {
				color: #FFF;
				font-size: 1.25rem;
			}
		}
	}
}