nav#flag {
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  z-index: 2000;
  margin-top: 25px;

  a#toggle {
    background: $orange;
    display: block;
    float: left;
    text-align: center;
    position: relative;
    color: #FFF;
    height: 75px;
    width: 75px;
    padding: 0.5em;
  }

  a#branding {
    background: darken($brown, 20%);
    display: block;
    float: left;
    text-align: center;
    position: absolute;
    left: 75px;
    height: 75px;
  }
}

.menu-toggle {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background: $orange;
	z-index: 9999;
}

.menu-toggle span {
	position: absolute;
	top: 50%;
	left: 20%;
	display: block;
	width: 60%;
	z-index: 9999;
	height: 4px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.menu-open .menu-toggle span {
	background-color: transparent;
}

.menu-toggle span:before,
.menu-toggle span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu-toggle span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.menu-toggle span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.menu-open .menu-toggle span:before {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}

.menu-open .menu-toggle span:after {
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}

.left-off-canvas-menu {
	ul {
		margin: 0;
		li {
			border-bottom: 1px dotted #FFF;
			a {
				padding: 1em;
				display: block;
			}
		}
	}
}