// Page Headers 

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
}
.leadin {
  position: relative;
  @include display-box;
  @include box-orient(vertical);
  @include box-pack(center);
  height: 100%;
  width: 85%;
  margin: 0 auto;
  z-index: 200;
  text-align: center;

  @media screen and (max-width: $mobile) {
    float: none;
    width: 100%;
  }
  h1,
  h2 {
    color: #FFF;
    font-weight: 600;
    font-size: 2.75rem;
    @include text-shadow(0px 1px 10px rgba(0, 0, 0, 0.6),0px 8px 13px rgba(0, 0, 0, 0.1),0px 18px 23px rgba(0, 0, 0, 0.1));
    padding-top: 2em;
  	@media screen and (max-width: $mobile) {
      font-size: 2em;
  	}
  }
}

// Section Headers
.section-rubric {
  position: relative;
  height: 80px;
  background: transparent;
  margin: 0 auto;
  top: -20px;
  z-index: 1000;
  text-align: center;

  span {
    background: #FFF;
    padding: 0.5em 1em;
    border: 3px double $brown;
  }
}