// Page Headers 
.leadin {
  position: relative;
  @include display-box;
  @include box-orient(vertical);
  @include box-pack(center);
  height: 100%;
  width: 85%;
  margin: 0 auto;
  z-index: 200;
  text-align: center;

  @media screen and (max-width: $mobile) {
    float: none;
    width: 100%;
  }

  h2 {
    color: #FFF;
    font-weight: 600;
    @include text-shadow(0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1));
  }
}

// Section Headers
.section-rubric {
  position: relative;
  height: 80px;
  background: transparent;
  margin: 0 auto;
  top: -55px;
  z-index: 1000;
  text-align: center;

  span {
    background: #FFF;
    padding: 0.5em 1em;
    border: 3px double $brown;
  }
}