// Compass Includes
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/box";
@import "compass/utilities/general/clearfix";

// Project Specific Includes
@import "_base";
@import "_contact-form";
@import "_icons.scss";
@import "_layout.scss";
@import "_typography.scss";
@import "_navigation.scss";

html,
body {
  background: #FFF;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1.title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
}

a.button.default {
  @include ts-button();
}

.site-width {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  clear: left;
  height: 100%;
}

.background {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}



//
// Marquees
//
.work {
	.hero-image {
		background-image: url('../images/marquee/work.jpg');
		@media screen and (max-width: $tablet) {
      background-image: url('../images/marquee/med/work.jpg');
    }
		@media screen and (max-width: $mobile) {
      background-image: url('../images/marquee/small/work.jpg');
    }
	}
}
.team {
	.hero-image {
		background-image: url('../images/marquee/team.jpg');
		@media screen and (max-width: $tablet) {
      background-image: url('../images/marquee/med/team.jpg');
    }
		@media screen and (max-width: $mobile) {
      background-image: url('../images/marquee/small/team.jpg');
    }
	}
}
.expertise {
	.hero-image {
		background-image: url('../images/marquee/expertise.jpg');
		@media screen and (max-width: $tablet) {
      background-image: url('../images/marquee/med/expertise.jpg');
    }
		@media screen and (max-width: $mobile) {
      background-image: url('../images/marquee/small/expertise.jpg');
    }
	}
}
.careers {
	.hero-image {
		background-image: url('../images/marquee/careers.jpg');
		@media screen and (max-width: $tablet) {
      background-image: url('../images/marquee/med/careers.jpg');
    }
		@media screen and (max-width: $mobile) {
      background-image: url('../images/marquee/small/careers.jpg');
    }
	}
}

//
// HOME
//
body.welcome {
  #container {
    height: 100%;
  }

  .hero {
    position: relative;
    z-index: 200;
    height: 100%;
    padding: 0 1em;
    text-align: left;
  }

  .hero-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 860px;
    background-color: $orange;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .home-nav {
    position: absolute;
    bottom: 1em;
    width: 100%;
    z-index: 300;

    @media screen and (max-width: $mobile) {
      position: relative;
    }
    .large-block-grid-3 > li {
      padding: 0;
    }
  }
}

//
// BLOCKS
//

// We're Hiring Block
#careers-block {
  background: $orange;
  padding: 1em;
  height: 100%;
  h2 {
    color: #FFF;
  }
}

//
// TEAM
//
.team-blog {
  margin-top: 4em;
  h6 {
  	text-transform: uppercase;
  	margin-bottom: 2em;
  }
  .post {
  	border-left: 2px solid #f1f1f1;
  	padding-left: 1em;
  	margin-bottom: 1em;
  	.post-title {
  		font-weight: 500;
  	}
  }
}

.team-detail {
	.position {
		font-weight: 500;
		color: $orange;
	}
}

ul.team {
	article {
		text-align: center;
		.name {
			font-weight: 600;
			font-size: 1.25rem;
			margin: 0.5em 0 0 0;
		}
		.position {
			font-size: 0.85rem;
		}
	}
}

//
// HOME
//
#container {
	height: 100%;
	position: relative;
	@media screen and (max-width: $tablet) {
    height: 80%;
  }
  @media screen and (max-width: $mobile) {
    height: 600px;
  }
	.marquee {
	  background: $orange url('../images/marquee/home.jpg') no-repeat;
	  background-position: bottom center;
	  background-size: cover;
	  .leadin {
	    h1 {
	      font-size: 3.5rem;
	      @media screen and (max-width: $mobile) {
  			  font-size: 2.5rem;
  			}
	    }
	  }
	}
}

#hiring {
  background: #FFF;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 500;
  color: $orange;
  @include border-radius(50%);
  font-weight: 800;
  height: 125px;
  width: 125px;
  padding: 3.25em 0 0;
  text-align: center;
  border: 2px solid #FFF;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

//
// WORK
//
ul.client-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: block;
    width: 31.33336%;
    float: left;
    margin-right: 3%;
    height: 55px;
    text-align: center;
    @media screen and (max-width: $mobile) {
  	  width: 100%;
  	  margin-right: 0;
  	  height: auto;
  	}
  &.first {
    clear: both;
  }
  &.third {
  	margin-right: 0;
  }
  }
}

.project.teaser {
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;

	.thumb {
		padding: 0.25em;
		margin: 0;
		background: lighten($brown, 50%);
		img {
			@include transition-property(all);
	  	@include transition-duration(0.5s);
		}
	}
	article {
        text-align: center;
      }

      &:hover {
        .thumb {
          margin: 0;
          img {
            @media screen and (min-width: $tablet) {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
          }
        }
      }

    @media only screen and (min-width : $mobile) {
        width: 49%;
        &.odd {float: left;}
        &.even {float: right;}
        article {
  		position: absolute;
  		bottom: 0.4em;
  		left: 0.5em;
  		width: 65%;
  		padding: 0 0;
  		display: block;
  		background: rgba(255, 255, 255, 0.8);
  		z-index: 200;

        .text {
          margin: 0 auto;
          padding: 0.25em;
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
    @media only screen and (min-width : $tablet)  {
        article {
          .text {
            padding-top: .5em;
            padding-bottom: .5em;
          }
        }
    }
}

//
// Careers
//
.job-list {
	article {
		margin-bottom: 0.5em;
		a.title {
			display: block;
			padding: 1em;
			border: 1px solid #ccc;
			color: #222;
			@include transition-property(all);
	    @include transition-duration(0.2s);

			&:hover {
				color: $orange;
				border: 1px solid $orange;
			}
		}
	}
}

//
// Banner
//
.banner {
  position: relative;
  .header {
    position: absolute;
    bottom: 0;
    left: 16.66667%;
    background: #FFF;
    padding: 0 1em;
    h1 {
      color: #222;
      margin-bottom: 0;
    }
    h3 {
      color: $orange;
    }
  }
}

//
// Expertise
//
.expertise {
	margin-bottom: 5em;
	display: block;
	overflow: hidden;
  ul {
    font-size: 0.875em;
    font-style: italic;
    color: $brown;
    margin: 1em 0 0;
    padding: 0;
    width: 46%;
    float: left;
    @media screen and (max-width: $mobile) {
     	float: none;
      width: 100%;
      margin: 0 0;
    }
    li {
      list-style: none;
      display: block;
      margin-right: 1em;
      margin-bottom: .3em;
    }
  }
  ul:nth-child(2) { }
}
.expertise:last-child {
  border-bottom: 0;
}

//
// Blog
//
// Landing Page
.page-container.blog {
	.split {
		.side-right {
			.intro-content {
				left: 0;
				right: 0;
			}
		}
	}
	.leadin {
	  h2 {
	    padding-top: 9em;
	  }
	}
}

// Blog List Style
.blog {
	ul.blog-list {
	  margin: 0;
	  padding: 0;
	  li {
	  	list-style: none;
	  	article {
	    	list-style: none;
	    	position: relative;
	    	display: block;
	    	overflow: none;
	    	padding: 2em 4em;
	    	border-bottom: 2px solid #DADADA;
	    	@include clearfix;
	    	@media screen and (max-width: $tablet) {
					padding: 2em;
				}
				a {
	    		color: $orange;
	   			&:hover {
	  		  	color: $brown;
	  			}
	  		}
	  		@media screen and (max-width: $mobile) {
	  			padding: 0;
    		}
	  	}
	  }
	}
}


.blog.most-recent {
	text-align: center;
	li {
	  list-style: none;
	  position: relative;
	  display: block;
	  overflow: none;
	  padding: 0;
	  border-bottom: 0;
	  background: #FFF;
	  // Bylines
		.byline {
			width: 100%;
		  .team-photo {
		    border-radius: 50%;
		    height: 60px;
		    width: 60px;
		    display: block;
		    float: none;
		    margin: 0 auto;
		    border: 2px solid #FFF;
		    img {
		      border-radius: 50%;
		    }
		  }
		  .info {
		    float: none;
		    clear: both;
		    text-align: center;
		    .team-name {
		      font-size: 1.125em;
		      font-weight: 600;
		    }
		  }
		}
	}
	.button {
		margin-top: 2em;
	}
}

// Blog Post Detail
//
.blog {
	.blog-header {
		padding: 10em 0 3em;
		background: darken($brown, 10%);
		.leadin {
			width: 100%;
			text-align: left;
			.post-title {
  		  font-family: 'Open Sans Condensed', sans-serif;
  		  font-size: 3.5rem;
  		  font-weight: 700;
  		  padding: 0;
  		  @media screen and (max-width: $mobile) {
  		   	font-size: 2.25rem;
  		  }
  		}
		}
	}

  .tags {
  	background: lighten(#d5cec3,15%);
  	padding: 1.5em 1em;
  	margin: 0 0 2.5em 0;
  	font-size: 0.875em;
  	.tag-label {
  		color: $brown;
  	}
  	.tag-label:before {
  	  margin-right: 5px;
  	}
  	a {
  	  border-bottom: 1px dotted $orange;
      margin-right: .3em;
  	}
  }
  .leadin {
  	color: #f1f1f1;
  }
}

// Bylines
.byline {
	width: 100%;
  .team-photo {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    margin: 0 1em 0 0;
    border: 2px solid #FFF;
    img {
      border-radius: 50%;
    }
  }
  .info {
    float: left;
    text-align: left;
    padding: 0.25em 0;
    .team-name {
      font-size: 1.125em;
      font-weight: 600;
    }
  }
}

.post-date {
	font-size: 0.85em;
	color: #d2d2d2;
	font-style: italic;
	margin-bottom: 0;
}

//
// Blog Archives
//
.blog {
  .hero {
    height: 500px;
    .leadin {
      text-align: left;
      width: 66.66667%;
      padding-top: 8em;
      padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			@media screen and (max-width: $tablet) {
      	width: 100%;
      }
      h1 {
      	padding-top: 0;
      }
    }
  }
}

.pagination {
	background: darken($brown, 10%);
	margin: 2em 0 0;
	overflow: hidden;
  .previous,
  .next {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    padding: 4em 2em;
    background: darken($brown, 10%);
  	font-size: 1.5em;
  	font-weight: 600;
  	min-height: 264px;
  	@include transition(background, 0.6s);
  	a {
  		color: #FFF;
  		line-height: 1.5em;
  		display: block;
  	}
    .arrow {
    	font-size: 6em;
    	color: $brown;
    	margin-top: -25px;
	  }
    &:hover {
    	background: $orange;
    }
  }
  .previous {
  	border-right: 1px solid #FFF;
  	.arrow {
  	  float: left;
  	  margin-right: 0.25em;
    }
  }
  .next {
  	.arrow {
  	  float: right;
  	  margin-left: 0.25em;
    }
  }
  @media screen and (max-width: $tablet) {
  	.previous,
  	.next {
  		width: 100%;
  		float: none;
  		padding: 1em;
  		.arrow {
  			width: 100%;
  			text-align: center;
  			line-height: 1em;
  		}
  	}
  	.previous {
  		border-bottom: 1px solid #FFF;
  		border-right: 0;
  	}
  }
}

//
// Work Detail
//
.project {
	.intro {
		width: 60%;
		float: left;
		@media screen and (max-width: $tablet) {
			float: none;
			width: 100%;
		}
		p {
			font-size: 1.25em;
		}
	}
	.expertise-list {
		width: 35%;
		margin-left: 5%;
		float: right;
		margin-top: 1.5em;
		padding: 1em;
		border-left: 2px solid $orange;
		@media screen and (max-width: $tablet) {
			float: none;
			width: 100%;
			border-left: none;
			padding: 0;
			margin-left: 0;
		}
		h5 {
			font-weight: 500;
			text-transform: uppercase;
			color: $orange;
			font-size: 1em;
		}
		ul {
			li {
				list-style: none;
			}
			li:before {
				content: "\e609";
				color: $orange;
  			font-family: ts;
  			display: inline-block;
  			margin-left: -1.2em;
  			width: 1.4em;
  		}
		}
	}
	section {
		min-height: 400px;
		.row {
			position: relative;
			.section-bg {
				img {
					width: 100%;
					height: auto;
				}
			}
			.col1 {
				position: absolute;
				top: 3em;
				left: 1em;
				z-index: 200;
				@media screen and (max-width: $tablet) {
      		position: relative;
      		top: 0;
      		left: 0;
      	}
			}
			.col2 {
				text-align: center;
			}
		}
	}
}

.holder {
	display:none;
}

.no-js .holder {
	display: block;
}

section.header {
  padding: 3em 0 0;
}

section {
  padding: 0 0 3em;
}

.breakpoints {
  background: #FFF;
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  @include clearfix;
  text-align: center;
}

section.results {
  padding: 8em 0;
  text-align: center;
  background: #f1f1f1;
  .stats {
    .stat {
      background: #FFF;
      display: block;
      height: 250px;
      width: 250px;
      margin: 0 auto 1em;
      padding: 4em 0;
      @include border-radius(50%);
      border: 6px solid $orange;
      .figure {
        font-size: 4em;
        font-weight: 600;
        color: $orange;
      }
      .figure.thousands:after {
      	content: "k";
      }
    }
    .stat.percent .figure:after  {
    	content: "%";
    }
    .key {
      font-size: 1.2em;
      color: darken($brown, 25%);
      font-weight: 600;
    }
  }
}

section.results.narrative {
	background-position: center -100%;
	background: no-repeat;
	min-height: 800px;
	padding: 4em 0;

	p {
		font-size: 1.25rem;
	}

	img {
		@include clearfix;
	}

	.button {
		margin-top: 4em;
		clear: both;
	}
}

#client-list {
  ul {
    list-style: none;
    text-align: center;
    li {
      padding: 0.75em 0;
    }
  }
}

//
// FOOTER
//
footer {
  background: #f1f1f1 url('../images/footer.jpg') no-repeat;
  background-position: top center;
  background-size: cover;

  .contact-info {
    color: #FFF;
    font-size: 1.25em;
    p {
    	margin: 0;
    }
    h4 {
      color: $orange;
    }
    .copyright {
      font-size: 0.75em;
    }
  }
  ul#social_media {
  	margin: 0;
  	padding: 0;
  	li {
  		list-style: none;
  		display: inline-block;
  		padding: 0 0.25em;
  		a {
  			font-size: 1.75em;
  			color: #FFF;
  			@include transition-property(all);
	    	@include transition-duration(0.2s);
  			&:hover {
  				color: $orange;
  			}
  		}
  	}
  	li:first-child {
  		padding: 0 0.25em 0 0;
  	}
  }
}

//
// Foundation Reveal Overrides
//
.reveal-modal {
	z-index: 2000;
}

.reveal-modal-bg {
	z-index: 1999;
}

pre {
  margin-bottom: 1.25rem;
}

.caption {
  font-style: italic;
}
