// Compass Includes
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/box";
@import "compass/utilities/general/clearfix";

// Project Specific Includes
@import "_base";
@import "_contact-form";
@import "_icons.scss";
@import "_layout.scss";
@import "_typography.scss";
@import "_navigation.scss";

html,
body {
  background: #FFF;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1.title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
}

a.button.default {
  @include ts-button();
}

.site-width {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  clear: left;
  height: 100%;
}

.background {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}


.main {
  position: relative;
  padding: 2em 1em;
}

//
// HOME
//
body.welcome {
  #container {
    height: 100%;
  }

  .hero {
    position: relative;
    z-index: 200;
    height: 100%;
    padding: 0 1em;
    text-align: left;
  }
  
  .hero-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 860px;
    background-color: $orange;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .home-nav {
    position: absolute;
    bottom: 1em;
    width: 100%;
    z-index: 300;
  
    @media screen and (max-width: $mobile) {
      position: relative;
    }
    .large-block-grid-3 > li {
      padding: 0;
    }
  }
}

//
// BLOCKS
//

// We're Hiring Block
#careers-block {
  background: $orange;
  padding: 1em;
  height: 100%;
  h2 {
    color: #FFF;
  }
}

//
// Homepage Most Recent 3 Blog Posts
//
ul#most-recent-blog {
  li {
    padding: 1em;
    .quote {
      position: relative;
      padding: 1em;
      background: #FFFFFF;
      border: 5px solid #d2d2d2;
      @include border-radius(6px);
    }
    .quote:before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 40px;
      border-width: 20px 20px 0;
      border-style: solid;
      border-color: #d2d2d2 rgba(0, 0, 0, 0);
      display: block;
      width: 0;
    }
    .quote:after {
      content: "";
      position: absolute;
      bottom: -13px;
      left: 47px;
      border-width: 13px 13px 0;
      border-style: solid;
      border-color: #FFF rgba(0, 0, 0, 0);
      display: block;
      width: 0;
    }
  }
}

//
// Contact Widget
//
.contact {
  padding: 4em 0;
  background: #d5cec3;
  clear: both;
}
ul.social {
  list-style: none;
  font-size: 2em;
  margin: 0;
  li {
    display: inline-block;
    padding: 0.5em;
  }
}

// 
// TEAM
//
.team-blog {
  margin-top: 4em;
  h6 {
  	text-transform: uppercase;
  }
  .post {
  	border-left: 2px solid #f1f1f1;
  	padding-left: 1em;
  	.post-title {
  		font-weight: 500;
  	}
  	.post-date {
  		font-size: 0.85em;
  		color: #d2d2d2;
  		font-style: italic;
  	}
  }
}

.team-detail {
	.position {
		font-weight: 500;
		color: $orange;
	}
}

ul.team {
	article {
		text-align: center;
		.name {
			font-weight: 600;
			font-size: 1.25rem;
			margin: 0.5em 0 0 0;
		}
		.position {
			font-size: 0.85rem;
		}
	}
}

//
// HOME
//
#container {
	height: 100%;
	position: relative;
	@media screen and (max-width: $tablet) {
    height: 80%;
  }
  @media screen and (max-width: $mobile) {
    height: 100%;
  }
	.marquee {
	  background: $orange url('../images/marquee/home.jpg') no-repeat;
	  background-position: bottom center;
	  background-size: cover;
	  .leadin {
	    h1 {
	      font-size: 3.5rem;
	      @media screen and (max-width: $mobile) {
  			  font-size: 2.5rem;
  			}
	    }
	  }
	}
}

#hiring {
  background: #FFF;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 500;
  color: $orange;
  @include border-radius(50%);
  font-weight: 800;
  height: 125px;
  width: 125px;
  padding: 3.25em 0 0;
  text-align: center;
  border: 2px solid #FFF;
}

//
// WORK
//
ul.client-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: block;
    width: 30%;
    float: left;
    margin-right: 3%;
    height: 50px;
  }
}

//
// Banner
//
.banner {
  position: relative;
  .header {
    position: absolute;
    bottom: 0;
    left: 16.66667%;
    background: #FFF;
    padding: 0 1em;
    h1 {
      color: #222;
      margin-bottom: 0;
    }
    h3 {
      color: $orange;
    }
  }
}

// 
// Expertise 
// 
.expertise {
  clear: both;
  padding: 3em 0em 6em;
  border-bottom: 2px solid $beige;
  @media screen and (max-width: $mobile) {
  	padding-bottom: 2em;
  }
  ul {
    font-size: 0.875em;
    font-style: italic;
    color: $brown;
    margin: 1em 0 5em;
    padding: 0;
    width: 46%;
    float: left;
    @media screen and (max-width: $mobile) {
     	float: none;
      width: 100%;
      margin-right: 0;
    }
    li {
      list-style: none;
      display: block;
      margin-right: 1em;
    }
  }
  ul:nth-child(2) {

  }
}
.expertise:last-child {
  border-bottom: 0;
}

//
// Blog
//
// Landing Page
.page-container.blog {
	.split {
		.side-right {
			.intro-content {
				left: 0;
				right: 0;
				ul {
				  margin: 0;
				  padding: 0;
				  li {
				    list-style: none;
				    position: relative;
				    display: block;
				    overflow: none;
				    padding: 2em 4em;
				    border-bottom: 2px solid #DADADA;
				    @include clearfix;
				    @media screen and (max-width: $tablet) {
        			padding: 2em;
      			}
				    a {
				      display: block;
				      color: #222;
				      h2 {
				      	color: $orange;
				      }
				    }
				    &:hover {
				      background: $orange;
				    	a {
				    	  display: block;
				    	  color: #FFF;
				    	  h2 {
				    	  	color: #FFF;
				    	  }
				    	}
				    }
				  }
				}
			}	
		}
	}
}

//
// Blog Post Detail
//
.blog {
  .main {
    margin: 100px 0 0 0;
  }
  .post-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    @media screen and (max-width: $mobile) {
     	font-size: 2.25rem;
    }
  }
  .tags {
  	a {
  		text-decoration: underline;
  	}
  }
  .leadin {
  	color: #f1f1f1;
  }
}

// Bylines
.byline {
	width: 100%;
  .team-photo {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    margin: 0 1em 0 0;
    border: 2px solid #FFF;
    img {
      border-radius: 50%;
    }
  }
  .info {
    float: left;
    text-align: left;
    .team-name {
      font-size: 1.125em;
      font-weight: 600;
    }
  }
}

//
// Blog Archives 
//
.blog {
  .hero {
    height: 500px;
    .leadin {
      text-align: left;
      width: 66.66667%;
      padding-top: 8em;
      padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			@media screen and (max-width: $tablet) {
      	width: 100%;
      }
    }
  }
}

.paginator {
  .blog-nav {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    .teaser {
      position: absolute;
      top: 1em;
      width: 60%;
      left: 20%;
      z-index: 100;
      h5 {
        color: #d2d2d2;
        font-size: 1.125em;
        border-bottom: 1px solid #222;
      }
    }
    .mute {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: 10;
      &:hover {
        background: rgba(0,0,0,0);
      }
    }
  }
  .blog-nav.next-post {
    border-left: 1px dotted #FFF;
  }
}

//
// Work Detail
//
.project {
	section {
		min-height: 400px;
		.row {
			position: relative;
			.section-bg {
				img {
					width: 100%;
					height: auto;
				}
			}
			.col1 {
				position: absolute;
				top: 6em;
				left: 1em;
				z-index: 200;
			}
			.col2 {
				position: absolute;
				top: 1em;
				right: 0;
				z-index: 200;
			}
		}
	}
}

section.header {
  padding: 3em 0 0;
}

section.intro {
  padding: 3em 0;
}

.breakpoints {
  background: #FFF;
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  @include clearfix;
  text-align: center;
}

section.results {
  padding: 8em 0;
  text-align: center;
  background: $orange;
  .stats {
    .stat {
      background: #FFF;
      display: block;
      height: 250px;
      width: 250px;
      margin: 0 auto 1em;
      padding: 3em 0;
      @include border-radius(50%);

      .figure {
        font-size: 5em;
        font-weight: 600;
        color: $orange;
      }
    }
    .key {
      font-size: 1.2em;
      color: #FFF;
      font-weight: 600;
    }
  }
}

#client-list {
  ul {
    list-style: none;
    text-align: center;
    li {
      padding: 0.75em 0;
    }
  }
}

//
// Projects List View
//

article.project-teaser {
  display: block;
  position: relative;
  height: 600px;
  .teaser-hero {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  }
  .text {
  	display: block;
  	position: absolute;
  	bottom: 0;
  	left: 0; 
  	right: 0;
  	background: darken($brown, 25%);
  	padding: 1em;
  	.project-title {
  	  width: 80%;
  	  float: left;
  	}
  	.more-link {
  	  width: 20%;
  	  float: left;
  	}
	}
}


.project.teaser.even {
}

.project.teaser.odd {
}

// 
// FOOTER 
//
footer {
  background: #f1f1f1 url('../images/footer.jpg') no-repeat;
  background-position: top center;
  background-size: cover;

  .contact-info {
    color: #FFF;
    font-size: 1.25em;
    h4 {
      color: $orange;
    }
    .copyright {
      font-size: 0.75em;
    }
  }
}

// 
// Foundation Reveal Overrides
// 
.reveal-modal {
	z-index: 2000;
}

.reveal-modal-bg {
	z-index: 1999;
}


