@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "_base";

$mobile: 480px;

html,
body {
  background: #FFF;
  height: 100%;
}

h1.title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
}

h1#logo {
  background: url(../images/thinkshout-id.png) top left no-repeat;
  display: block;
  width: 250px;
  height: 100px;
  overflow: hidden;
  text-indent: -100%;
  margin: 0; 
}

h1#homeLogo {
  background: url(../images/thinkshout-id-white.png) top left no-repeat;
  display: block;
  width: 250px;
  height: 100px;
  overflow: hidden;
  text-indent: -100%;
  margin: 0 auto;
}



// TYPOGRAPHY


h5 {
  color: $orange;
  text-transform: uppercase;
}

// STRUCTURE

header {
  height: 100px;
  position: fixed;
  background: #FFF;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      float: left;
      list-style: none;
      a {
        display: block;
        padding: 2em 1em;

      }
    }
  }
}

#container, 
.content {
  height: 100%;
}

.site-width {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
  clear: left;
  height: 100%;
}

.row {
  width: 90%;
  margin: 0 auto;
}


.background {
  position: absolute;
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

.leadin {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 50%;
  z-index: 200;

  @media screen and (max-width: $mobile) {
    float: none;
    width: 100%;
  }

  h2 {
    color: #FFF;
    font-weight: 600;
  }
}



.main {
  position: relative;
  padding: 2em 1em;
}

/*
 * HOME
 */
body.home {
  .hero {
    position: relative;
    z-index: 200;
    height: 100%;
    padding: 0 1em;
    text-align: left;
  }
  
  .hero-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 860px;
    background-color: $orange;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .home-nav {
    position: absolute;
    bottom: 1em;
    width: 100%;
    z-index: 300;
  
    @media screen and (max-width: $mobile) {
      position: relative;
    }
  
    ul.navblocks {
      li {
        .content {
          padding: 1em;
          margin: 0 0.5em;
          height: 150px;
          h3 {
            font-size: 1.5em;
            font-weight: 600;
            a {
              display: block;
              vertical-align: middle;
              color: darken($brown, 20%);
              &:hover {
      
              }
              .rubric {
                color: #FFF;
                font-size: 0.5em;
                text-transform: uppercase;
                display: block;
              }
            }
          }
        }
      }
    }
    .large-block-grid-3 > li {
      padding: 0;
    }
  }

  ul#most-recent-blog {
    li {
      padding: 1em;
      .quote {
        position: relative;
        padding: 1em;
        background: #FFFFFF;
        border: 5px solid #d2d2d2;
        @include border-radius(6px);
      }
      .quote:before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 40px;
        border-width: 20px 20px 0;
        border-style: solid;
        border-color: #d2d2d2 rgba(0, 0, 0, 0);
        display: block;
        width: 0;
      }
      .quote:after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 47px;
        border-width: 13px 13px 0;
        border-style: solid;
        border-color: #FFF rgba(0, 0, 0, 0);
        display: block;
        width: 0;
      }
      .byline {
        margin: 2em 0 0 7em;
        font-size: 0.8em;
      }
    }
  }
}

/*
 * LIST VIEWS
 * Work, Team, Careers
 */  
body.list {
  .main {
    position: relative;
    width: 100%;
    z-index: 200;
    background: #FFF;
  }
  .hero {
    height: 760px;
    text-align: center;
    width: 100%;
    .leadin {
      width: 50%;
      margin: 0 auto;
    }
  }
  .hero-image {
    height: 760px;
  }
}

/*
 * DETAIL VIEWS
 * Work, Team, Careers
 */ 
body.detail .main {
  position: relative;
  width: 100%;
  z-index: 200;
  background: #FFF;
  margin-top: 100px;
}

.hero {
  position: relative;
  z-index: 200;
  height: 100%;
  padding: 0 1em;
  text-align: left;
}

.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 860px;
  background-color: $orange;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

footer {
  height: 450px;
  width: 100%;
  padding-top: 4em;
  background: #f1f1f1;

  ul {
    list-style: none;
    li {
      a {
      }
    }
  }
}

.top-bar {
  z-index: 1000;
}


.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background: #FFF;
  text-align: left;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;

  .caption {
    position: absolute;
    left: 2em;
    top: 10em;
    max-width: 30em;
    h2 {
      color: #FFF;
    }
  }

  .learn-more {
    position: absolute;
    width: 20em;
    left: 50%;
    padding: 1em 0;
    bottom: -2em;
    margin-left: -10em;
    background: #FEFEF6;
    text-align: center;
    border: 3px double $brown;
    p {
      margin-bottom: 0;
    }
  }
}

.sizer {
  position: absolute;
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

.lead {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  z-index: 200;
}

.heading {

}

section.main {}

//
// HOME
//
.home header {
  background: transparent;
  position: absolute;
}

.home .marquee {
  background: $orange;
  height: 100%;
  width: 100%;

  #leads {
    position: absolute;
    bottom: 1em;
  }

  .leadin {
    h2 {
      font-size: 3em;
      font-weight: 600;
    }
  }
}

// From The Blog
.from-the-blog {
  h5 {
    color: $brown;
    margin-top: 0.5em;
  }
}

#hiring {
  background: #FFF;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 500;
  color: $orange;
  @include border-radius(50%);
  font-weight: 800;
  height: 125px;
  width: 125px;
  padding: 3.25em 0 0;
  text-align: center;
  border: 2px solid #FFF;
}

//
// WORK
//

.Work .marquee {
  background: transparent url(../images/placeholderslide2.jpg) top center no-repeat;
  background-size: cover;
}

// Banner
.banner {
  position: relative;
  .header {
    position: absolute;
    bottom: 0;
    left: 16.66667%;
    background: #FFF;
    padding: 0 1em;
    h1 {
      color: #222;
      margin-bottom: 0;
    }
    h3 {
      color: $orange;
    }
  }
}

// Blog

.paginator {
  .blog-nav {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    .teaser {
      position: absolute;
      top: 1em;
      width: 60%;
      left: 20%;
      z-index: 100;
      h5 {
        color: #d2d2d2;
        font-size: 1.125em;
        border-bottom: 1px solid #222;
      }
    }
    .mute {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: 10;
      &:hover {
        background: rgba(0,0,0,0);
      }
    }
  }
  .blog-nav.next-post {
    border-left: 1px dotted #FFF;
  }
}

// Work Detail
section.header {
  padding: 3em 0 0;
}

section.intro {
  padding: 3em 0;
}

section.discovery {
  padding: 3em 0 3em 0;
  
  h2.section-heading {
  }

  h3 {
  }

  .breakpoints.collapsed {
    background: #FFF;
    margin-bottom: 2em;
  }

  .breakpoints.collapsed {
    height: 600px;
    overflow: hidden;
  }
  .breakpoints.expanded {
    height: 100%;
    overflow: hidden;
  }
}

section.strategy {
  padding: 3em 0;

  h2.section-heading {
  }
}

section.development {
  padding: 3em 0;
}

section.results {
  padding: 3em 0;
}

// Button Styling
a.button {
  font-weight: 300;
}

a.button.overlay {
  background: rgba(255,255,255,0.25);
  @include border-radius(3px);
  border: 1px solid #FFF;
  color: #FFF;

  &:hover {
    background: rgba(255,255,255,0.65);
  }
}

a.button.default {
  background: transparent;
  @include border-radius(3px);
  border: 1px solid #d2d2d2;
  color: #444;

  &:hover {
    border: 1px solid #222;
    color: #222;
  }
}


// Projects 

.project.teaser {
  padding: 6em 0;
  h1.project-title {

  }

  p {
    font-size: 1.2em;
  }
}

.project.teaser.even {
  background: #FFF;
}

.project.teaser.odd {
  background: #FFF;
}

