---
layout: default
title: Careers
description: "What to work at ThinkShout? Available job openings"
keywords:
  - careers
  - job openings
  - web engineers
  - front end developers
  - project managers
  - graphic designers
  - digital strategists
---

<div class="content careers">
  <div class="hero-image"></div>
  <div class="hero">
    <div class="site-width">
      <div class="background"></div>
      <div class="leadin">
        <h2>Want to Work at ThinkShout?</h2>
      </div>
    </div>
  </div>
  <section class="main">
    <div class="section-rubric">
      <h3><span>Let's Talk</span></h3>
    </div>
    <div class="row">
      <div class="large-9 columns large-centered">
        <p>We build lasting relationships with our clients, and we do so with a style and thoughtfulness you won’t find anywhere else. If you share our passion for open source technologies and digital strategy, we'd love to hear from you.</p><p>The following positions are currently available on our team:</p>
        <div class="job-list">
        	{% for page in site.pages %}
        	{% if page.layout == 'job' and page.active == true %}
        	  <article>
        	    <div class="row">
        	      <div class="large-12 columns">
        	        <a class="title" href="{{ page.url }}" data-reveal-id="myModal" data-reveal-ajax="true">{{ page.title}}</a>
        	      </div>
        	    </div>
        	  </article>
        	{% endif %}
        	{% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="content-bottom">
    <div class="section-rubric">
      <h3><span>More About Us</span></h3>
    </div>
    <div class="row">
      <div class="large-9 columns large-centered">
        <p>We lead with technical excellence, innovation, and sustainable business practices. We focus on interesting projects that lead to open source contributions that serve grassroots organizers and progressive causes. We are maintainers of many popular Drupal modules such as the MailChimp and Salesforce Integration suites, as well as <a href="http://redhencrm.com/">RedHen CRM</a>. We’ve got our finger on the pulse of the open source community and we contribute back daily with updates and new tools designed to make everyone’s development process easier.</p>
        <p>We have distilled the following vision for our business:
        <ul>
          <li>Invest in the most talented technologists, project managers, and designers possible.</li>
          <li>Work with clients committed to positive social change.</li>
          <li>Don't compromise on tools, process, or quality.</li>
          <li>Work hard, have fun, and give back.</li>
        </ul>
        <p>If you think this is the kind of work you could get behind, give us a shout!</p>
      </div>
    </div>
  </section>
</div>

<div id="myModal" class="reveal-modal medium" data-reveal>
	{{ page.content }}
</div>
