// Colors
$orange: #f26d21;
$midorange: #f58546;
$ltorange: #f78c50;
$yellow: #f1b332;

// Orange to yellow blend
$orange-yellow1: #F27F25;
$orange-yellow2: #F2902A;
$orange-yellow3: #F1A22E;

// Grayscale
$white: #fff;
$ltgray: #dbdcde;
$midgray: #626262;
$darkgray: #58585b;
$backgroundgray: #555555;
$black: #000;

// Text
$line-height: 1.75;

// Helper classes
.valign-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.valign {
  display: table-cell;
  vertical-align: middle;
}
