// Colors
$orange: #F06D2F;
$midorange: #f58546;
$ltorange: #f78c50;
$bright-orange: #FF9015;
$bene-orange: $bright-orange;
$yellow: #f1b332;
$midyellow: #EFB241;

// Orange to yellow blend
$orange-yellow1: #F27B24;
$orange-yellow2: #F28928;
$orange-yellow3: #F1972B;
$orange-yellow4: #F1A52F;

// Grayscale
$white: #fff;
$ltgray: #dbdcde;
$bggray: #ececec;
$casegray: #3e3e3e;
$midgray: #626262;
$herogray: #656565;
$darkgray: #525255;
$backgroundgray: #555555;
$darkergray: #292929;
$bgblack: #242424;
$black: #000;

// Text
$line-height: 1.75;

// Helper classes
.valign-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.valign {
  display: table-cell;
  vertical-align: middle;
}

// Wonderlab

$wl-black: #252526;
$wl-pink: #7C0081;
