// Colors
$orange: #F06D2F;
$midorange: #f58546;
$pale-orange: #F38958;
$a11y-orange: #BF450D;
$ltorange: #f78c50;
$bright-orange: #FF9015;
$dark-orange: #D24C0F;
$bene-orange: $bright-orange;
$yellow: #f1b332;
$midyellow: #EFB241;

// Orange to yellow blend
$orange-yellow1: #F27B24;
$orange-yellow2: #F28928;
$orange-yellow3: #F1972B;
$orange-yellow4: #F1A52F;

// Grayscale
$white: #fff;
$ltgray: #dbdcde;
$bggray: #ececec;
$casegray: #3e3e3e;
$midgray: #626262;
$herogray: #656565;
$darkgray: #525255;
$backgroundgray: #555555;
$darkergray: #292929;
$lightgray: #707070;
$bgblack: #242424;
$black: #000;

// Text
$line-height: 1.75;

// Helper classes
.valign-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.valign {
  display: table-cell;
  vertical-align: middle;
}

// Wonderlab

$wl-black: #252526;
$wl-pink: #7C0081;
$wl-purple: #5B005F;
$wl-ltblue: #67889E;
$wl-white: #ECECEC;
$wl-ltgray: #ADADAD;
$wl-grayborder: #DCDCDC;
$wl-spacer-1: 10px;
$wl-spacer-2: 25px;
$wl-spacer-3: 50px;
$wl-spacer-4: 75px;
// Use this when debugging animation.
//$wl-spotlight: radial-gradient(red 0%, red 10%, blue 20%, blue 100%);
$wl-spotlight: radial-gradient(rgba(1, 29, 43, 0.5) 0%, rgba(1, 29, 43, 0.5) 20%, rgba(1, 29, 43, 0.8) 50%, rgba(1, 29, 43, 0.8) 100%);
