// Colors
$orange: #f26d21;
$midorange: #f58546;
$ltorange: #f78c50;
$bright-orange: #FF9012;
$yellow: #f1b332;

// Orange to yellow blend
$orange-yellow1: #F27B24;
$orange-yellow2: #F28928;
$orange-yellow3: #F1972B;
$orange-yellow4: #F1A52F;

// Grayscale
$white: #fff;
$ltgray: #dbdcde;
$midgray: #626262;
$darkgray: #58585b;
$darkergray: #292929;
$backgroundgray: #555555;
$black: #000;

// Text
$line-height: 1.75;

// Helper classes
.valign-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.valign {
  display: table-cell;
  vertical-align: middle;
}
