html { scroll-behavior: smooth; }

body {
  scroll-behavior: smooth;
  font-family: $primary-font;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  margin-top: 8.5rem;
}

h1 {
  font-size: rem(42);
}

h2 {
  font-size: rem(40);
}

p {
  font-size: 1em;
  line-height: $line-height;
}

li {
  list-style-type: none;
}

a,
a:visited {
  color: $orange;
  text-decoration: none;
}

.visually-hidden,
a.visually-hidden {
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  word-wrap: normal;
  z-index: 0;
}
a.visually-hidden {
  color: $darkgray;
  left: 5px;
  top: 5px;
}
.wonderlab-page a.visually-hidden {
  color: $white;
}
a.visually-hidden.focusable:active,
a.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  width: auto;
  z-index: 300;
}
