body {
  font-family: $primary-font;
  font-size: 16px;
}

.main-content {
  margin-top: 8.5rem;
}

h1 {
  font-size: rem(42);
}

h2 {
  font-size: rem(40);
}

h3 {
  font-size: 1.25rem;
}

h4 {
  color: $midgray;
  font-size: 1.75rem;

  @media (max-width: 480px) { font-size: 1.25rem; }
}

h5 {
  line-height: $line-height;
}


p {
  font-size: 1rem;
  line-height: $line-height;
}

.intro,
.text p {
  font-size: 1.5rem;
  line-height: $line-height;
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

li {
  line-height: $line-height;
  list-style-type: none;
}

a,
a:visited {
  color: $orange;
  text-decoration: none;
}

.cursive-h1 {
  color: $white;
  font-family: "FilmotypeLucky";
  font-size: 5.5rem;
  font-weight: normal;
  letter-spacing: .5px;
  text-transform: none;
  @media (max-width: 480px) { font-size: rem(56); }
}

.cursive-h2 {
  color: $ltgray;
  font-family: "FilmotypeLucky";
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: .5px;
  text-transform: none;
}

.orange-bullets {
  margin-left: .75rem;
  padding-left: 0;

  li:before {
    color: #f26d21;
    content: '•';
    display: block;
    float: left;
    line-height: $line-height;
    margin-left: -.75rem;
    margin-right: .25rem;
    width: .5rem;
  }
}

//Section header with underline arrow beneath
p.subheader-arrowdown {
  color: $midgray;
  font-size: .8rem;
  font-weight: 900;
  margin-bottom: $vertical-padding;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 100%;

  &:after {
    bottom: -1.5rem;
    background-image: url('../images/ts_redesign/underline-point.svg');
    background-repeat: no-repeat;
    content: '';
    height: 1rem;
    left: 0;
    position: absolute;
    width: 4rem;
  }
}

//Form labels
//Section header with underline arrow beneath
form.contact label {
  color: $midgray;
  font-size: .8rem;
  font-weight: 900;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}