html { scroll-behavior: smooth; }

body {
  scroll-behavior: smooth;
  font-family: $primary-font;
  font-size: 16px;
}

.main-content {
  margin-top: 8.5rem;
}

h1 {
  font-size: rem(42);
}

h2 {
  font-size: rem(40);
}

p {
  font-size: 1em;
  line-height: $line-height;
}

li {
  list-style-type: none;
}

a,
a:visited {
  color: $orange;
  text-decoration: none;
}
