// Dotted Overlay
.dotted-overlay,
%dotted-overlay {
  content: "";
  background: transparent url('../images/ts_redesign/dot.png') repeat repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

// Uppercase links with right pointed carets on the end
.uppercase-link,
%uppercase-link {
  color: $darkgray;
  font-size: rem(14);
  font-weight: bold;
  text-transform: uppercase;

  i {
    color: $yellow;
    font-size: 1.5rem;
    margin-left: rem(10);
    vertical-align: sub;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:visited {
    color: $darkgray;
  }
}

// Upper header text with the down facing arrow
.header-down-caret {
  h4 {
    font-size: rem(13);
    margin-bottom: 0;
    padding-bottom: 1rem;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: '';
      background: $midgray;
      bottom: 0;
      left: 0;
      height: 4px;
      position: absolute;
      width: 55px;
    }
  }

  .fa-caret-down {
    color: $midgray;
    font-size: 1.5rem;
    margin-top: -9px;
    padding-left: 1.25rem;
    padding-top: 0;
    position: absolute;
  }
}


.fa-caret-up,
%fa-caret-up {
  display: block;
  width: 37px;
  color: $ltgray;
  position: relative;
  border-bottom: 2px solid $ltgray;
  margin-bottom: 0.8rem;
  margin-top: 1.1rem;
  &:before {
    bottom: -7px;
    font-size: 1.2rem;
    left: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    text-align: center;
  }
}

.byline,
%byline {
  color: lighten($midgray,10%);
  text-align: left;
  display: inline-block;
  line-height: 1.4;
  font-size: rem(14);
  margin-bottom: 2rem;
  padding-right: 0;
  a {
    @include transition(color,0.3s,linear);
    color: #000;
    display: inline-block;
    font-size: rem(15);
    font-weight: 700;
    padding-top: rem(6);
    &:hover,
    &:focus,
    &:active {
      outline: none;
      text-decoration: underline;
    }
  }
  img {
    width: rem(54);
    height: auto;
    float: left;
    margin-right: rem(16);
    border-radius: 50%;
  }
}

// Helper classes
.hidden {
  display: none;
  visibility: none;
}
