// Dotted Overlay
.dotted-overlay,
%dotted-overlay {
  content: "";
  background: transparent url('../images/ts_redesign/dot.png') repeat repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

// Uppercase links with right pointed carets on the end
.uppercase-link,
%uppercase-link {
  color: $darkgray;
  font-size: rem(14);
  font-weight: bold;
  text-transform: uppercase;

  i {
    color: $ltorange;
    font-size: 1.5rem;
    margin-left: rem(5);
    vertical-align: sub;
  }
}
