---
layout: default
body-class: our-work
permalink: about/
title: About
---
<div class="intro">
  <div class="container">
    <div class="text">
      <h1>About</h1>
      <p>We partner with courageous organizations whose missions inspire our team and whose impact defines our work.</p>

      <p>ThinkShout exists to put people and the planet above all else.</p>

      <p>Our clients do incredible work to make the world a better place: social justice, education, environment, health and wellness, human rights, animal welfare, arts and culture, destination management, philanthropy, and technology. <a href="{{ site.baseurl }}contact/">We’d love to work with you.</a></p>

      <p>We pride ourselves on being a Beneficial Corporation. We see business as a positive force for the good of our staff, clients, and communities.</p>
    </div>
  </div>
</div>


<div class="our-values-block">
  <div class="container">
    <div class="right-caret">
      <h4>Core Values<i class="fa fa-caret-right"></i></h4>
    </div>

    <div class="down-caret">
      <h4>Core Values</h4>
      <i class="fa fa-caret-down"></i>
    </div>

    <div class="row">
      <div class="value">
        <h3>Impact</h3>
        <p>Everything we do is driven by our sense of connectedness and desire to deliver meaningful, measurable results.</p>
      </div>
      <div class="value">
        <h3>Compassion</h3>
        <p>Ideas only have meaning when put into service assisting others. We align ourselves with the needs of our courageous communities to help realize better outcomes.</p>
      </div>
      <div class="value">
        <h3>Inclusivity</h3>
        <p>Our work is better when performed by a team that reflects the community served. We are committed to building diversity, equity, and inclusion into everything we do.</p>
      </div>
      <div class="value">
        <h3>Curiosity</h3>
        <p>We are expert enough to recognize the best solution may be the one nobody has explored.</p>
      </div>
      <div class="value">
        <h3>Optimism</h3>
        <p>The world can be a better place. We commit every day to make that statement a reality.</p>
      </div>
      <div class="value">
        <h3>Transparency</h3>
        <p>We strive to be fully open and honest in our interactions with each other, our clients, and our community.</p>
      </div>
    </div>
  </div>
</div>



{% include contact.html %}


<div class="intro">
  <div class="container">
    <div class="text">
      <h1>Meet the Team</h1>
      <p>Our strategists, designers, technologists and project managers bring a unique combination of for-profit and for-cause backgrounds to ThinkShout. All of us work here to advance the progressive organizations and causes we love. That passion translates to the quality of <a href="{{ site.baseurl }}work/">work we produce.</a></p>
    </div>
  </div>
</div>

<div class="team">
  {%  include teamlisting.html %}
</div>

{% include careers-cta.html %}
