---
layout: default
body-class: connect-with-us
permalink: contact/
title: Contact
---
<div class="intro">
  <div class="container">
    <div class="text">
      <p>
        Say hello.<br/>
        <strong>Tell us</strong> about the change you'd like to create in the world.
      </p>
    </div>
  </div>
</div>

<section class="hero-image contact">
</section>

<div class="contact-form">
  <div class="container">
    <div class="contact-events-wrapper">
      <div class="contact-info">
        <h3>(503) 847-9216 <br/>
          hello@thinkshout.com
        </h3>
        <a href="https://www.google.com/maps/place/ThinkShout,+Inc./@45.526513,-122.677027,17z/data=!3m1!4b1!4m5!3m4!1s0x54950a00712618f7:0xdaf0f5fb40f137b6!8m2!3d45.526513!4d-122.674833"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
        <p class="text ts-address">433 NW 4th Ave Suite 100<br/>
        Portland, OR 97209
        </p>
      </div>
      <div class="upcoming-events">
        <p class="subheader-arrowdown">We'll see you at</p>
        {% for event in site.data.events %}
          <div class="event">
            <h2><a href="{{event.url}}" target="_blank">{{event.title}}</a></h2>
            <p><strong>{{event.dates}}</strong> &nbsp;|&nbsp; {{event.location}}</p>
            <!--<p>{{event.description}}</p>-->
          </div>
        {% endfor %}
      </div>
  </div>


    <form id="form1" name="form1" class="wufoo topLabel page contact" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" action="https://thinkshout.wufoo.com/forms/z76jm1g03ubu9b/#public">
      <p><strong>
      Ready to make your next project the first step in delighting your customers and growing your business?
      We'd love to chat!
      </strong></p>

      <div class="form-row">
        <div class="form-group half">
          <label for="Field1">First Name</label>
          <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" required="true"/>
        </div>
        <div class="form-group half">
          <label for="Field2">Last Name</label>
          <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" required="true" />
        </div>
      </div>
      <div class="form-group">
        <label for="Field3">Email</label>
        <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3"  />
      </div>
      <div class="form-group">
        <label for="Field4">How Can We Help You?</label>
        <textarea id="Field4"
        name="Field4"
        class="field textarea medium message"
        spellcheck="true"
        rows="10" cols="50"
        tabindex="4"
        onkeyup="" required ></textarea>
      </div>

      <div class="form-actions">
        <input id="saveForm" name="saveForm" class="btTxt submit button solid" type="submit" value="Submit"/>
      </div>

      <div class="hidden">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="+NWc1DGmTt1ujFlnka5DkuJ5WrMWvnDk7FWyNfbGeV4=" />
      </div>

    </form>
  </div>
</div>

<div class="container">
  <div class="featured-intro">
    <a href="{{ site.baseurl }}/work/"><h4>Featured Work</h4></a>
    <a href="{{ site.baseurl }}/work/" class="uppercase-link">More work<i class="fa fa-caret-right"></i></a>
  </div>

  <div class="two-case-studies">
    {% assign case-studies = site.case_studies | where: "homepage", "true" | sort: "order" %}
    {% for case in case-studies limit:3 %}
      {% if case.order > 1 %}
      <a href="{{ site.baseurl }}{{ case.url }}">
        <div class="case-study" id="case-study{{ case.order }}">
          <style>
            #case-study{{ case.order }} { background: url('{{ site.baseurl }}{{ case.cs-preview.image }}') center center no-repeat; }
          </style>
          <div class="case-study-text">
            <h2>{{ case.cs-preview.client }}</h2>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
