---
layout: default
body-class: what-we-do
permalink: expertise/
title: What We Do
---
<div class="intro">
  <div class="container">
    <div class="text">
      <h1>What We Do</h1>
       <p>We use technology and strategy to elevate organizations creating positive change in the world.</p>
    </div>
  </div>
</div>

{% assign expertise = site.expertise | sort: 'order' %}
{% assign counter = 1 %}
{% for area in expertise %}
  {% if area.layout == 'expertise-detail' %}
    <section class="expertise-teaser" id="expertise{{ counter }}">
      <div class="container">
        <div class="side expertise-teaser-left">
          <h1>{{ area.title }}</h1>
          <a href="{{ site.baseurl }}{{ area.url }}" class="uppercase-link">Learn More</a>
        </div>
        <div class="side expertise-teaser-right">
          <p>{{ area.blurb }}</p>
          <ul>
            {% for point in area.points %}
              {{ point }}
            {% endfor %}
          </ul>
          {% if area.examples %}
          <i class="fa fa-caret-up"></i>
          <p class="expertise-examples">
            {{ area.examples }}
          </p>
          {% endif %}
        </div>
      </div>
    </section>
    {% assign counter = counter | plus: 1 %}
  {% endif %}
{% endfor %}

{% include bene-cta.html %}

{% include open-source-contributions.html %}

