---
layout: home
title: Home
---

<div id="container">
	<div class="content">
		<div class="marquee">
			{% for post in site.categories.careers %}
				{% capture openings %}{{ post.active }}{% endcapture %}
			  {% if post.active == "true" %}
			    <a href="{{ site.baseurl }}/careers" id="hiring">We Hiring!</a>
			  {% endif %}
			{% endfor %}
			<!--<a href="{{ site.baseurl }}/careers" id="hiring">We're Hiring!</a>-->
			<div class="site-width">
				<div class="background"></div>
				<div class="leadin">
					<h2>Committed to designing and building open source solutions for the people who make good things happen.</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="home-nav">
	<ul class="large-block-grid-3 navblocks">
		<li>
			<div class="content">
				<h3><a href="{{ site.baseurl }}/team">We are forward-thinking geeks with big hearts and fresh ideas. <span class="rubric">Our Team</span></a></h3>
			</div>
		</li>
		<li>
			<div class="content">
				<h3><a href="{{ site.baseurl }}/work">We let our work do the talking. Take a look at what we’ve done.<span class="rubric">Our Work</span></a></h3>
			</div>
		</li>
		<li>
			<div class="content">
				<h3><a href="{{ site.baseurl }}/expertise">You need a solution that fits. We have the skills to make it happen.<span class="rubric">Our Expertise</span></a></h3>
			</div>
		</li>
	</ul>
</div>
<div class="main">
	<ul id="most-recent-blog" class="large-block-grid-3">
	{% for post in site.categories.blog limit:3 %}
		<li>
			<div class="quote">
				<h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a></h3>
				<p>{{ post.date | date: "%B %-d, %Y" }}</p>
			</div>
		</li>
	{% endfor %}
	</ul>
</div>