---
layout: default
body-class: our-work
permalink: our-work/
---
<div class="intro">
  <div class="container">
    <div class="text">
      <h1>Our Work</h1>
      <p>Whether it’s a simple site or a sophisticated e-commerce solution, our work excels in terms of engagement and effectiveness.</p>
    </div>
  </div>
</div>


{% assign case-studies = site.case_studies | sort: 'order' %}
<div class="work-listing">
  {% for preview in case-studies %}    
    <section class="case-study-header {{ preview.cs-class }}">
    <style>
      .case-study-header.{{ preview.cs-class }} { background-image: url('{{ preview.cs-preview.image }}'); }
    </style>
      <div class="gradient">&nbsp;</div>
      <div class="wrapper">
        <h4>{{ preview.cs-preview.type }}</h4>
        <h2>{{ preview.cs-preview.client }}</h4>
        <p class="description">{{ preview.cs-preview.description }}</p>
        <a href="/{{ preview.permalink }}" class="uppercase-link">Read More<i class="fa fa-caret-right"></i></a>
      </div>
    </section>
  {% endfor %}
</div>


{% include work-with-us.html %}

{% include open-source-contributions.html %}

{% include select-clients.html %}

