---
layout: default
body-class: what-we-do
permalink: what-we-do/
---
<div class="intro">
  <div class="container">
    <div class="text">
      <h1>What We Do</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</div>

{% assign expertise = site.expertise | sort: 'order' %}
{% assign counter = 1 %}
{% for area in expertise %}
  <section class="expertise-teaser" id="expertise{{ counter }}">
    <div class="container">
      <div class="side expertise-teaser-left">
        <h1>{{ area.title }}</h1>
        <a href="{{ site.baseurl }}/{{ area.permalink }}" class="uppercase-link">Learn More</a>
      </div>
      <div class="side expertise-teaser-right">
        <p>{{ area.blurb }}</p>
        <ul>
          {% for point in area.points %}
            {{ point }}
          {% endfor %}
        </ul>
        {% if area.examples %}
        <i class="fa fa-caret-up"></i>
        <p class="expertise-examples">
          {{ area.examples }}
        </p>
        {% endif %}
      </div>
    </div>
  </section>
  {% assign counter = counter | plus: 1 %}
{% endfor %}

{% include open-source-contributions.html %}
