---
layout: default
body-class: what-we-do
permalink: what-we-do/
---
<div class="intro">
  <div class="container">
    <div class="text">
      <h1>What We Do</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</div>

{% assign expertise = site.expertise | sort: 'order' %}
<div class="expertise">
  {% for area in expertise %}
    <section class="expertise-header">
      <div class="gradient">&nbsp;</div>
      <div class="wrapper">
        <div class="expertise-teaser-left">
          <h1>{{ area.title }}</h1>
          <button href="/{{ preview.permalink }}" class="uppercase-link">Learn More</button>
        </div>
        <div class="expertise-teaser-right">
          <p>{{ area.blurb }}</p>
          <ul>
            {% for point in area.points %}
              {{ point }}
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  {% endfor %}
</div>

{% include open-source-contributions.html %}
