---
layout: default
body-class: wonderlab-landing wonderlab-page
permalink: wonderlab/
title: WonderLab
---
{% include wonderlab-header.html %}

<div class="container wl-landing">
  <div class="wl-landing__intro">
    <strong>Curiosity + Impact + Big Ideas</strong><br/>
    <p>Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  {% comment %} This ensures that CBC content comes first, but in the future can be updated to show all blogs. {% endcomment %}
  {% for category in site.data.wonderlab.categories %}
    <div class="wl-landing__category">
      {% assign blogs = site.wonderlab | where: "category", category.id | sort: "index" %}
      <div class="wl-landing__blogs">
        {% for blog in blogs %}
          {% include wonderlab-blog-card.html %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
