---
layout: default
body-class: wonderlab-landing wonderlab-page
permalink: wonderlab/
title: WonderLab
image: /assets/images/wonderlab/wonderlab_logo.svg
---
{% include wonderlab-header.html %}

<div class="container wl-landing">
  <div class="wl-landing__intro">
    <strong>Curiosity | Impact | Optimism</strong><br/>
    <p>Emerging digital solutions that hinge on what’s <strong>possible</strong>, not just what’s <strong>probable</strong>.</p>
  </div>

  {% comment %} This ensures that CBC content comes first, but in the future can be updated to show all blogs. {% endcomment %}
  {% for category in site.data.wonderlab.categories %}
    <div class="wl-landing__category">
      {% assign blogs = site.wonderlab | where: "category", category.id | sort: "index" %}
      <div class="wl-landing__blogs wl-blogs">
        {% for blog in blogs %}
          {% include wonderlab-blog-card.html %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
