---
layout: default
body-class: our-work
permalink: work/archive
title: Work Archive
---
<div class="intro">
  <div class="container">
    <div class="text">
      <h1>Work Archive</h1>
      <p>Whether it’s a simple site or a sophisticated e-commerce solution, our work excels in terms of engagement and effectiveness.</p>
    </div>

    {% assign case-studies = (site.case_studies | where: "published", "true") %}
    {% for preview in case-studies %}
      {% include case_study_preview.html %}
    {% endfor %}
  </div>
</div>


{% include work-with-us.html %}

{% include open-source-contributions.html %}

{% include select-clients.html %}
