---
layout: default
body-class: our-work
permalink: work/
title: Our Work
---
<div class="intro">
  <div class="container">
    <div class="text">
      <h1>Our Work</h1>
      <p>Whether it’s a simple site or a sophisticated e-commerce solution, our work excels in terms of engagement and effectiveness.</p>
    </div>

    {% assign case-studies = (site.case_studies | where: "active", "true" | sort: "order") %}
    <div class="work-listing">
      {% for preview in case-studies | limit: 4 %}
        <section class="case-study-header {{ preview.cs-class }}">
        <style>
          .case-study-header.{{ preview.cs-class }} { background-image: url('{{ site.baseurl }}{{ preview.cs-preview.image }}'); }
        </style>
          <div class="wrapper">
            <h4>{{ preview.cs-preview.topic }}</h4>
            <a href="{{ site.baseurl }}{{ preview.url }}"><h2>{{ preview.cs-preview.client }}</h2></a>
            <p class="description">{{ preview.cs-preview.description }}</p>
            <a href="{{ site.baseurl }}{{ preview.url }}" class="uppercase-link">Read More<i class="fa fa-caret-right"></i></a>
          </div>
        </section>
      {% endfor %}
    </div>
  </div>
</div>


{% include work-with-us.html %}

{% include open-source-contributions.html %}

{% include select-clients.html %}
