/* WuFoo form nonsense. */
html.embed {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  header {
    background-color: #58585b;
    margin-top: 10px;
  }
  form {
    padding: 5px;
  }
  .wufoo .info, .wufoo .paging-context {
    border-bottom: 1px solid #626262;
  }
  .wufoo label.desc {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    display: block;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .wufoo input.text {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 16px !important;
    border: none;
    padding: 6px 12px;
    width: 216px;
  }
  .wufoo input.text.fn,
  .wufoo input.text.ln {
    width: 100px;
  }
  .wufoo input.text.medium {
    width: 228px;
  }
  .wufoo input.submit {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    -webkit-appearance: button;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    background: #F06D2F;
    color: #fff;
    border: none;
  }
}
