.page-not-found {
  .intro {
    color: $darkgray;
    font-size: 1.5rem;
    font-style: italic;
    line-height: $line-height;
    margin: 5rem auto;
    text-align: center;

    @include mq(d) { max-width: 75%; }

    a {
      color: $darkgray;
      text-decoration: underline;

      &:hover,
      &:focus,
      &:active {
        color: $orange;
      }
    }
  }
}
