// Styling for Career detail pages, Privacy page, 404, and Coding Challenges
.basic-page {
  color: $darkgray;
  padding-bottom: 3rem;

  @include mq(d) { max-width: 62.5rem; margin: 0 auto; }

  .job-details,
  .privacy-content {
    padding: 1rem 0;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .intro {
    font-size: 1.25rem;
    font-style: italic;
    line-height: $line-height;
    margin: 0 auto;
    text-align: center;
    width: 85%;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: rem(26);
  }

  ul {
    padding-left: 0;
  }

  li {
    margin-left: 1rem;
    padding-bottom: rem(12);
    text-indent: -1.3em;

    &:before {
      color: $orange;
      content: '•';
      font-size: 1.2rem;
      padding-right: rem(14);
    }

    ul li {
      list-style-type: circle;

      &:before {
        content: '';
        padding-right: 1.5rem;
      }
    }
  }

  a, p a {
    color: $darkgray;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: $dark-orange;
    }
  }

  .apply {
    margin: 3rem 0;
    text-align: center;

    a {
      border: 1px solid $orange;
      color: $orange;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover,
      &:focus,
      &:active {
        background: $orange;
        color: $white;
      }
    }
  }
}
