.bene {

  .main-content {
    @include mq(m) { margin-top: rem(90); }
    @include mq(t) { margin-top: rem(90); }

    .blog-header-image {
      display: flex;
      justify-content: center;
      overflow: hidden;
      position: relative;
      & > img {
        height: rem(475);
        width: auto;
        @include mq(d) {
          height: auto;
          width: 100%;
        }
      }
    }

    .overlay-text {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100%;
      justify-content: space-evenly;
      position: absolute;
      @include mq(d) {
        flex-direction: row;
      }
      div {
        max-width: 300px;
        text-align: center;
        width: 90%;
        @include mq(d) {
          display: flex;
          width: auto;
        }
      }
      .bene-logo {
        height: auto;
        max-width: rem(192);
        width: 60%;
        @include mq(d) {
          height: rem(322);
          margin: rem(24) auto;
          max-width: rem(293);
          width: rem(293);
        }
      }
      h2 {
        color: $white;
        font-size: rem(24);
        margin: 0;
        margin: rem(-20) auto 0;
        max-width: 80%;
        text-align: center;
        @include mq(d) {
          align-items: flex-end;
          display: flex;
          font-size: rem(40);
          height: rem(330);
          margin: 0;
          max-width: 40%;
          text-align: left;
        }
      }
    }

    .body {

      h3 {
        color: darken($darkgray, 10%);
        margin: 2em auto 1rem;
        max-width: 996px;
        padding: 0 rem(20);
        width: 94%;
        @include mq(lt) { width: 90%; padding: 0 rem(40); }
        @include mq(md) { width: 90%; padding: 0 rem(60); }
        @include mq(l)  { width: 100%; padding: 0 rem(100); }
      }

      div.inline {
        max-width: rem(793);
      }
      p.bene-caption {
        margin-top: 0;
        color: $darkgray;
        font-weight: 100;
      }
    }

    .our-values-block {
      &.in-action {
        display: none;
      }
      .row {
        @include mq(d) {
          max-width: 796px;
        }
      }
      .right-caret {
        margin-left: -2%;
        margin-right: 4.3%;
      }
      h4 {
        align-items: center;
        display: flex;
        font-size: rem(18);
        justify-content: flex-end;
        line-height: 24px;
        margin-top: rem(45);
        text-align: right;
      .fa.fa-caret-right {
          margin-left: rem(16);
        }
      }
      .down-caret h4 {
        justify-content: flex-start;
        text-align: left;
      }
      .value {
        h3 {
          color: $bright-orange;
          font-size: rem(26);
          margin-top: rem(15);
          padding: 0;
          @include mq(d) { margin-top: rem(70); }
        }
        @include mq(d) {
          p {
            width: 80%;
          }
        }
      }
      &.additional {
        p {
          font-size: rem(18);
          line-height: rem(26);
        }
        p:first-of-type {
          padding-top: rem(28);
          @include mq(d) { padding-top: rem(48); }
        }
        ul {
          padding-left: rem(6);
          li {
            font-size: rem(18);
            line-height: rem(28);
            margin: rem(12);
            position: relative;
            &:before {
              content: "•";
              left: rem(-16);
              position: absolute;
            }
          }
        }
      }
      blockquote {
        margin: rem(55) 0 rem(40);

        p {
          font-size: rem(26);
          font-weight: 100;
          line-height: rem(36);
          margin-bottom: rem(12);
          @include mq(d) { font-size: rem(32); line-height: rem(46);}
          @include mq(l)  { font-size: rem(38); line-height: rem(46);}
        }
      }
    }

    .free-geek-info-block {
      align-items: center;
      background: url('../images/bene/free-geek.jpg') no-repeat center center /cover;
      color: $white;
      display: flex;
      justify-content: center;
      margin-top: rem(40);
      min-height: rem(472);
      position: relative;

      .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: rem(20) rem(16);
        @include mq(d) { padding: rem(40) rem(160); }

        h2 {
          font-weight: 800;
          margin-bottom: rem(12);
          margin-top: 0;
        }

        p {
          font-size: rem(20);
          font-weight: 400;
          margin-bottom: rem(32);
          margin-top: rem(10);
          @include mq(d)  { max-width: 60%; }
        }

        a {
          color: $white;
          font-size: rem(16);
          font-weight: 600;
          text-transform: uppercase;
        }

        .caption {
          position: absolute;
          bottom: rem(20);
          font-size: rem(14);
          font-style: italic;
          color: $ltgray;
        }
      }
    }

    .contact-form {
      background-color: $bright-orange;
      .container {
        margin: 2em auto 1rem;
        max-width: 996px;
        padding: 0 rem(20);
        width: 94%;
        @include mq(d) { width: 90%; padding: 0 rem(60); }
        @include mq(l)  { width: 100%; padding: 0 rem(100); }
      }
      h2 {
        color: $white;
        font-size: rem(32);
        font-weight: 800;
        line-height: rem(38);
        text-align: center;
        @include mq(d) {
          font-size: rem(42);
          line-height: rem(48);
        }
      }
      form.contact {
        display: block;
        width: 100%;
        @include mq(d) {
          display: flex;
          flex-wrap: wrap;
        }
      }
      .form-group.half {
        flex: 1 1 24%;
        float: none;
        width: auto;
        input[type="email"],
        input[type="text"] {
          border: 0;
          color: #9B9B9B;
          height: rem(67);
          &:focus, &:active {
            color: $black;
          }
        }
      }
      .button {
        border-radius: 0;
        border: 3px solid $white;
        color: $white;
        height: rem(67);
        text-transform: capitalize;
      }
      .newsletter-confirm {
        position: absolute;
        left: -9999px;
      }
      .signup-notification:hover {
        cursor: pointer;
      }
      .signup-notification::before {
        background-color: white;
        border-radius: 3px;
        border: 2px solid #666;
        color: transparent;
        content: "✓";
        display: inline-block;
        font-family: 'Zapf Dingbats', menlo, arial, sans-serif;
        font-size: 14px;
        height: 13px;
        left: -4px;
        line-height: 0.4;
        position: relative;
        text-indent: 0;
        top: -3px;
        transition: color 0.2s linear, background-color 0.2s linear;
        width: 13px;
      }
      .signup-notification::before:hover {
        cursor: pointer;
      }
      .newsletter-confirm:checked + label::before {
        color: #524c46;
        text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.5);
      }
      .newsletter-confirm:focus + label::before,
      .newsletter-confirm:active + label::before {
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
      }
      .opt-in-text {
        flex: 0 0 100%;
        margin-top: rem(10);
      }
      .signup-notification {
        color: $darkgray;
        font-size: rem(14);
        font-style: italic;
        margin-bottom: 0;
        margin: 0 auto;
        max-width: 75%;
        text-align: center;
        text-indent: 13px;
        text-transform: none;
      }
    }
  }
  .newsletter-block {
    display: none;
  }
}

.bene-oss-cta.container,
.edc-oss-cta.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 6rem 7rem;
  @include mq(m) { padding: 3rem 1rem; flex-direction: column; }
  @include mq(p) { flex-direction: column; }
  @include mq(t) { padding: 4.5rem 1rem; }

  .bene-cta,
  .edc-cta {
    @include mq(m) { padding-bottom: 3rem; }
    @include mq(p) { padding-bottom: 3rem; }
  }

  .bene-cta,
  .edc-cta,
  .oss-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 100%;
    @include mq(lt) { flex: 0 1 45% }
    @include mq(d) { flex: 0 1 45% }

    .img-wrapper {
      flex: 0 1 20%;
      text-align: center;
    }

    .bene-text,
    .edc-text,
    .oss-text {
      flex: 0 1 75%;
    }

    img {
      max-width: 70px;
      height: auto;
      margin-top: 5px;
      margin-right: 10px;
      @include mq(lt) { max-width: 90px; }
      @include mq(d) { max-width: 110px; }
    }
    img.edc-logo {
      border-radius: 8px;
    }
  }

  .bene-text,
  .edc-text,
  .oss-text {
    h3, h4 {
      color: $darkgray;
      font-size: rem(28);
      font-weight: 600;
      line-height: calc(36/36);
      margin: 0;
      @include mq(t) { font-size: rem(32); }
      @include mq(d) { font-size: rem(36); }
    }

    p {
      color: $casegray;
      font-size: rem(14);
      font-weight: 300;
      line-height: calc(29/16);
      @include mq(t) { font-size: rem(15); }
      @include mq(d) { font-size: rem(16); }
    }

    a {
      display: block;
      color: $herogray;
      font-size: rem(13);
      font-weight: 900;
      line-height: calc(21/18);
      margin: 0 0 6px 0;
      padding-right: 4px;
      text-transform: uppercase;
      @include mq(lt) { font-size: rem(14); }
      @include mq(d) { font-size: rem(15); }

      &:hover, &:focus {
        text-decoration: underline;
      }

      .arrow-right {
        left: 10px;
        top: 2px;
        margin-right: 20px;
      }
    }
    a:last-of-type .arrow-right {
      margin-right: 0;
    }
  }
  .bene-text h3,
  .edc-text h3 {
    color: $bene-orange;
  }

}
