.bene {

  .main-content {
    @include mq(m) { margin-top: rem(90); }
    @include mq(t) { margin-top: rem(90); }

    .blog-header-image {
      position: relative;
      display: flex;
      justify-content: center;
      overflow: hidden;
      & > img {
        width: auto;
        height: rem(475);
        @include mq(d) {
          width: 100%;
          height: auto
        }
      }
    }

    .overlay-text {
      position: absolute;
      flex-wrap: wrap;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      display: flex;
      @include mq(d) {
        flex-direction: row;
      }
      div {
        text-align: center;
        width: 90%;
        max-width: 300px;
        @include mq(d) {
          display: flex;
          width: auto;
        }
      }
      .bene-logo {
        width: 60%;
        max-width: rem(192);
        height: auto;
        @include mq(d) {
          margin: rem(24) auto;
          max-width: rem(293);
          width: rem(293);
          height: rem(322);
        }
      }
      h2 {
        color: $white;
        margin: 0;
        font-size: rem(24);
        text-align: center;
        max-width: 80%;
        margin: rem(-20) auto 0;
        @include mq(d) {
          margin: 0;
          height: rem(330);
          align-items: flex-end;
          display: flex;
          max-width: 40%;
          text-align: left;
          font-size: rem(40);
        }
      }
    }

    .body {

      h3 {
        color: darken($darkgray, 10%);
        margin: 2em auto 1rem;
        max-width: 996px;
        padding: 0 rem(20);
        width: 94%;
        @include mq(lt) { width: 90%; padding: 0 rem(40); }
        @include mq(md) { width: 90%; padding: 0 rem(60); }
        @include mq(l)  { width: 100%; padding: 0 rem(100); }
      }

      div.inline {
        max-width: rem(793);
      }
      p.bene-caption {
        font-weight: 100;
        color: #58585B - 20;
      }
    }

    .our-values-block {
      .row {
        @include mq(d) {
          max-width: 796px;
        }
      }
      .right-caret {
        margin-right: 4.3%;
        margin-left: -2%;
      }
      h4 {
        font-size: rem(18);
        margin-top: rem(45);
        display: flex;
        text-align: right;
        align-items: center;
        justify-content: flex-end;
        line-height: 24px;
      .fa.fa-caret-right {
          margin-left: rem(16);
        }
      }
      .down-caret h4 {
        text-align: left;
        justify-content: flex-start;
      }
      .value {
        h3 {
          color: #FF9012;
          font-size: rem(26);
          margin-top: rem(15);
          padding: 0;
          @include mq(d) { margin-top: rem(70); }
        }
        @include mq(d) {
          p {
            width: 80%;
          }
        }
      }
      &.additional {
        p {
          font-size: rem(18);
          line-height: rem(26);
        }
        p:first-of-type {
          padding-top: rem(28);
          @include mq(d) { padding-top: rem(48); }
        }
        ul {
          padding-left: rem(6);
          li {
            font-size: rem(18);
            line-height: rem(28);
            margin: rem(12);
            position: relative;
            &:before {
              content: "•";
              position: absolute;
              left: rem(-16);
            }
          }
        }
      }
      blockquote {
        margin: rem(55) 0 rem(40);

        p {
          font-size: rem(26);
          line-height: rem(36);
          font-weight: 100;
          margin-bottom: rem(12);
          @include mq(d) { font-size: rem(32); line-height: rem(46);}
          @include mq(l)  { font-size: rem(38); line-height: rem(46);}
        }
      }
    }

    .free-geek-info-block {
      background: url('../images/bene/free-geek.jpg') no-repeat center center /cover;
      min-height: rem(472);
      color: $white;
      margin-top: rem(40);
      display: flex;
      align-items: center;
      justify-content: center;

      .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: rem(20) rem(16);
        justify-content: center;
        @include mq(d) { padding: rem(40) rem(160); }

        h2 {
          margin-top: 0;
          margin-bottom: rem(12);
          font-weight: 800;
        }

        p {
          font-size: rem(20);
          font-weight: 400;
          margin-top: rem(10);
          margin-bottom: rem(32);
          @include mq(d)  { max-width: 60%; }
        }

        a {
          color: $white;
          text-transform: uppercase;
          font-size: rem(16);
          font-weight: 600;
        }
      }
    }

    .contact-form {
      background-color: #FF9012;
      .container {
        margin: 2em auto 1rem;
        max-width: 996px;
        padding: 0 rem(20);
        width: 94%;
        @include mq(d) { width: 90%; padding: 0 rem(60); }
        @include mq(l)  { width: 100%; padding: 0 rem(100); }
      }
      h2 {
        color: $white;
        text-align: center;
        font-weight: 800;
        font-size: rem(32);
        line-height: rem(38);
        @include mq(d) {
          font-size: rem(42);
          line-height: rem(48);
        }
      }
      form.contact {
        display: block;
        width: 100%;
        @include mq(d) { display: flex; }
      }
      .form-group.half {
        width: auto;
        float: none;
        flex: 1 1 25%;
        input[type="email"],
        input[type="text"] {
          height: rem(67);
          border: 0;
          &::-webkit-input-placeholder { color: #9B9B9B; }
          &::-moz-placeholder { color: #9B9B9B; }
          &:-ms-input-placeholder { color: #9B9B9B; }
          &:-moz-placeholder { color: #9B9B9B; }
          &::-webkit-input-placeholder { color: #9B9B9B; }
          &::-moz-placeholder { color: #9B9B9B; }
          &:-ms-input-placeholder { color: #9B9B9B; }
          &:-moz-placeholder { color: #9B9B9B; }
        }
      }
      .button {
        text-transform: capitalize;
        height: rem(67);
        border: 3px solid $white;
        color: $white;
        border-radius: 0;
      }
    }
  }
  .newsletter-block {
    display: none;
  }
}

  // @include mq(d) {  }
  // @include mq(l)  {  }
