.blog-post {

  .main-content {
    @include mq(m) { margin-top: rem(90); }
    @include mq(t) { margin-top: rem(90); }
  }

  .blog-header {
    text-align: center;

    p {      
      margin: 0 auto 0.5rem;
    }

    p.featured {
      color: $midgray;
      font-style: italic;
    }

    .date {
      color: $darkgray;
      margin-right: rem(8);
      display: block;
      @include mq(lt) { display: inline; }
      @include mq(md) { display: inline; }
      @include mq(l)  { display: inline; }
    }

    a.category {
      color: $yellow;
      font-size: rem(15);
      font-weight: 700;
      display: block;
      @include mq(lt) { display: inline; }
      @include mq(md) { display: inline; }
      @include mq(l)  { display: inline; }
    }

    h1 {
      color: $midgray;
      font-size: 1.6rem;
      font-weight: 800;
      margin: 1rem auto;
      max-width: 94%;
      @include mq(lt) { font-size: 2rem; max-width: 80%; }
      @include mq(md) { font-size: 2.2rem; max-width: 70%; }
      @include mq(l)  { font-size: 2.5rem; max-width: 60%; }
    }

    .byline {
      margin-bottom: 2rem;
    }

  }

  .blog-header-image {
    width: 100%;
    img {
      height: auto;
      width: 100%;
    }
  }

  .body,
  .intro {
    h2,
    h3,
    p,
    blockquote,
    ul,
    ol,
    div.highlighter-rouge,
    iframe,    
    .blog-cta,
    .comments {
      color: $darkgray;
      display: block;
      margin: 1em auto;
      max-width: 996px;
      overflow: scroll;
      padding: 0 rem(12);
      width: 94%;
      @include mq(lt) { width: 90%; padding: 0 rem(30); }
      @include mq(md) { width: 90%; padding: 0 rem(60); }
      @include mq(l)  { width: 100%; padding: 0 rem(100); }
      a {
        color: $orange;
      }
      img {
        max-width: 100%;
      }
    }

    ul li {
      letter-spacing: 0;
      line-height: 1.5;
      margin-left: 1rem;
      padding-bottom: rem(12);
      padding-left: rem(22);
      text-indent: -1.3em;
      overflow: scroll;
      &:before {
        color: $darkgray;
        content: "•";
        font-size: rem(14);
        line-height: 0.6;
        padding-right: rem(14);
        position: relative;
      }
    }

    ol li {
      font-size: rem(15);
      letter-spacing: 0;
      line-height: 1.5;
      margin-left: 1rem;
      list-style-type: decimal;
      margin-left: rem(36);
      padding-bottom: rem(12);
      padding-left: rem(18);
      overflow: scroll;
    }

    li p {
      padding: 0;
      display: inline;
      margin-left: rem(-6);
      line-height: 1.5;
    }

    h2 {
      color: $midgray;
      font-size: rem(24);
      font-weight: 800;
      line-height: 1.4;
      @include mq(lt) { font-size: rem(26); }
      @include mq(md) { font-size: rem(30); }
      @include mq(l)  { font-size: rem(34); }
    }
    h3 {
      color: $midgray;
      font-size: rem(20);
      font-weight: 800;
      line-height: 1.4;      
      @include mq(lt) { font-size: rem(20); }
      @include mq(md) { font-size: rem(22); }
      @include mq(l)  { font-size: rem(26); }
    }

    blockquote {
      color: $orange;
      font-size: rem(18);
      font-weight: 700;
      line-height: 1.4; 
      padding: 0 rem(8);
      text-align: center;
      @include mq(lt) { padding: 0 rem(16); font-size: rem(18); }
      @include mq(md) { padding: 0 rem(24); font-size: rem(20); }
      @include mq(l)  { padding: 0 rem(40); font-size: rem(22); }
    }

    div.highlighter-rouge {
      pre.highlight {
        font-size: rem(14);
        line-height: 1.2;
        max-width: 100%;
        overflow: scroll;
        padding: 1rem;
        white-space: pre;
      }
    }

    code {
      font-size: rem(15);
    }
  }

  .intro p {
    color: $midgray;
    font-size: rem(18);
    font-style: italic;
    line-height: 1.6;
    @include mq(lt) { font-size: rem(20); }
    @include mq(md) { font-size: rem(22); }
    @include mq(l)  { font-size: rem(22); }
  }

  .body .blog-cta {
    background-color: $ltgray;
    display: block;
    padding: 0;
    margin: 2rem auto;
    img {
      display: none;
      margin-left: 2rem;
      @include mq(md) { display: block; float: right; }
      @include mq(l)  { display: block; float: right; }
    }
    h3, p, a.uppercase-link {      
      color: darken($darkgray,10%);
      padding: 0;
      width: auto;
      margin: 1rem 1rem 1rem 1rem;
      @include mq(lt) { margin: 1rem 2rem 2rem 3rem; }
      @include mq(md) { margin: 1rem 2rem 2rem 3rem; }
      @include mq(l)  { margin: 1rem 2rem 2rem 3rem; }
    } 
    h3 {
      clear: both;
      font-size: rem(22);
      font-weight: 700;
      margin-top: 1rem;      
      @include mq(lt) { clear: none; margin-top: 2rem; }
      @include mq(md) { clear: none; margin-top: 2.5rem; }
      @include mq(l)  { clear: none; margin-top: 3rem; }
    }
    a.uppercase-link {
      color: darken($darkgray,10%);
      display: block;      
      i {
        color: darken($darkgray,10%);
      }
    }
  }

  .pagination {
    color: $darkgray;
    margin: 1rem auto 6rem;
    max-width: 996px;
    padding: 0 rem(8);
    width: 94%;
    @include mq(lt) { width: 90%; padding: 0 rem(16); }
    @include mq(md) { width: 90%; padding: 0 rem(24); }
    @include mq(l)  { width: 100%; padding: 0 rem(40); }
    a {
      color: $orange;
    }
    .previous,
    .next {
      display: inline-block;
      float: left;
      font-size: rem(18);
      margin-bottom: 1rem;
      max-width: 49%;
      a {
        display: table;
        height: 100%;
        width: 100%;
        margin-bottom: 1rem;
        span {
          display: table-cell;
          padding-right: 0.8rem;
          vertical-align: middle;
        }
        .fa {
          font-size: rem(24);
        }
      }
    }
    .next {
      float: right;
      text-align: right;
    }
  }
  
  .team-member-blog {
    .post {
      padding-bottom: rem(73);
      position: relative;
    }
    .byline {
      position: absolute;
      bottom: -1rem;
      strong { 
        color: #000;
        display: inline-block;
        padding-top: rem(8);
      }
    }
  }
}

  // @include mq(lt) {  }
  // @include mq(md) {  }
  // @include mq(l)  {  }
