.blog-post {

  .main-content {
    @include mq(m) { margin-top: rem(90); }
    @include mq(t) { margin-top: rem(90); }
  }

  .blog-header {
    text-align: center;

    p {
      margin: 0 auto 0.5rem;
    }

    p.featured {
      color: $midgray;
      font-style: italic;
    }

    .date {
      color: $darkgray;
      display: block;
      margin-right: rem(8);
      @include mq(lt) { display: inline; }
      @include mq(md) { display: inline; }
      @include mq(l)  { display: inline; }
    }

    a.topic {
      color: $black;
      font-size: rem(15);
      font-weight: 700;
      display: block;
      @include mq(lt) { display: inline; }
      @include mq(md) { display: inline; }
      @include mq(l)  { display: inline; }

      &:hover,
      &:focus,
      &:active {
        outline: none;
        text-decoration: underline;
      }
    }

    h1 {
      color: $midgray;
      font-size: 1.6rem;
      font-weight: 800;
      margin: 1rem auto;
      max-width: 94%;
      @include mq(lt) { font-size: 2rem; max-width: 80%; }
      @include mq(md) { font-size: 2.2rem; max-width: 70%; }
      @include mq(l)  { font-size: 2.5rem; max-width: 60%; }
    }

    .byline {
      margin-bottom: 2rem;
    }

  }

  .blog-header-image {
    width: 100%;
    padding-bottom: 8px;
    img {
      height: auto;
      width: 100%;
    }
  }

  .body,
  .intro {
    h2,
    h3,
    h4,
    p,
    blockquote,
    ul,
    ol,
    div.highlighter-rouge,
    iframe,
    table {
      color: $darkgray;
      display: block;
      margin: 1em auto;
      max-width: 996px;
      padding: 0 rem(12);
      width: 94%;
      @include mq(lt) { width: 90%; padding: 0 rem(30); }
      @include mq(md) { width: 90%; padding: 0 rem(60); }
      @include mq(l)  { width: 100%; padding: 0 rem(100); }
      a {
        color: $a11y-orange;
        text-decoration: underline;
        &:hover,
        &:focus,
        &:active {
          outline: none;
          color: $bgblack;
        }
      }
      img {
        max-width: 100%;
      }
    }

    .blog-cta,
    .comments,
    .gist,
    .tags {
      color: $darkgray;
      display: block;
      margin: 1em auto;
      max-width: 996px;
      padding: 0 rem(12);
      width: 94%;
      @include mq(lt) { width: 90%; padding: 0 rem(30); }
      @include mq(md) { width: 90%; padding: 0 rem(60); }
      @include mq(l)  { width: 100%; padding: 0 rem(100); }
      a {
        color: $a11y-orange;
        &:hover,
        &:focus,
        &:active {
          outline: none;
          color: $bgblack;
        }
      }
      img {
        max-width: 100%;
      }
    }

    ol.floated, ul.floated {
      width: auto;
      overflow: hidden;
      padding-left: 0px;
    }

    ul li {
      letter-spacing: 0;
      line-height: 1.5;
      margin-left: 1rem;
      padding-bottom: rem(12);
      padding-left: rem(22);
      text-indent: -1.3em;
      &:before {
        color: $darkgray;
        content: "•";
        font-size: rem(14);
        line-height: 0.6;
        padding-right: rem(14);
        position: relative;
      }
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
      padding-left: 0;
      margin-bottom: 0;
    }

    ul ul li:before {
      content: "○";
    }
    ul ul li:last-of-type {
      padding-bottom: 0;
    }

    ol li {
      font-size: rem(15);
      letter-spacing: 0;
      line-height: 1.5;
      list-style-type: decimal;
      margin-left: rem(36);
      padding-bottom: rem(12);
      padding-left: rem(18);
    }

    li p {
      display: inline;
      line-height: 1.5;
      margin-left: rem(-6);
      padding: 0;
    }

    ol li li {
      list-style-type: lower-alpha;
      &:before {
        content: "";
      }
    }

    h2 {
      color: $midgray;
      font-size: rem(24);
      font-weight: 800;
      line-height: 1.4;
      @include mq(lt) { font-size: rem(26); }
      @include mq(md) { font-size: rem(30); }
      @include mq(l)  { font-size: rem(34); }
    }
    h3 {
      color: $midgray;
      font-size: rem(20);
      font-weight: 800;
      line-height: 1.4;
      @include mq(lt) { font-size: rem(20); }
      @include mq(md) { font-size: rem(22); }
      @include mq(l)  { font-size: rem(26); }
    }
    h4 {
      color: $midgray;
      font-size: rem(18);
      font-weight: 700;
      line-height: 1.4;
      @include mq(lt) { font-size: rem(18); }
      @include mq(md) { font-size: rem(20); }
      @include mq(l)  { font-size: rem(22); }
    }

    blockquote {
      color: $orange;
      font-size: rem(18);
      font-weight: 700;
      line-height: 1.4;
      padding: 0 rem(8);
      text-align: center;
      @include mq(lt) { padding: 0 rem(16); font-size: rem(18); }
      @include mq(md) { padding: 0 rem(24); font-size: rem(20); }
      @include mq(l)  { padding: 0 rem(40); font-size: rem(22); }
    }

    div.highlighter-rouge {
      pre.highlight {
        font-size: rem(14);
        line-height: 1.2;
        max-width: 100%;
        overflow: scroll;
        padding: 1rem;
        white-space: pre;
      }
    }

    code {
      font-size: rem(15);
    }

    .caption {
      color: $midgray;
      display: block;
      font-size: 0.85rem;
      margin: 0 auto 2rem;
      width: 80%;
      i {
        @extend %fa-caret-up;
      }
      &.left,
      &.right,
      &.ten,
      &.twenty,
      &.thirty,
      &.forty,
      &.fifty,
      &.sixty,
      &.seventy,
      &.eighty,
      &.ninety {
        clear: both;
      }
    }
    .left {
      float: left;
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    .right {
      float: right;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
    .full {
      margin-left: 0;
      margin-right: 0;
      max-width: none;
      padding-left: 0;
      padding-right: 0;
    }
    .center {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      .caption {
        text-align: left;
      }
    }
    .ten     { width: 10% }
    .twenty  { width: 20% }
    .thirty  { width: 30% }
    .forty   { width: 40% }
    .fifty   { width: 50% }
    .sixty   { width: 60% }
    .seventy { width: 70% }
    .eighty  { width: 80% }
    .ninety  { width: 90% }

    .clear {
      clear: both;
    }

    iframe {
      height: calc(56vw - 24px);
      max-height: 448px;
      @include mq(lt) { height: calc(56vw - 60px); }
      @include mq(md) { height: calc(56vw - 120px); max-height: 491px; }
      @include mq(l)  { height: calc(56vw - 200px); max-height: 448px; }
    }

    table {
      background-color: $white;
      border-collapse: separate;
      border-spacing: 2px;
      border: none;
      table-layout: auto;
      text-align: left;
      white-space: normal;
      padding: 0;
      width: calc(94% - 24px);
      max-width: 796px;
      @include mq(lt) { width: calc(90% - 60px); border-spacing: 3px; }
      @include mq(md) { width: calc(90% - 120px); border-spacing: 4px; }
      @include mq(l)  { width: calc(90% - 200px); border-spacing: 4px; }
    }
    th {
      background-color: $white;
      border: 1px solid $bgblack;
      color: $black;
      font-size: rem(13);
      line-height: 1.2;
      padding: 6px 12px;
      width: inherit;
      @include mq(lt) {
        font-size: rem(14);
        padding: 12px 18px;
      }
      @include mq(d) {
        font-size: rem(15);
        padding: 15px 24px;
      }
    }
    td {
      background-color: $white;
      border: 1px solid $bgblack;
      color: $black;
      font-size: rem(13);
      line-height: 1.2;
      padding: 6px 12px;
      width: inherit;
      @include mq(lt) {
        font-size: rem(14);
        padding: 12px 18px;
      }
      @include mq(d) {
        font-size: rem(15);
        padding: 15px 24px;
      }
    }
    td * {
      color: $black;
      font-size: rem(13);
      line-height: 1.2;
      @include mq(lt) {
        font-size: rem(14);
      }
      @include mq(d) {
        font-size: rem(15);
      }
    }
    tr:nth-child(even) td {
      background-color: $ltgray;
    }
    td ol,
    td ol li,
    td ul,
    td ul li {
      line-height: 1.2;
      padding-left: 5px;
    }


  }

  .intro p {
    color: $midgray;
    font-size: rem(18);
    font-style: italic;
    line-height: 1.6;
    @include mq(lt) { font-size: rem(20); }
    @include mq(md) { font-size: rem(22); }
    @include mq(l)  { font-size: rem(22); }
  }

  .body .tags {
    font-size: rem(15);
    line-height: 1.75rem;
    margin: 2rem auto;
    padding: 1rem 3rem;
    text-align: center;
    clear: left;
    .tag-label {
      color: $darkergray;
      font-size: rem(13);
      text-transform: uppercase;
    }
    a {
      @include transition(color,0.3s,linear);
      border-bottom: 1px solid $midgray;
      color: $midgray;
      margin-right: .3em;
      &:hover,
      &:focus,
      &:active {
        border-bottom: 1px solid $black;
        color: $black;
      }
    }
  }
  .body .leadin {
    color: #f1f1f1;
  }

  .body .blog-cta {
    background-color: $ltgray;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin-bottom: rem(64);
    margin-top: rem(64);

    .text {
      @include span-columns(7);
      padding: 1rem 2rem;

      @include mq(t) {
        @include span-columns(12);
        padding: 1rem;
      }

      @include mq(m) {
        @include span-columns(12);
        padding: 1rem;
      }
    }

    .image {
      background: $orange;
      @include span-columns(5);

      @include mq(t) {
        @include span-columns(12);
      }

      @include mq(m) {
        @include span-columns(12);
      }
    }

    img {
      width: 100%;
    }

    h3, p, a.uppercase-link {
      color: darken($darkgray,10%);
      padding: 0;
      width: auto;
    }
    h3 {
      clear: both;
      font-size: rem(22);
      font-weight: 700;
      margin-top: 1rem;
    }
    a.uppercase-link {
      color: darken($darkgray,10%);
      display: block;
      i {
        color: darken($darkgray,10%);
      }
    }
  }
}

.pagination {
  color: $darkgray;
  display: table;
  margin: 1rem auto 6rem;
  max-width: 996px;
  padding: 0 rem(8);
  table-layout: fixed;
  width: 94%;
  @include mq(lt) { width: 90%; padding: 0 rem(16); }
  @include mq(md) { width: 90%; padding: 0 rem(24); }
  @include mq(l)  { width: 100%; padding: 0 rem(40); }
  a {
    @include transition(color,0.3s,linear);
    color: $darkgray;
    &:hover,
    &:focus,
    &:active {
      color: $black;
    }
  }
  .previous,
  .next,
  .page_number {
    display: table-cell;
    font-size: rem(15);
    vertical-align: top;
    a {
      height: 100%;
      margin-bottom: 1rem;
      width: 100%;
      span {
        display: table-cell;
        padding-right: 0.8rem;
        vertical-align: middle;
      }
      .fa {
        font-size: rem(24);
      }
    }
  }
  .next {
    float: right;
    text-align: right;
  }
  .page_number {
    text-align: center;
  }

}

  // @include mq(lt) {  }
  // @include mq(md) {  }
  // @include mq(l)  {  }
