.blog-landing {

  .main-content {
    @include mq(m) { margin-top: rem(90); }
    @include mq(t) { margin-top: rem(90); }
  }

  .featured-post {
    background-position: center center;
    background-size: cover;
    padding: 0;
    position: relative;
    width: 100%;

    .gradient {
      background-image: linear-gradient( to right, rgba(40,40,40,0.9), rgba(40,40,40,0.6) );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#dd000000',GradientType=1 );
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    .wrapper {
      max-width: 100%;
      margin: 0 auto;
      padding: 2rem 1rem 1rem;
      position: relative;
      z-index: 2;
      @include mq(lt) {
        padding: 4rem 1rem 2rem 2rem;
      }
      @include mq(md) {
        padding: 8rem 1rem 3rem 2rem;
      }
      @include mq(l)  {
        padding: 10rem 0 2rem 0;
        background-image: none;
        max-width: rem(1100);
      }
    }

    .header-down-caret {
      margin-bottom: 1rem;

      h4 {
        color: $white;
      }
    }

    h2,p {
      color: $white;
      max-width: 95%;
      margin: 0 0 1rem;
      @include mq(lt) { max-width: 60%; }
      @include mq(md) { max-width: 70%; }
      @include mq(l)  { max-width: 55%; }
      a {
        color: $white;
        font-weight: 800;
      }
      a:hover,
      a:focus,
      a:active {
        text-decoration: underline;
        outline: none;
      }
    }
    h2 {
      color: $white;
      font-size: rem(22);
      @include mq(lt) { font-size: rem(28); }
      @include mq(md) { font-size: rem(32); }
      @include mq(l)  { font-size: rem(40); }
    }
    .featured {
      font-size: rem(13);
      font-weight: 700;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }
    .short {
      font-size: rem(16);
      @include mq(lt) { font-size: rem(16); }
      @include mq(md) { font-size: rem(18); }
      @include mq(l)  { font-size: rem(20); }
    }
    .byline {
      margin-top: 0;
      @include mq(lt) { margin-top: 1rem;  }
      @include mq(md) { margin-top: 1.5rem;  }
      @include mq(l)  { margin-top: 2rem;  }
    }
  }

  .filter-wrapper {
    max-width: 98%;
    margin: 1rem auto 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @include mq(lt) { margin-top: 2rem; padding-left: 1rem; }
    @include mq(md) { margin-top: 4rem; padding-left: 1rem; }
    @include mq(l)  { margin-top: 5rem; max-width: rem(1100); padding-left: 0; }

    label {
      bottom: 4px;
      color: $darkgray;
      font-size: rem(14);
      font-weight: 400;
      position: relative;
    }
  }
  .blog-filter {
    width: rem(390);
    max-width: 100%;
  }


  .blog-list {
    margin: 0 auto 2rem;
    padding: 0;
    li {
      border-bottom: 1px solid $ltgray;
      display: inline-block;
      padding: 1rem 1rem;
      width: 100%;
      @include mq(lt) { padding: 2rem 2rem; }
      @include mq(md) { padding: 3rem 2rem; }
      @include mq(l)  { padding: 4rem 8rem; }
      .date {
        color: $darkgray;
        margin-right: rem(8);
        font-size: rem(14);
        display: block;
        @include mq(lt) { display: inline; }
        @include mq(md) { display: inline; }
        @include mq(l)  { display: inline; }
      }

      a.topic {
        color: $black;
        font-size: rem(14);
        font-weight: 700;
        display: block;
        @include mq(lt) { display: inline; }
        @include mq(md) { display: inline; }
        @include mq(l)  { display: inline; }
      }

      h3 a {
        color: $orange;
        font-size: 1.2rem;
        font-weight: 700;
        margin: 1rem auto;
        max-width: 94%;
        @include mq(lt) { font-size: 1.2rem; max-width: 80%; }
        @include mq(md) { font-size: 1.2rem; max-width: 70%; }
        @include mq(l)  { font-size: 1.5rem; max-width: 60%; }
      }

      a:hover,
      a:focus,
      a:active {
        text-decoration: underline;
        outline: none;
      }


      .short {
        font-size: rem(15);
        color: $darkgray;
        @include mq(lt) { font-size: rem(16); }
        @include mq(md) { font-size: rem(18); }
        @include mq(l)  { font-size: rem(18); }
      }

      .blog-teaser {
        max-width: rem(1100);
        margin: 0 auto;
      }

      .info {
        width: 100%;
        @include mq(lt) {  }
        @include mq(md) { width: 68%; float: left; }
        @include mq(l)  { width: 68%; float: left; }
      }

      .byline {
        margin-top: 0;
        width: 100%;
        padding-right: 0;
        @include mq(lt) { width: 30%; }
        @include mq(md) { width: 30%; margin-top: 4rem; float: right; }
        @include mq(l)  { width: 30%; margin-top: 4rem; float: right; }
        .byline-wrapper {
          float: left;
          max-width: 75%;
          white-space: normal;
        }
        a:hover,
        a:focus,
        a:active {
          color: $darkgray;
          text-decoration: underline;
          outline: none;
        }
      }
    }
  }
}

  // @include mq(lt) {  }
  // @include mq(md) {  }
  // @include mq(l)  {  }
