.main-content .blog  {
  @include outer-container(1440px);
  padding: 0 7rem;

  @include mq(m) {
    padding: 0 1rem;
  }

  @include mq(t) {
    padding: 0 1rem;
  }

  @include mq(md) {
    padding: 0 3rem;
  }

  .ts-blog-title{
    font-size: rem(56);
    line-height: rem(73);
    color: $lightgray;
  }
}