.main-content .blog  {
  @include outer-container(1440px);
  padding: 0 7rem;

  @include mq(m) {
    padding: 0 1rem;
  }

  @include mq(t) {
    padding: 0 1rem;
  }

  @include mq(md) {
    padding: 0 3rem;
  }

  .ts-blog-title {
    color: $lightgray;
    font-size: rem(56);
    font-weight: 800;
    line-height: rem(73);
    margin-bottom: 0;
  }

  .blog-categories {
    margin-bottom: rem(50);
    margin-top: rem(15);
    padding: 0;

    li {
      display: inline-block;
      margin-right: rem(25);

      @include mq(f) {
        display: block;
        line-height: 1.6;
        position: relative;
        display: none;
        background-color: white;
        z-index: 1;
      }
    }

    a {
      color: $herogray;
      font-size: rem(16);
      line-height: rem(10);
    }
    li:hover a, li:focus a, li:active a, li.active a {
      color: $dark-orange;
    }
    .mobile-only {
      display: none;
      @include mq(f) {
        display: block;
        position: relative;
        top: 0;
        background-color: white;
        z-index: 2;
      }
    }
    li:hover a.mobile-only, li:focus a.mobile-only {
      color: $dark-orange;
    }
    li:active a.mobile-only, li.active a.mobile-only {
      color: $herogray;
    }
  }

  .featured-post {
    display: flex;
    flex-direction: column;

    @include mq(d) {
      flex-direction: row;
    }
    .featured-img,
    .featured-txt {
      flex: 1;
    }

    .featured-img img {
      height: 42vw;
      max-height: rem(333);
      object-fit: cover;
      width: 100%;
    }

    .featured-txt {
      padding-left: 0;
      @include mq(d) {
        padding-left: rem(62);
      }
    }

    .featured-title {
      line-height: rem(32);
      margin-bottom: rem(15);
      margin-top: 0;

      @include mq(d) {
        font-size: rem(36);
        line-height: rem(42);
      }
    }

    .featured-title a {
      color: $darkgray;
      font-size: rem(28);
      line-height: rem(32);

      @include mq(d) {
        font-size: rem(36);
        line-height: rem(42);
      }

      &:hover, &:focus, &:active {
        color: $dark-orange;
      }
    }

    a.team-name {
      color: $orange;

      &:hover, &:focus, &:active {
        color: $dark-orange;
      }
    }

    p.short {
      color: $casegray;
    }

  }

  .blog-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 36px;
    padding: 0;

    @include mq(d) {
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      margin-bottom: 60px;
      max-width: 100%;
      @include mq(d) {
        flex-basis: calc(33.3333% - 30px);
      }
    }
    // Full-width post.
    &.home li:nth-child(4) {
      @include mq(d) {
        flex-basis: 100%;
        .blog-teaser {
          display: flex;
          flex-direction: column;
          height: 490px;
          justify-content: flex-end;
          padding: 45px;
          position: relative;
          &:before {
            background-color: rgba(62,62,62,0.41);
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
          }
          .blog-img {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }
          .blog-img img {
            height: 100%;
            max-width: none;
            position: relative;
            z-index: 1;
          }
          .info {
            position: relative;
            z-index: 3;
          }
          h3 {
            margin: 35px 0 25px;
            max-width: 500px;
          }
          h3 a {
            color: $white;
            font-size: rem(36);
            font-weight: 700;
            line-height: rem(42);
          }
          .info p {
            color: $white;
            max-width: 280px;
          }
          .byline {
            position: relative;
            margin-bottom: 0;
            z-index: 3;
            a.team-name,
            .position {
              color: $white;
            }
          }
        }
      }
    }
    // 50% posts
    &.home li:nth-child(11),
    &.home li:nth-child(12) {
      @include mq(d) {
        flex-basis: calc(50% - 22.5px);
        .blog-teaser .blog-img img {
          height: 420px;
        }
        .info {
          padding-right: 15%;
        }
      }
    }
  }

  .blog-teaser {
    .blog-img img {
      width: 100%;
      max-width: none;
      object-fit: cover;
    }
    h3 {
      margin: 16px 0 13px;
    }
    h3 a {
      color: $darkgray;
      font-size: rem(24);
      font-weight: 900;
      line-height: rem(32);
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
    .info p {
      color: $casegray;
      font-size: rem(16);
      line-height: rem(29);
      margin: 13px 0;
    }
    .byline {
      img {
        height: 50px;
        width: 50px;
      }
      a.team-name {
        color: $orange;
        font-size: rem(13);
        line-height: rem(22);
      }
      .position {
        color: $casegray;
        font-size: rem(12);
        line-height: rem(14);
      }
    }
  }
}
