// Blog block (team member detail)
.team-member-blog {
  background: $bggray;
  padding: 0 0 1rem 0;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    border-left: rem(20) solid transparent;
    border-right: rem(20) solid transparent;
    border-top: rem(20) solid $white;
    display: block;
    margin: 0 auto;
    width: rem(20);
  }

  &:after {
    @extend %dotted-overlay;
  }

  .posts {
    display: block;
    text-align: center;
  }

  .post {
    background: $white;
    display: none;
    height: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    padding: 0 1.5rem;
    text-align: left;
    width: 100%;

    @include span-columns(4);

    @include mq(d) {
      @include omega(3n);
    }

    @include mq(t) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include mq(m) {
      @include span-columns(12);
    }

    .post-date {
      font-size: rem(15);
      margin-bottom: rem(5);
    }

    .post-title a {
      color: $orange;
      font-size: 1.5rem;
      margin: 0;
    }
  }

  // center single post on desktop
  .post.single-center {
    @include mq(d) {
      @include shift(4);
    }
    @include mq(t) {
      @include shift(3);
    }
  }

  .post.reveal {
    display: none;
  }

  h2 {
    clear: both;
    color: $darkergray;
    font-size: rem(16);
    font-weight: 700;
    margin-bottom: 1.33em;
    margin-top: 1.33em;
    text-align: center;
    text-transform: uppercase;
  }

  h3:hover,
  h3:focus,
  h3:active {
    text-decoration: underline;
  }

  h4,
  h5 {
    clear: both;
    color: $darkergray;
    text-align: center;
    text-transform: uppercase;
  }

  .blogs-toggle {
    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
    }
  }

  h5 {
    margin: 0;
  }

  i {
    border: none;
    color: $darkergray;
    font-size: 2rem;
    text-align: center;
    width: 100%;

    &:before {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  .see-all-blogs {
    margin-top: rem(-2);
    display: block;
  }

  .view-less-blogs {
    display: none;
  }
} // end team member blog

// Blog and Services adjustments
.blog-post,
.services {
  .team-member-blog {
    .post {
      padding-bottom: rem(73);
      position: relative;
    }
    .byline {
      position: absolute;
      bottom: -1rem;

      @supports(display: flex) {
        display: flex;
        align-items: center;
      }

      strong {
        color: #000;
        display: inline-block;
        padding-top: rem(8);
      }

      a:hover strong,
      a:focus strong,
      a:active strong {
        color: #333;
        text-decoration: underline;
      }

      .position {
        white-space: normal;
      }
    }
  }
}
