.button {
  background: transparent;
  border: 1px solid $orange;
  color: $orange;
  padding: 1rem 2rem;
  text-transform: uppercase;
  @include transition(0.5s all);

  &:hover {
    background: $orange;
    box-shadow: 0 0 rem(3) rgba($black, 0.3);
    color: $white;
    @include transition(0.5s all);
  }
}

.button.solid {
  background: $orange;
  color: $white;
}
