.button {
  background: transparent;
  border: 1px solid $orange;
  color: $orange;
  padding: 1rem 3rem;
  text-transform: uppercase;
  @include transition(0.5s all);

  &:hover {
    background: $orange;
    box-shadow: 0 0 rem(3) rgba($black, 0.3);
    color: $white;
    @include transition(0.5s all);
  }
}

.button.solid {
  background-color: $orange;
  color: $white;
}

.contact .form-actions {
  background-image: url('../images/ts_redesign/arrow-right.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto;
  //position: relative;
}
