.careers {
  color: $darkgray;

  .careers-header h2 {
    font-size: rem(45) !important;
  }

  #careers-blurb {
    font-size: rem(20);
    font-style: italic;
    text-align: center;

    @include mq(d) {
      font-size: 1.5rem;
      max-width: 75%;
      margin: 4rem auto;
    }
  }

  .job-list {
    .job-teaser {
      text-align: center;

      &:first-of-type {
        border-top: 1px solid $ltgray;
      }

      h3 {
        color: $orange;
        font-size: rem(26);
        line-height: 1.25;
        @include mq(t) {
          line-height: 1.5;
        }
        @include mq(d) {
          line-height: 1.75;
        }
      }
      ul.whr-items {
        padding-left: 0;
      }

      @include mq(d) {
        p {
          max-width: 50%;
          margin: rem(16) auto;
        }
      }
    }

    .side-left {
      text-align: center;
      width: 100%;

      @include mq(d) { @include span-columns(8); text-align: left; }

      h3 {
        color: $orange;
        font-size: rem(26);
      }
    }

    .side-right {
      margin-top: 2.5rem;
      text-align: center;
      width: 100%;

      @include mq(d) {
        @include span-columns(4);
        margin-top: 3rem;
        text-align: right;
        @include omega();
      }

      a {
        border: 1px solid $orange;
        color: $orange;
        padding: 1rem 2rem;
        text-transform: uppercase;

        &:hover {
          background: $orange;
          color: $white;
        }
      }
    }
    #whr_embed_hook {
      text-align: center;
      .whr-item {
        border-bottom: 1px solid $ltgray;
        padding-bottom: 3rem;
        padding-top: 1rem;
        text-align: center;
      }
      ul {
        li {
          line-height: 1.75;
        }
      }
      h3 {
        font-size: rem(26);
      }
      .whr-date {
        display: none;
      }
    }
  }

  .keep-me-in-mind {
    background: $ltgray;
    color: $darkgray;
    margin: 3.5rem 0;
    padding: 1rem 1rem;
    text-align: center;

    .text {
      @include mq(d) { max-width: 62.5%; margin: 4rem auto; }
    }

    h3 {
      font-size: rem(36);
    }

    #ts-email {
      margin-top: 2rem;
    }

    a {
      color: $orange;
    }
  }

  .more-about-us {
    background: url('../images/ts_redesign/more-about-us.jpg') center center no-repeat;
    background-size: cover;
    color: $white;
    padding: 4rem 0;

    @include mq(d) { padding: 8rem 0; }

    h3 {
      font-size: 2rem;
    }

    p {
      @include mq(d) { max-width: 75%; }
    }

    #more-about-us-bold {
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 2rem;
    }

    ul {
      margin-bottom: 2rem;
      margin-top: 0;
      padding-left: 0;
    }

    li {
      line-height: $line-height;

      &:before {
        content: '•';
        padding-right: 0.5rem;
      }
    }

    a {
      text-transform: uppercase;
      font-weight: 900;
    }
  }

  &.fundraiser {
    .careers-header {
      padding: 0;
      height: 49.9vw;
    }
    .main-content .intro {
      font-size: rem(18);
      font-style: italic;
      text-align: center;

      @include mq(d) {
        font-size: rem(24);
        max-width: 75%;
        margin: rem(75) auto;
      }
    }

    .main-content .intro ul {
      padding: rem(16);
    }
    .main-content .intro ul li {
      line-height: 1.6;
    }

    .eventbrite {
      background-color: #F8F8FA;
      width:100%;
      text-align:left;
      padding-bottom: 20px;
      padding-top: 75px;
    }
  }
}
