.careers-header { background-image: url('{{ site.baseurl }}/assets/images/ts_redesign/career-pages.jpg'); }

.careers {
  color: $darkgray;

  .careers-hero {
    background: url('../images/ts_redesign/careers-hero-aerial.jpg') center top;
    height: $hero-height;
  }

  .job-list {
    .job-teaser {
      text-align: left;

      &:first-of-type {
        border-top: 1px solid $ltgray;
      }

      h3 {
        color: $orange;
        font-size: rem(26);
        line-height: 1.25;
        @include mq(t) {
          line-height: 1.5;
        }
        @include mq(d) {
          line-height: 1.75;
        }
      }
      ul.whr-items {
        padding-left: 0;
      }

      @include mq(d) {
        p {
          max-width: 50%;
          margin: rem(16) auto;
        }
      }
    }

    .side-left {
      text-align: center;
      width: 100%;

      @include mq(d) { @include span-columns(8); text-align: left; }

      h3 {
        color: $orange;
        font-size: rem(26);
      }
    }

    .side-right {
      margin-top: 2.5rem;
      text-align: center;
      width: 100%;

      @include mq(d) {
        @include span-columns(4);
        margin-top: 3rem;
        text-align: right;
        @include omega();
      }

      a {
        border: 1px solid $orange;
        color: $orange;
        padding: 1rem 2rem;
        text-transform: uppercase;

        &:hover {
          background: $orange;
          color: $white;
        }
      }
    }
    #whr_embed_hook {
      text-align: left;
      .whr-item {
        border-bottom: 1px solid $ltgray;
        padding-bottom: 3rem;
        padding-top: 1rem;
        text-align: left;
      }

      ul {
        li {
          line-height: 1.75;

        }
      }

      h3 {
        font-size: rem(26);
        margin-bottom: 0;
      }

      .whr-date,
      .whr-code { display: none; }

    }
  }

  .keep-me-in-mind {
    background: $newltgray;
    color: $darkgray;
    margin: 3.5rem 0;
    padding: $vertical-padding 1rem;
    text-align: center;

    .text {
      @include mq(d) { max-width: 62.5%; margin: 4rem auto; }
    }

    h3 {
      font-size: rem(36);
    }

    #ts-email {
      margin-top: 2rem;
    }

    a {
      color: $orange;
    }
  }

  .more-about-us {
    background: url('../images/ts_redesign/more-about-us.jpg') center center no-repeat;
    background-size: cover;
    color: $white;
    padding: 4rem 0;

    @include mq(d) { padding: 8rem 0; }

    h3 {
      font-size: 2rem;
    }

    p {
      @include mq(d) { max-width: 75%; }
    }

    #more-about-us-bold {
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 2rem;
    }

    ul {
      margin-bottom: 2rem;
      margin-top: 0;
      padding-left: 0;
    }

    li {
      line-height: $line-height;

      &:before {
        content: '•';
        padding-right: 0.5rem;
      }
    }

    a {
      color: $white;
    }
  }
}

.two-col-flex {
  display: flex;
  padding-bottom: $vertical-padding;
  width: 100%;

  div { flex: 0 1 50%; }

  div:first-of-type {
    padding-right: 1rem;
  }
}
