.case-study {  

  .main-content {
    @include mq(m) { margin-top: rem(90); }
    @include mq(t) { margin-top: rem(90); }
  }

  .case-study-header {
    background-position: left top;
    background-size: cover;
    color: $white;
    height: 100%;
    padding: 6rem 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;

    .gradient {
      background-image: linear-gradient( 0deg, rgba(0,0,0,0.8), transparent 80% );
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
    }

    .wrapper {
      bottom: 0;
      left: 0;
      margin: 0 auto;
      max-width: 94%;
      position: absolute;
      right: 0;
      z-index: 100;
    }

    h4 {
      background-color: rgba($midorange,0.9);
      display: inline-block;
      font-size: 0.7rem;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0;
      padding: rem(8);
      text-transform: uppercase;
    }

    h2 {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      margin-top: 0.8rem;
    }

    @include mq(lt) { 
      padding: 8rem 0;
      .wrapper { max-width: 80%; }
      .gradient { background-image: linear-gradient( 0deg, rgba(0,0,0,0.8), transparent 50% ); }
      h4 { font-size: 0.8rem; padding: rem(10); }
      h2 { font-size: 1.6rem; }
    }
    @include mq(md) { 
      padding: 12rem 0;
      .wrapper { max-width: 75%; }
      .gradient { background-image: linear-gradient( 0deg, rgba(0,0,0,0.8), transparent 40% ); }
      h4 { font-size: 0.8rem; padding: rem(12); }
      h2 { font-size: 2rem; }
    }
    @include mq(l) { 
      padding: 18rem 0;
      .wrapper { max-width: 68%; }
      .gradient { background-image: linear-gradient( 0deg, rgba(0,0,0,0.8), transparent 40% ); }
      h4 { font-size: 0.8rem; padding: rem(16); }
      h2 { font-size: 2.5rem; }
    }
  }

  .body {
    .intro,
    h4,
    p,
    div.inline {
      color: darken($darkgray, 10%);
      margin: 2em auto 1rem;
      max-width: 996px;
      padding: 0 rem(20);
      width: 94%;
      @include mq(lt) { width: 90%; padding: 0 rem(40); }
      @include mq(md) { width: 90%; padding: 0 rem(60); }
      @include mq(l)  { width: 100%; padding: 0 rem(100); }
    }

    .intro {      
      text-align: center;
    }

    h3.intro {
      color: darken($darkgray, 20%);
      font-size: 1.2rem;
      font-weight: 900;
      margin-bottom: 0;
      margin-top: 3rem;
      @include mq(lt) { font-size: 1.4rem; }
      @include mq(md) { font-size: 1.6rem; }
      @include mq(l)  { font-size: 2rem; }
    }

    h4.intro {
      color: $midgray;
      font-size: 1rem;      
      font-style: italic;
      font-weight: 100;
      line-height: 1.5;
      margin-top: 1rem;

      @include mq(lt) { font-size: 1.1rem; }
      @include mq(md) { font-size: 1.2rem; }
      @include mq(l)  { font-size: 1.3rem; }
    }

    h4 {
      color: darken($darkgray, 20%);
      font-size: 1.4rem;
    }

    p a {
      color: $ltorange;
    }

    a.intro {
      color: #000;
      display: block;
      font-weight: 900;
      &:after {
        border-bottom: 3px solid $ltgray;
        content: "";
        display: block;
        margin: 1rem auto 1.2rem;
        width: 47px;
      }
    }

    .caption {
      color: $midgray;
      display: block;
      font-size: 0.85rem;
      margin: 0 auto 2rem;
      width: 80%;
      i {
        @extend %fa-caret-up;
      }
    }

    div.inline {      
      margin: 2em auto;      
      padding: 0;
      img {
        width: 100%;
      }
    }

    div.full {      
      margin: 2em auto;
      max-width: 100%;      
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  .cta {    
    margin: 2em auto;
    max-width: 996px;
    text-align: center;
    width: 100%;
    a {
      @include transition(background-color 0.3s linear);
      background-color: $orange;
      color: $white;
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 400;
      letter-spacing: 0.5px;
      margin: 0;
      padding: rem(12) rem(64);
      text-transform: uppercase;
      &:hover {        
        background-color: $midorange;
      }
    }
    @include mq(lt) { margin: 3em auto; }
    @include mq(md) { margin: 4em auto; }
    @include mq(l)  { margin: 6em auto; }
  }

}
