.contact-form {
  background: $yellow;
  padding: 4rem 0;

  .form-row {
    @include outer-container;
  }
}

.inquiry-text {
  @include span-columns(6);

  @include mq(m) {
    @include span-columns(12);
  }

  h4 {
    color: $darkgray;
    margin-top: 0;
    font-size: 2rem;
  }

  strong {
    color: $darkgray;
  }

  p {
    color: $darkgray;
  }
}

form.contact {
  @include span-columns(6);

  @include mq(m) {
    @include span-columns(12);
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  textarea,
  input[type=email],
  input[type=text] {
    border: rem(1) solid $ltgray;
    display: block;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;
    width: 100%;
    @include transition(box-shadow 0.2s);

    &:focus {
      background: $white;
      box-shadow: 0 0 rem(5) rgba($black, 0.2);
      outline: none;
      @include transition(box-shadow 0.2s);
    }
  }

  .form-group.half {
    @include span-columns(6);
  }

  .form-group.half.omega {
    @include omega();
  }
  .form-actions {
    display: flex;
    .button.solid {
      max-height: rem(53);
    }
    .signup-notification {
      font-size: rem(12);
      padding-top: rem(4);
      color: $darkgray;
      font-style: italic;
      max-width: 75%;
      margin-left: rem(48);
      @include mq(m) {
        margin-left: rem(10);
      }
    }
  }
}
