.hero-image.contact {
  background-image: url('../images/ts_redesign/contact-hero.jpg');
}

.contact-form {
  padding: $vertical-padding 0;

  .form-row {
    @include outer-container;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.contact-events-wrapper {
  flex: 0 1 40%;
  @include mq(m) { flex: 0 1 100%; }
}

.contact-info {
  background-color: $ltorange;
  margin-top: -4rem;
  padding: $twiceverticalpadding 0;
  text-align: center;

  .fa.fa-map-marker {
    color: $dkorange;
    font-size: 2rem;
    padding-top: $vertical-padding;
  }

  p, h3 {
    color: $white;
    font-size: 1.25rem;
    line-height: $line-height;
  }
}

form.contact {
  flex: 0 1 50%;

  @include mq(m) { flex: 0 1 100%; }

  label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  textarea,
  input[type=email],
  input[type=text] {
    border: rem(1) solid $midgray;
    display: block;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;
    width: 100%;
    @include transition(box-shadow 0.2s);

    &:focus {
      background: $white;
      box-shadow: 0 0 rem(5) rgba($black, 0.2);
      outline: none;
      @include transition(box-shadow 0.2s);
    }
  }

  .form-group.half {
    @include span-columns(6);
  }

  .form-group.half.omega {
    @include omega();
  }
}
