.careers-cta {
  background: url('../images/careers.jpg') right center no-repeat;
  background-size: cover;
  clear: both;
  padding: 6rem 0;
  color: white;

  .uppercase-link {
    color: white;
  }

  .text {
    @include span-columns(6);

    @include mq(t) {
      @include span-columns(12);
    }

    @include mq(m) {
      @include span-columns(12);
    }
  }

  a {
    color: $white;
    text-decoration: underline;
  }
}
