.expertise-teaser {
  color: $white;

  $counter: 0;
  @while $counter < 5 {
    &#expertise#{$counter} {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/ts_redesign/expertise/expertise#{$counter}.jpg') center center no-repeat;
      background-size: cover;
      height: 100%;
      padding: 2rem 0;
      position: relative;
      width: 100%;
      z-index: 1;

      @include mq(lt) { padding: 4rem 0; }
      @include mq(md) { padding: 8rem 0; }
      @include mq(l) { padding: 13rem 0; }
    }
    $counter: $counter + 1;
  }

  .side {
    @include span-columns(6);

    @include mq(m) { @include span-columns(12); }
    @include mq(t) { @include span-columns(12); }
  }
}
