header {
  padding: 2rem 0;

  @include mq(m) {
    border-top: 4px solid $orange;
    padding: 0.5rem;
  }

  @include mq(t) {
    border-top: 4px solid $orange;
    padding: 0.5rem;
  }

  .header-logo {
    img {
      width: 13rem;

      @include mq(m) {
        float: left;
      }
    }

    @include mq(t) {
      @include span-columns(3);
    }

    @include mq(d) {
      @include span-columns(3);
    }
  }

  .mobile-menu-icon {
    color: $darkgray;
    float: right;
    font-size: rem(35);

    span {
      display: none;
    }

    @include mq(d) {
      display: none;
    }

    .fa {
      line-height: rem(66);
    }
  }

  .main-menu {
    float: right;
    font-size: rem(18);
    padding-left: 0;

    @include mq(m) {
      clear: left;
      display: none;
      float: none;
      margin-top: 1rem;
    }

    @include mq(t) {
      clear: left;
      display: none;
      float: none;
    }

    li {
      cursor: pointer;
      display: list-item;
      font-size: 1.5rem;
      line-height: $line-height;

      @include mq(d) {
        display: inline;
        font-size: rem(15);
        padding: rem(50) 0;
      }
    }

    $colors: $orange, $orange-yellow1, $orange-yellow2, $orange-yellow3, $yellow;
    $child: 1;
    @each $color in $colors {
      li:nth-child(#{$child}):hover {
        border-top: 4px solid $color;
        $child: $child + 1;
      }
    }

    a {
      color: $orange;
      display: inline;

      @include mq(d) {
        color: $darkgray;
        margin: 0 rem(10);
        padding: rem(50) rem(10);
      }
    }
  }
}
