footer {
  background: url('../images/footer.png') center center;
  background-size: cover;
  height: 544px;
  margin: 0 auto;
  padding-top: 5.5rem;
  position: relative;
  width: 100%;

  @include mq(m) {
    padding-top: 2rem;
  }

  @include mq(p) {
    padding-top: 2rem;
  }

  ul {
    padding-left: 0;
  }

  li {
    color: $midorange;
    display: inline;
    margin-right: rem(40);

    @include mq(m) {
      display: block;
      font-size: rem(24);
      line-height: $line-height;
    }

    @include mq(p) {
      font-size: rem(24);
      line-height: $line-height;
    }
  }

  img {
    max-width: rem(40);
  }

  .ts-address {
    color: $white;
    margin-top: rem(60);
  }

  .bcorp-logo {
    position: absolute;
    right: 8.75rem;
    top: 11.5rem;

    @include mq(m) {
      top: 22.7rem;
      right: 1rem;
    }

    @include mq(p) {
      margin-top: 2rem;
      position: inherit;
    }
  }

  .copyright {
    bottom: 5.5rem;
    color: $ltgray;
    font-size: rem(12);
    position: absolute;

    @include mq(m) {
      bottom: 2rem;
    }

    @include mq(p) {
      margin-top: 3rem;
    }
  }

  ul,
  .ts-address,
  .bcorp-logo,
  .copyright {
    @include mq(p) {
      text-align: center;
      position: inherit;
    }
  }
}
