header {
  background-color: $white;
  left: 0;
  opacity: 0.95;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  @include mq(d) {
    padding: 2rem 0;
  }

  .header-logo {
    margin-top: 4px;
    img {
      width: rem(186);
      margin-top: rem(8);

      @include mq(m) {
        float: left;
      }
    }

    @include mq(t) {
      @include span-columns(3);
      @include omega;
      width: auto;
      img {
        margin-top: rem(8);
      }
    }

    @include mq(d) {
      @include span-columns(3);
      @include omega;
      img {
        margin-top: 0;
      }
    }
  }

  .mobile-menu-icon {
    color: $ltgray;
    float: right;
    height: 50px;
    width: 60px;

    @include mq(d) { display: none; }

    div {
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 9999;
        span {
          background-color: $ltgray;
          display: block;
          font-size: 0px;
          height: 4px;
          left: 25%;
          position: absolute;
          top: 50%;
          transition: background-color 0.3s;
          width: 50%;
          z-index: 9999;
          &:before,
          &:after {
            background: $ltgray;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            transform: translateY(-250%);
            transition: transform 0.3s;
            width: 100%;
            z-index: 9999;
          }
          &:after {
            transform: translateY(250%);
          }
        }
      }
      &.active {
        div span {
          background-color: transparent;
          &:before,
          &:after {
            background: $ltgray;
            transition: transform 0.3s;
            transform: rotate(45deg) translateY(0);
          }
          &:after {
            transform: rotate(-45deg) translateY(0) ;
          }
        }
      }
    }

  .main-menu {
    float: right;
    font-size: rem(18);
    padding-left: 0;

    @include mq(m) {
      clear: left;
      display: none;
      float: none;
      padding-top: 1rem;
      margin-bottom: 0;
    }

    @include mq(t) {
      clear: left;
      display: none;
      float: none;
    }

    li {
      cursor: pointer;
      display: list-item;
      font-size: 1.5rem;
      line-height: $line-height;

      @include mq(d) {
        display: inline;
        font-size: rem(15);
        padding: rem(50) 0;
      }
    }

    li:last-of-type a {
      // color: $orange;
      font-weight: bold;
    }

    $colors: $orange, $orange-yellow1, $orange-yellow2, $orange-yellow3, $orange-yellow4, $yellow;
    $child: 1;
    @each $color in $colors {
      li:nth-child(#{$child}) a.active,
      li:nth-child(#{$child}) a:hover {
        @include mq(d) {
          border-top: 4px solid $color;
          $child: $child + 1;
        }
      }
    }

    a {
      color: $orange;
      display: inline;

      @include mq(md) {
        color: $darkgray;
        margin: 0 0.7rem;
        padding: rem(50) rem(5);
      }

      @include mq(l) {
        color: $darkgray;
        margin: 0 0.7rem;
        padding: rem(50) rem(5);
      }
    }
  }

  @media (min-width: 1200px) and (max-width: 1282px) {
    .container {
      padding: 0 3rem 0 5.8rem;
    }
  }
  @media (min-width: 979px) and (max-width: 1124px) {
    .container {
      padding: 0 2rem 0 2rem;
    }
    .main-menu li {
      font-size: rem(14);
    }
    .main-menu a {
      margin: 0 0.4rem;
    }
  }
}
