footer {
  background: url('../images/ts_redesign/footer.jpg') center center;
  background-size: cover;
  clear: both;
  height: 544px;
  margin: 0 auto;
  padding-top: 5.5rem;
  position: relative;
  width: 100%;

  a:hover {
    text-decoration: underline;
    color: $midorange;
  }

  @include mq(m) {
    height: auto;
    padding-bottom: 7rem;
    padding-top: 2rem;
  }

  @include mq(t) {
    height: auto;
    padding-bottom: 7rem;
    padding-top: 2rem;
  }

  .footer-menu {
    display: block;

    @include mq(d) {
      @include span-columns(11);
    }
  }

  ul {
    padding-left: 0;
  }

  .main-menu-footer {
    @include mq(m) {
      text-align: center;
    }
    @include mq(t) {
      text-align: center;
    }
    @include mq(md) {
      margin-right: 0;
    }

    & > li {
      display: block;
      font-size: rem(20);
      line-height: $line-height;

      @include mq(d) {
        display: inline-table;
        font-size: rem(14);
      }
    }

    & > li > a {
      @include mq(md) {
        margin-right: 1.5rem;
      }

      @include mq(l) {
        margin-right: 2rem;
      }
    }

    .footer-submenu {
      margin-top: 0.5rem;
      @include mq(m) {
        font-size: .75em;
        margin-top: 0;
      }

      a {
        color: $white;
      }
    }
  }

  .secondary-menu-footer {
    li a { color: $ltorange; }
  }

  .bcorp-logo {
    text-align: center;
    padding-top: rem(28);

    img {
      max-width: 4rem;
    }

    @include mq(md) {
      position: absolute;
      right: 3rem;
      text-align: right;
      top: 5.2rem;
    }
    @include mq(l) {
      @include span-columns(0.5);
      text-align: right;
    }
  }

  .footer-bottom {
    position: relative;
    text-align: center;
    top: 5rem;

    @include mq(d) {
      text-align: inherit;
      top: 11rem;
    }
  }

  .social-media {
    li {
      display: inline;
      margin-right: 0.5rem;
    }
    img {
      max-width: 1.5rem;
    }

    @include mq(d) {
      @include span-columns(7);
      float: left;
      position: relative;
    }
  }

  .copyright {
    color: darken($ltgray, 20%);
    float: right;
    font-size: rem(12);
    position: relative;


    a {
      color: darken($ltgray, 20%);
      font-weight: bold;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    @include mq(d) {
      @include span-columns(5);
      text-align: right;
    }
  }
}
