.front {
  margin-top: 134px;

  @include mq(m) { margin-top: rem(90); }
  @include mq(t) { margin-top: rem(90); }

  // "Who We Are" teaser block
  .who-we-are {
    margin-bottom: -1px;
    padding: 2rem 0;
    position: relative;

    @include mq(lt) { padding: 4rem 0; }
    @include mq(md) { padding: 8rem 0; }
    @include mq(l) { padding: 13rem 0; }

    &:after {
      background: url('../images/ts_redesign/home_hero.jpg') left top no-repeat;
      background-size: cover;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;

      @include mq(m) { opacity: 0.3; }
      @include mq(p) { opacity: 0.3; }
    }

    .who-we-are-text {
      text-align: center;

      @include mq(lt) { @include span-columns(5); float: right; }
      @include mq(d) { @include span-columns(4); float: right; }

      h1 {
        color: $ltorange;
        font-family: $secondary-font;
        font-size: 5.5rem;
        font-weight: normal;
        line-height: 100px;
        margin: 0 auto;
        transform: rotate(-10deg);
        max-width: 85%;
      }

      #inspiring {
        margin-left: -0.5rem;
      }

      #change {
        margin-right: -0.5rem;
        margin-top: -2rem;
      }

      p {
        color: $darkgray;
      }
    }
  }

  // Featured Case Study
  .featured-case-study {
    background: url('../images/ts_redesign/case-studies/splc-main/header1.jpg') center center;
    background-size: cover;
    height: 100%;
    padding: 5rem 0 10rem 0;
    position: relative;
    width: 100%;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }

    // Adding this for the preview / demo.
    .gradient {
      background-image: linear-gradient( to left, rgba(40,40,40,0.8), rgba(40,40,40,0.5) );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#dd000000',GradientType=1 );
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      @include mq(lt) { background-image: linear-gradient( to left, rgba(40,40,40,1), rgba(40,40,40,0.4) );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#dd000000',GradientType=1 );
      }
      @include mq(md) { background-image: linear-gradient( to left, rgba(40,40,40,1), transparent 65% );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#dd000000',GradientType=1 );
      }
      @include mq(l) { background-image: linear-gradient( to left, rgba(40,40,40,1), transparent 65% );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#dd000000',GradientType=1 );
      }
    }

    .featured-case-study-text {
      text-align: center;
      position: relative;
      z-index: 1;

      @include mq(lt) {  @include span-columns(5); float: right; }
      @include mq(d) { @include span-columns(4); float: right; }

      h1 {
        color: $orange;
        font-size: rem(36);
        margin: 0.5rem auto;

        &:hover {
          text-decoration: underline;
        }
      }

      h4 {
        color: $white;
        font-size: rem(13);
        text-transform: uppercase;
      }

      p {
        font-size: rem(14);
        color: $white;
      }

      i {
        color: $orange;
      }
      .uppercase-link {
        color: $white;
      }
    }
  }

  // Three case studies
  .three-case-studies {
    overflow: hidden;

    .orange-overlay {
      @include transition(0.5s opacity ease-in-out);
      background: $orange;
      background-size: cover;
      height: 100%;
      left: 0;
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
    }

    .case-study {
      cursor: pointer;
      display: inline-block;
      float: left;
      position: relative;

      &:hover .orange-overlay {
        opacity: 0.9;
        transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
      }

      &:hover .case-study-text {
        transform: translateY(-90px);
        @include transition(0.5s transform ease-in-out);
      }

      @include mq(m) {
        &.active .orange-overlay {
          opacity: 0.9;
          transition: opacity 0.5s ease-in-out;
          -moz-transition: opacity 0.5s ease-in-out;
          -webkit-transition: opacity 0.5s ease-in-out;
        }

        &.active .case-study-text {
          transform: translateY(-6.5rem);
          @include transition(0.5s transform ease-in-out);
        }
      }

      @include mq(t) {
        &.active .orange-overlay {
          opacity: 0.9;
          transition: opacity 0.5s ease-in-out;
          -moz-transition: opacity 0.5s ease-in-out;
          -webkit-transition: opacity 0.5s ease-in-out;
        }

        &.active .case-study-text {
          transform: translateY(-3.5rem);
          @include transition(0.5s transform ease-in-out);
        }
      }

      @include mq(md) {
        &.active .orange-overlay {
          opacity: 0.9;
          transition: opacity 0.5s ease-in-out;
          -moz-transition: opacity 0.5s ease-in-out;
          -webkit-transition: opacity 0.5s ease-in-out;
        }

        &.active .case-study-text {
          transform: translateY(-6.5rem);
          @include transition(0.5s transform ease-in-out);
        }
      }
    }

    $case: 2;
    @while $case < 5 {
      #case-study#{$case} {
        background-size: cover;
        height: 330px;
        padding: 2rem;
        width: 33.33%;

        @include mq(m) { height: 285px; width: 100%; }
        @include mq(t) { width: 100%; }
      }
      $case: $case + 1;
    }

    .case-study-text {
      top: 15rem;
      position: absolute;
      @include transition(0.5s transform ease-in-out);

      @include mq(m) { top: 12.75rem; }
      @include mq(md) { top: 15.75rem; }
    }

    h2,
    p {
      color: $white;
      z-index: 1;
    }

    h2 {
      font-size: rem(26);
      padding-bottom: 1rem;
    }

    p {
      font-size: rem(14);
    }
  }

  .blog-teaser {
    color: $white;

    .featured-blog-post,
    .blog-menu {
      display: inline-block;
      height: 408px;
      float: left;
      padding-top: 3rem;
    }

    .featured-blog-post {
      background: url('../images/ts_redesign/blog_teaser.png') center center no-repeat;
      background-size: cover;
      position: relative;
      width: 58%;

      @include mq(m) { width: 100%; }
      @include mq(t) { width: 100%; }

      @media (min-width: 1440px) {
        .container {
          max-width: 78%;
          min-width: 842px;
          padding-right: 112px;
          margin: 0;
          float: right;
        }
      }


      h2 {
        font-size: rem(26);
        margin-bottom: 0;

        a {
          color: $yellow;
        }
      }

      p {
        margin-top: 0.5rem;
      }

      img,
      .author-info {
        bottom: 3rem;
        display: inline-block;
        position: absolute;
      }

      .author-info {
        a {
          color: $yellow;
        }

        h4 {
          margin: 0 0 0 5rem;
        }

        p {
          color: $white;
          font-size: rem(14);
          margin: 0 0 0.5rem 5rem;
        }
      }
    }

    .blog-menu {
      background: $backgroundgray;
      width: 42%;

      @include mq(m) { width: 100%; height: 375px}
      @include mq(t) { width: 100%; height: 350px}

      @include mq(l) {
        .container {
          min-width: 540px;
        }
      }

      ul {
        padding-top: 0.5rem;
        padding-left: 0;
      }

      a {
        color: $white;
        cursor: pointer;
        line-height: $line-height;
        margin-left: 0;

        @include mq(m) { font-size: rem(18); line-height: 2; }
        @include mq(t) { font-size: rem(22); line-height: 2; }

        &:hover {
          color: $yellow;
        }

        i {
          color: $yellow;
          font-size: 1.5rem;
          margin-left: rem(10);
          vertical-align: sub;

          @include mq(m) { font-size: 1.5rem; vertical-align: middle; }
          @include mq(t) { font-size: 2rem; vertical-align: middle; }
        }
      }
    }
  }
}
