.front {
  // "Who We Are" teaser block
  .who-we-are {
    background: url('../images/ts_redesign/home_hero.png') left top;
    background-size: cover;
    height: 100%;
    padding: 2rem 0;
    position: relative;
    width: 100%;
    z-index: 1;

    @include mq(lt) {
      padding: 4rem 0;
    }

    @include mq(md) {
      padding: 8rem 0;
    }

    @include mq(l) {
      padding: 13rem 0;
    }

    &:after {
      @extend %dotted-overlay;
    }

    .who-we-are-text {
      text-align: center;

      @include mq(lt) {
        @include span-columns(5);
        float: right;
      }

      @include mq(d) {
        @include span-columns(4);
        float: right;
      }

      h1 {
        color: $ltorange;
        font-family: $secondary-font;
        font-size: 5.5rem;
        font-weight: normal;
        line-height: 100px;
        margin: 0 auto;
        transform: rotate(-10deg);
        max-width: 85%;
      }

      #inspiring {
        margin-left: -0.5rem;
      }

      #change {
        margin-right: -0.5rem;
        margin-top: -2rem;
      }

      p {
        color: $darkgray;
      }
    }
  }

  // Featured Case Study
  .featured-case-study {
    background: url('../images/ts_redesign/splc.png') left top;
    background-size: cover;
    height: 100%;
    padding: 7rem 0 13rem 0;
    position: relative;
    width: 100%;

    .featured-case-study-text {
      text-align: center;

      @include mq(lt) {
        @include span-columns(5);
        float: right;
        text-align: left;
      }

      @include mq(d) {
        @include span-columns(4);
        float: right;
        text-align: left;
      }

      h1 {
        color: $orange;
        font-size: rem(36);
        margin: 0.5rem auto;
      }

      h4 {
        color: $darkgray;
        font-size: rem(13);
        text-transform: uppercase;
      }

      p {
        font-size: rem(14);
      }

      i {
        color: $orange;
      }
    }
  }

  // Three case studies
  .three-case-studies {
    height: 330px;

    .case-study {
      @include span-columns(4);
      @include omega();
    }

    $case: 0;
    @while $case < 4 {
      #case-study#{$case} {
        background: url('../images/ts_redesign/case_study#{$case}.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        padding: 2rem;
      }
      $case: $case + 1;
    }
  }
}
