.map-teaser {
  background: $backgroundgray;
  overflow: hidden;

  .address {
    color: $white;
    float: left;
    width: 33.3333%;
    padding-left: 7rem;

    .inner {
      vertical-align: middle;;
      padding-top: 7rem;
    }

    @include mq(t) {
      padding-left: 1rem;
    }

    @include mq(t) {
      width: 50%;
    }

    @include mq(m) {
      width: 100%;
    }
  }

  .map-embed {
    background: url('../images/ts_redesign/map-teaser-bg.jpg') center center no-repeat;
    height: rem(400);
    width: 66.6666%;
    float: left;
    line-height: 0;
    margin-bottom: 0;

    @include mq(r) {
      background: url('../images/ts_redesign/map-teaser-bg@2x.jpg') center center no-repeat;
      background-size: 100%;
    }

    @include mq(t) {
      width: 50%;
      background-position: 67% center;
      background-size: cover;
    }

    @include mq(m) {
      margin-top: 7rem;
      width: 100%;
      background-position: right center;
      background-size: cover;
    }
  }
}
