.newsletter-block {
  background: $midorange url('../images/ts_redesign/dot.png');
  clear: left;
  color: $white;
  padding: 4rem 0;
  position: relative;

  h1 {
    font-family: $secondary-font;
    font-weight: normal;
    font-size: 2.5rem;
  }

  .newsletter-info {
    @include span-columns(7);

    @include mq(m) {
      @include span-columns(12);
    }

    form {
      margin-top: 2rem;
    }

    input,
    button {
      background: $midorange;
      border: none;
      border-bottom: 4px solid $white;
      float: left;
      opacity: 0.5;

      &::-webkit-input-placeholder { color: $white; }
      &::-moz-placeholder { color: $white; }
      &:-ms-input-placeholder { color: $white; }
    }

    input {
      margin-top: rem(-3);
      padding: 1rem 0;
      width: 70%;

      @include mq(d) {
        width: 50%;
      }
    }

    button {
      font-size: rem(14);
      font-weight: bold;
      padding: 0.75rem 0;
      text-transform: uppercase;

      i {
        font-size: 1.5rem;
        margin-left: rem(10);
        vertical-align: sub;
      }
    }
  }

  .social-media {
    @include span-columns(3);
    z-index: 1;

    @include mq(m) {
      @include span-columns(12);
      margin-top: 2rem;
    }

    h1,
    ul {
      clear: right;
      float: right;

      @include mq(m) {
        float: none;
      }
    }

    ul {
      margin-top: 0;

      @include mq(m) {
        padding: 0;
      }
    }

    li {
      display: inline-block;
      width: 50px;
      padding-right: 1em;
    }
  }
}
