.newsletter-block {
  background: $midorange;
  color: $white;
  padding: 4rem 0;
  position: relative;

  &:after {
    content: "";
    background: transparent url('../images/ts_redesign/dot.png') repeat repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  h1 {
    font-family: $secondary-font;
  }

  .newsletter-info {
    @include span-columns(9);

    @include mq(m) {
      @include span-columns(12);
    }

    form {
      // font: normal normal normal 13px/1 FontAwesome;
      margin-top: 2rem;
    }

    input {
      background: $midorange;
      border: none;
      border-bottom: 4px solid $white;
      float: left;
      opacity: 0.5;
      padding: 1rem 0;

      &::-webkit-input-placeholder { color: $white; }
      &::-moz-placeholder { color: $white; }
      &:-ms-input-placeholder { color: $white; }
    }

    #newsletter-label {
      font-size: rem(15);
      width: 70%;

      @include mq(d) {
        width: 50%;
      }
    }

    #newsletter-submit {
      font-size: rem(14);
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .social-media {
    @include span-columns(3);
    z-index: 1;

    @include mq(m) {
      @include span-columns(12);
      margin-top: 2rem;
    }

    h1,
    ul {
      clear: right;
      float: right;

      @include mq(m) {
        float: none;
      }
    }

    ul {
      margin-top: 0;

      @include mq(m) {
        padding: 0;
      }
    }

    li {
      display: inline;
    }
  }
}
