.our-expertise {
  padding: 6rem 0;

  @include mq(m) { padding: 2rem 0; }
  @include mq(t) { padding: 3rem 0; }
  @include mq(md) { padding: 3rem 0; }

  h1 {
    color: $darkgray;
    font-size: rem(36);
    margin: 0;
  }

  .our-expertise-block {
    @include span-columns(3);
    @include omega(5n);

    @include mq(m) { @include span-columns(12); }
    @include mq(t) { @include span-columns(6); @include omega(3n); }

  h2 {
    color: $darkgray;
    font-size: rem(22);
  }

  a h2 {
      color: $orange;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: $darkgray;
    }
  }

  a {
    @include span-columns(12);
  }
}
