.our-services-intro {
  display: table;
  width: 100%;

  @include mq(l) { margin-top: 5rem; }

  h1 {
    color: $darkgray;
    font-size: rem(36);
    margin: 0;
  }

  a {
    display: table-cell;
    width: 50%;
  }

  a.uppercase-link {
    text-align: right;

    @include mq(m) { display: none; }
  }
}

.our-services {
  padding-bottom: 3rem;

  .container.case-studies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include mq(m) { padding: 2rem 0; }
  @include mq(t) { padding: 3rem 0; }
  @include mq(md) { padding: 3rem 0; }

  .our-services-block {
    @include span-columns(3);
    margin-right: 0;
    float: none;

    @include mq(m) {
      @include span-columns(12);
    }
    @include mq(t) {
      @include span-columns(6);
      margin-right: 0;
      float: none;
    }

  h2 {
    color: $darkgray;
    font-size: rem(22);
  }

  a h2 {
      color: $orange;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: $darkgray;
    }
  }
}
