 .our-work {

  .main-content {
    @include mq(m) { margin-top: rem(90); }
    @include mq(t) { margin-top: rem(90); }
  }

  .intro {
    h1 {
      color: $midgray;
      font-size: 1.8rem;
      font-weight: 900;
      margin-bottom: 0;
      margin-top: 0.7rem;
      @include mq(lt) { font-size: 2rem; }
      @include mq(md) { font-size: 2.2rem; }
      @include mq(l) { font-size: 2.5rem; }
    }
    p {
      color: $midgray;
      font-size: 1.1rem;
      margin-top: 0.5rem;
      @include mq(lt) { font-size: 1.1rem; }
      @include mq(md) { font-size: 1.2rem; }
      @include mq(l) { font-size: 1.2rem; }
    }
  }

  .case-study-header {
    background-position: center center;
    background-size: cover;
    color: $white;
    display: inline-block;
    height: 100%;
    margin-bottom: -4px;
    min-height: 340px;
    padding: 2rem 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    @include mq(lt) { padding: 3rem 0; min-height: 250px; }
    @include mq(md) { padding: 5rem 0 3rem; min-height: 450px; }
    @include mq(l) { padding: 6rem 0 4rem; min-height: 550px; }

    .gradient {
      background-image: linear-gradient( to right, rgba(40,40,40,0.8), rgba(40,40,40,0.5) );
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
      @include mq(lt) { background-image: linear-gradient( to right, rgba(40,40,40,1), rgba(40,40,40,0.4) ) }
      @include mq(md) { background-image: linear-gradient( to right, rgba(40,40,40,1), transparent 65% ) }
      @include mq(l) { background-image: linear-gradient( to right, rgba(40,40,40,1), transparent 55% ) }
    }

    .wrapper {
      margin: 3% auto;
      max-width: 94%;
      position: relative;
      vertical-align: center;
      z-index: 100;
      @include mq(lt) { max-width: 80%; }
      @include mq(md) { max-width: 35%; float: left; margin-left: 5%; }
      @include mq(l) { max-width: 25%; float: left; margin-left: 7%; }
    }

    &:nth-child(odd) {
      .gradient {
        background-image: linear-gradient( to left, rgba(40,40,40,0.8), rgba(40,40,40,0.5) );
        @include mq(lt) { background-image: linear-gradient( to left, rgba(40,40,40,1), rgba(40,40,40,0.4) ); }
        @include mq(md) { background-image: linear-gradient( to left, rgba(40,40,40,1), transparent 65% ); }
        @include mq(l) { background-image: linear-gradient( to left, rgba(40,40,40,1), transparent 55% ); }
      }
      .wrapper {
        left: 0;
        right: 0;
        @include mq(md) { float: right; margin-right: 5%; }
        @include mq(l) { float: right; margin-right: 7%; }
      }
    }

    h4 {
      color: darken($ltgray, 10%);
      display: inline-block;
      font-size: 0.6rem;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
      @include mq(lt) { font-size: 0.8rem }
      @include mq(md) { font-size: 0.8rem }
      @include mq(l) { font-size: 0.8rem }
    }

    h2 {
      color: $orange;
      font-size: 1.2rem;
      font-weight: 900;
      letter-spacing: 0.5px;
      line-height: 1;
      margin-bottom: 1rem;
      margin-top: 0.7rem;
      @include mq(lt) { font-size: 1.5rem; }
      @include mq(md) { font-size: 1.8rem; }
      @include mq(l) { font-size: 2rem; }

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: rem(13);
      font-weight: 300;
      line-height: 1.7;
      margin: 0 auto 1rem;
      max-width: 90%;
      opacity: 0.9;
    }

    a.uppercase-link {
      color: $white;
      font-size: rem(13);
      i {
        color: $yellow;
      }
    }
  }
}

  // @include mq(lt) {  }
  // @include mq(md) {  }
  // @include mq(l)  {  }
