 .our-work {

  .main-content {
    @include mq(m) { margin-top: rem(90); }
    @include mq(t) { margin-top: rem(90); }
  }

  .case-study-header {
    @include transition(border 0.2s);
    background-position: center center;
    background-size: cover;
    color: $darkgray;
    display: inline-block;
    height: 100%;
    margin-bottom: 1.5rem;
    min-height: 340px;
    padding: 2rem 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    @include mq(lt) { padding: 3rem 0; min-height: 250px; }
    @include mq(md) { padding: 5rem 0 3rem; min-height: 450px; }
    @include mq(l) { padding: 6rem 0 4rem; min-height: 550px; }

    &:hover {
      border: rem(6) solid $orange;
      @include transition(border 0.2s);
    }

    .wrapper {
      background: $white;
      bottom: rem(-8);
      left: 0;
      margin: 0 auto;
      padding: 1rem;
      position: absolute;
      right: 0;
      text-align: center;
      width: 74%;
    }

    h4 {
      color: darken($ltgray, 10%);
      display: inline-block;
      font-size: 0.6rem;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
      @include mq(lt) { font-size: 0.8rem }
      @include mq(md) { font-size: 0.8rem }
      @include mq(l) { font-size: 0.8rem }
    }

    h2 {
      color: $orange;
      font-size: 1.2rem;
      font-weight: 900;
      letter-spacing: 0.5px;
      line-height: 1;
      margin-bottom: 1rem;
      margin-top: 0.7rem;
      @include mq(lt) { font-size: 1.5rem; }
      @include mq(md) { font-size: 1.8rem; }
      @include mq(l) { font-size: 2rem; }

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: $darkgray;
      font-size: rem(13);
      font-weight: 300;
      line-height: 1.7;
      margin: 0 auto 1rem;
      max-width: 90%;
      opacity: 0.9;
    }

    a.uppercase-link {
      font-size: rem(13);
      i {
        color: $yellow;
      }
    }
  }
}
