.services {
  .services-hero {
    margin-top: 55px;

    @include mq(lt) {
      margin-top: 113px
    }
    @include mq(d) {
      margin-top: 223px;
    }
    h1 {
      color: $herogray;
      font-size: rem(32);
      font-weight: 900;
      line-height: calc(73/56);
      margin-bottom: rem(35);
      margin-top: 0.8rem;

      em {
        color: $orange;
        font-style: normal;
      }

      @include mq(t) {
        max-width: 95%;
        margin-bottom: rem(55);
      }
      @include mq(d) {
        max-width: 90%;
        margin-bottom: rem(75);
      }
    }
    h2 {
      color: $herogray;
      font-size: rem(24);
      font-weight: 900;
      line-height: calc(73/56);
      margin-bottom: 0;
      margin-top: 0;

      em {
        color: $orange;
        font-style: normal;
      }

      @include mq(t) { max-width: 95%; }
      @include mq(d) { max-width: 90%; }
    }
    @include mq(lt) {
      h1 { font-size: rem(48); }
    }
    @include mq(d) {
      h1 { font-size: rem(56); }
    }
  }

  .services-body {
    background: $bgblack url('../images/ts_redesign/case-studies/splc-main/splc-process.jpg') no-repeat top center;
    background-size: 100% auto;
    color: $white;
    position: relative;
    height: auto;
    padding: 6rem 0;
    @include mq(m) { padding: 3rem 0; }
    @include mq(t) { padding: 4.5rem 0; }

    .gradient {
      background-image: linear-gradient( 0deg, rgba($bgblack,1), rgba($bgblack,1) 60%, rgba($bgblack,.95) 70%, rgba($bgblack,.9) 80%, rgba($bgblack,.85) 90%, rgba($bgblack,.8) 95% );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#DD000000',GradientType=0 );
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    .intro {
      z-index: 3;
      position: relative;
      margin-bottom: 4rem;
      @include mq(m) {
        margin-bottom: 1rem;
      }
      @include mq(t) {
        margin-bottom: 2rem;
      }

      h2 {
        font-size: rem(20);
        font-weight: 900;
        line-height: calc(32/24);
        @include mq(lt) { font-size: rem(22); max-width: 80%; }
        @include mq(d) { font-size: rem(24); max-width: 65%; }
      }
      p {
        font-size: rem(14);
        font-weight: 300;
        line-height: calc(29/16);
        @include mq(lt) { font-size: rem(15); max-width: 80%; }
        @include mq(d) { font-size: rem(16); max-width: 550px; }
      }
    }

  }

  .service-types  {
    z-index: 3;
    position: relative;

    section {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0rem;
      padding-top: 9rem;
      @include mq(m) {
        padding-top: 3rem;
        flex-direction: column;
      }
      @include mq(t) {
        padding-top: 4.5rem;
      }

      @include mq(lt) { flex-direction: row; }
      @include mq(d) { flex-direction: row; }

      &:first-of-type {
        padding-top: 4.5rem;
      }

      h3,
      .offerings {
        flex: 0 1 23.23176%;
        padding-right: 10px;
      }
      @media (min-width: 481px) and (max-width: 767px) {
        flex-wrap: wrap;

        h3 {
          flex: 1 1 100%;
        }
      }

      .description {
        flex: 1 1 45%;
        max-width: 550px;
        padding-right: 10px;
      }

      h3 {
        color: $orange;
        font-size: rem(28);
        font-weight: 600;
        line-height: calc(42/36);
        margin-top: 0;
        @include mq(lt) { font-size: rem(32); }
        @include mq(d) { font-size: rem(36); }
      }

      .description h4 {
        font-size: rem(20);
        font-weight: 900;
        line-height: calc(32/24);
        margin-top: 0;
        margin-bottom: rem(12);
        @include mq(lt) { font-size: rem(22); margin-bottom: rem(14); }
        @include mq(d) { font-size: rem(24); margin-bottom: rem(16); }
      }
      .description p {
        font-size: rem(14);
        font-weight: 300;
        line-height: calc(29/16);
        @include mq(lt) { font-size: rem(15); }
        @include mq(d) { font-size: rem(16); }
      }

      .offerings {
        padding: 0;
        margin: 0;
      }
      .offerings li {
        color: #adadad;
        font-size: rem(12);
        font-weight: 500;
        line-height: calc(18/13);
        margin-bottom: rem(16);
        margin-left: 0;
        padding-left: 0;
        @include mq(lt) {
          font-size: rem(12);
          padding: 0 0 0 1rem;
        }
        @include mq(d) {
          font-size: rem(13);
          padding: 0 0 0 2rem;
        }
      }
    }
  }
}
