.team-member-side {
  @include span-columns(6);
  color: $darkgray;
  padding: 0 1rem 1rem;
  overflow: hidden;

  @include mq(m) { @include span-columns(12); }
  @include mq(t) { @include span-columns(12); }

  img {
    max-width: 100%;
  }

  h1 {
    font-size: rem(45);
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .position {
    color: $orange;
    margin-top: 0;
    text-transform: uppercase;
  }

  h5 {
    font-size: rem(20);
    font-weight: normal;
    line-height: $line-height;
  }
}

.team-member-side.side-left {
  padding-left: 0;
}

.team-member-side.side-right {
  padding-right: 0;
}

.team-member-blog {
  background: $yellow;
  padding: 3rem;
  position: relative;
  z-index: 1;

  &:after {
    @extend %dotted-overlay;
  }

  .post {
    @include span-columns(4);
    @include omega(4n);
    background: $white;
    padding: 0 1.5rem;

    a {
      color: $darkgray;
    }

    .post-date {
      font-size: rem(15);
    }

    .post-title {
      color: $black;
    }
  }

  h4,
  h5 {
    clear: both;
    text-align: center;
    text-transform: uppercase;
  }
}
