.team .team-member {
  display: block;
  margin-bottom: 3.2rem;
  flex: 0 1 25%;
  text-align: center;

  & a:hover,
  & a:focus,
  & a:active {
    img {
      opacity: 0.7;
    }

    .name-title {
      color: $dark-orange;
    }
  }

  @media (min-width: 1600px) {
    flex: 0 1 20%;
  }
  @include mq(t) {
    flex: 0 1 33.333%;
  }
  @include mq(p) {
    flex: 0 1 50%;
  }
  @include mq(m) {
    flex: 0 1 100%;
  }

  img {
    width: 100%;
  }

  h2 {
    color: $darkgray;
    font-size: rem(17);
    margin: 18px 0 5px;
    text-transform: uppercase;
  }

  p {
    color: $midgray;
    font-size: rem(14);
    margin: 4px 0 0 0;
    line-height: 1.05;
  }
}
