.team-member-side {
  @include span-columns(6);
  padding: 1rem;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  h1 {
    margin-top: 0;
  }
}

.team-member-blog {
  background: $yellow;
  padding: 3rem;
  position: relative;
  z-index: 1;

  &:after {
    @extend %dotted-overlay;
  }

  .post {
    @include span-columns(4);
    @include omega(4n);
    background: $white;
    padding: 0 1.5rem;
  }

  h4,
  h5 {
    clear: both;
    text-align: center;
    text-transform: uppercase;
  }
}
