.work-archive {
  .case-study-previews a .case-study-header {
    min-height: 330px;
    width: 48%;

    @include mq(m) { width: 100%; }
  }
  .case-study-previews a:nth-of-type(odd) .case-study-header {
    margin-right: 2%;
  }
}
