---
layout: default
title: Team
---
<div class="content">
	<div class="hero-image" style="background-image: url('{{ site.baseurl }}/images/team.png');"></div>
	<div class="hero">
		<div class="site-width">
			<div class="background"></div>
			<div class="leadin">
				<h2>We build captivating web solutions for the people who make good things happen.</h2>
			</div>
		</div>
	</div>
	<section class="main">
		<div class="row">
			<div class="large-12 columns">
				<h2 class="section-header">Meet Our Team</h2>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<ul class="team large-block-grid-3">
          {% for page in site.pages %}
          {% if page.layout == 'teammember' %}
				  <li>
				    <article>
				    	<a href="{{ site.baseurl }}{{ page.url }}"><img src="{{ site.baseurl }}/images/{{page.image}}"></a>
				      <div class="project-title"><h4><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title}}</a></h4></div	>
				      <p class="content-text">{{page.position}}</p>
				    </article>
				  </li>
          {% endif %}
				  {% endfor %}
				  <li>
				  	<h3>Job Opening</h3>
				  </li>
				</ul>
			</div>
		</div>
	</section>
</div>
