<div class="bene-oss-cta">
  <div class="bene-cta">
    <img class="bene-logo" src="{{ site.baseurl }}/assets/images/bene/bene-logo.svg" alt="Logo: Bene" />
    <div class="bene-text">
      <h3>Bene</h3>
      <h4>Code, for Good.</h4>
      <p>Looking for an affordable, out-of-the box website solution? Meet package-deal Bene: an open source platform with strategic support to help meet your organization’s specific needs and goals.</p>
      <a href="{{ site.baseurl }}bene/">Learn about Bene<span class="arrow-right"></span></a>
    </div>
  </div>
  <div class="oss-cta">
    <img class="oss-logo" src="{{ site.baseurl }}/assets/images/oss-logo.svg" alt="Logos: Drupal 8, GitHub, WordPress" />
    <div class="oss-text">
      <h3>Open Source,</h3>
      <h4>for everyone.</h4>
      <p>Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      <a href="https://www.drupal.org/thinkshout">See us on drupal.org<span class="arrow-right">
      <a href="https://github.com/thinkshout">See us on github<span class="arrow-right"></span></a>
    </div>
  </div>
</div>
