<div class="bene-oss-cta container">
  <div class="bene-cta">
    <div class="img-wrapper"><img class="bene-logo" src="{{ site.baseurl }}/assets/images/bene/bene-logo-color.svg" alt="Logo: Bene" /></div>
    <div class="bene-text">
      <h3>Bene</h3>
      <h4>Code for Good.</h4>
      <p>Like any effective digital solution, Bene is the answer to a specific problem: Nonprofits with important missions but modest budgets still need to make a big impact through their websites.</p>
      <a href="{{ site.baseurl }}bene/">Learn about Bene<span class="arrow-right"></span></a>
    </div>
  </div>
  <div class="oss-cta">
    <div class="img-wrapper"><img class="oss-logo" src="{{ site.baseurl }}/assets/images/opensourcelogos.png" alt="Logos: Drupal 8, GitHub, WordPress" /></div>
    <div class="oss-text">
      <h3>Open Source,</h3>
      <h4>for everyone.</h4>
      <p>The ThinkShout team has invested thousands of hours into helping mission-driven organizations achieve their goals with the help of open source tools, to the point that our contributions now power more than 70,000 websites.</p>
      <a href="https://www.drupal.org/thinkshout">See us on drupal.org<span class="arrow-right">
      <a href="https://github.com/thinkshout">See us on github<span class="arrow-right"></span></a>
    </div>
  </div>
</div>
