<article class="blog-teaser">
  <div class="info">
    <p><span class="date">{{ post.date | date: '%m.%d.%Y' }}</span> <a class="topic" href="{{ site.baseurl }}/blog/topic/{{ post.topic }}">{{ include.title }}</a></p>

    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

    {% if post.short %}
    <p class="short">{{ post.short }}</p>
    {% endif %}
  </div>

  {% for person in site.team %}
  {% if post.author == person.name %}
  <div class="byline">
    <img class="team-photo" src="{{ site.baseurl }}/assets/images/{{ person.team-image.small }}" alt="{{ person.first_name }} {{ person.last_name }}">
    <div class="byline-wrapper">
      {% if person.current-employee %}
        <a class="team-name" href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a><br>
        {{ person.position }}
      {% else %}
        <strong>{{ person.first_name }} {{ person.last_name }}</strong><br>
        {{ person.position }}<br>
        <small>ThinkShout Alumnus</small>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</article>
