<article class="blog-teaser">
  <div class="blog-img">
    <img src="{{ site.baseurl }}{{ post.header-image }}" alt="Featured Image">
  </div>
  <div class="info">
    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

    {% if post.short %}
    <p class="short">{{ post.short }}</p>
    {% endif %}
  </div>

  {% for person in site.team %}
  {% if post.author == person.name %}
  <div class="byline">
    <img class="team-photo" src="{{ site.baseurl }}/assets/images/{{ person.team-image.small }}" alt="{{ person.first_name }} {{ person.last_name }}">
    <span class="byline-wrapper">
      {% if person.current-employee %}
        <a class="team-name" href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a>
        <span class="position">{{ person.position }}</span>
      {% else %}
        <strong>{{ person.first_name }} {{ person.last_name }}</strong>
        <span class="position">{{ person.position }}</span>
        <small>ThinkShout Alumnus</small>
      {% endif %}
    </span>
  </div>
  {% endif %}
  {% endfor %}
</article>
