<form action="https://docs.google.com/forms/d/1ce7qWm2XPdRcNeTp733EHt5H3fYz9HDw-gQyW3fvQ34/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol style="padding-	left: 0">
	<div class="ss-form-question errorbox-good">
		<div dir="ltr" class="ss-item ss-item-required ss-select">
			<div class="ss-form-entry">
				<label aria-hidden class="ss-q-item-label aria-todo" for="entry_1392677642">
					<div class="ss-q-title">
						I'd like to contact you regarding a...
						<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
					</div>
				</label>
				<select name="entry.1392677642" id="entry_1392677642" aria-label="Category" aria-required="true" required=""><option value=""></option>
				<option value="Project, partnership, or other opportunity">Project, partnership, or other opportunity</option> <option value="General inquiry">General inquiry</option></select>
			</div>
		</div>
	</div>
	<div class="contact-form-name">
		<div class="ss-form-question errorbox-good">
			<div dir="ltr" class="ss-item ss-item-required ss-text">
				<div class="ss-form-entry">
					<label aria-hidden class="ss-q-item-label aria-todo" for="entry_148585776">
						<div class="ss-q-title">Name
							<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
						</div>
						<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
					</label>
					<input type="text" name="entry.148585776" value="" class="ss-q-short" id="entry_148585776" dir	="auto" aria-label="Your Name" aria-required="true" required="" title="">
				</div>
			</div>
		</div>
	</div>
	<div class="contact-form-email">
		<div class="ss-form-question errorbox-good">
			<div dir="ltr" class="ss-item ss-item-required ss-text">
				<div class="ss-form-entry">
					<label aria-hidden class="ss-q-item-label aria-todo" for="entry_1237522080">
						<div class="ss-q-title">Email
							<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
						</div>
						<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
					</label>
					<input type="email" name="entry.1237522080" value="" class="ss-q-short" id="entry_1237522080" 	dir="auto" aria-label="Your Email Must be a valid email address" aria-required="true" 	required="" title="Must be a valid email address">
				</div>
			</div>
		</div>
	</div>
	<div class="ss-form-question errorbox-good">
		<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
			<div class="ss-form-entry">
				<label aria-hidden class="ss-q-item-label aria-todo" for="entry_1752597187">
					<div class="ss-q-title">
						Message
						<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
					</div>
					<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
				</label>
				<textarea name="entry.1752597187" rows="8" cols="0" class="ss-q-long" id="entry_1752597187" dir="	auto" aria-label="Message" aria-required="true" required=""></textarea>
			</div>
		</div>
	</div>
	<input type="hidden" name="draftResponse" value="[]">
	<input type="hidden" name="pageHistory" value="0">
	<input type="hidden" name="fbzx" value="1701147913826410385">
	<input type="submit" name="submit" value="Submit" id="ss-submit">
</form>