<div class="edc-oss-cta container">
  <div class="edc-cta">
    <div class="img-wrapper"><img class="edc-logo" src="{{ site.baseurl }}/assets/images/edc-logo-color.png" alt="Logo: edc" /></div>
    <div class="edc-text">
      <h3>Equitable Digital Connections</h3>
      <p><strong>Digital strategies should be personal, flexible, and accessible.</strong></p>
      <p>Making your digital universe accessible to all users has never been more important. We created the Equitable Digital Connections (EDC) series to share online learning sessions, blog articles, and actionable information you can use to ensure your digital doorstep is available to everyone.</p>
      <a href="{{ site.baseurl }}/equitable-digital-connections/">Dive into edc<span class="arrow-right"></span></a>
    </div>
  </div>
  <div class="oss-cta">
    <div class="img-wrapper"><img class="oss-logo" src="{{ site.baseurl }}/assets/images/opensourcelogos.png" alt="Logos: Drupal 8, GitHub, WordPress" /></div>
    <div class="oss-text">
      <h3>Open Source,</h3>
      <h4>for everyone.</h4>
      <p>The ThinkShout team has invested thousands of hours into helping mission-driven organizations achieve their goals with the help of open source tools, to the point that our contributions now power more than 70,000 websites.</p>
      <a href="https://www.drupal.org/thinkshout">See us on drupal.org<span class="arrow-right">
      <a href="https://github.com/thinkshout">See us on github<span class="arrow-right"></span></a>
    </div>
  </div>
</div>
