<footer>
  <div class="container">
  	<nav class="footer-menu">
  		<ul>
  			<a href="{{ site.baseurl }}/who-we-are"><li>Who We Are</li></a>
  			<a href="{{ site.baseurl }}/what-we-do"><li>What We Do</li></a>
  			<a href="{{ site.baseurl }}/our-work"><li>Our Work</li></a>
  			<a href="{{ site.baseurl }}/connect-with-us"><li>Connect With Us</li></a>
  			<a href="{{ site.baseurl }}/careers"><li>Careers</li></a>
        <a href="{{ site.baseurl }}/privacy-policy"><li>Privacy Policy</li></a>
  		<ul>
  	</nav>

    <div class="ts-address">
      433 NW 4th Ave, Suite 100<br>
      Portland, Oregon 97209<br>
      503-847-9216
    </div>

    <div class="bcorp-logo">
      <a href="https://www.bcorporation.net/community/thinkshout-inc" target="_blank">
        <img src="{{ site.baseurl }}/assets/images/ts_redesign/bcorp-logo.png" alt="ThinkShout logo" />
      </a>
    </div>

    <div class="copyright">
      &copy;2016 ThinkShout, Inc. ThinkShout and the ThinkShout logos are
      registered trademarks of ThinkShout, Inc.
    </div>
  </div>
</footer>
