<div class="contact">
	<div class="row">
		<div class="large-5 columns push-1" style="text-align: center;">
			<h2>Like what you see?<br />Get in touch.</h2>
			<p>Say hello and tell us about the change you'd like to create in the world.</p>
		</div>
		<div class="large-5 columns pull-1">
			{% include contact-form.html %}
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="large-5 columns push-1">
			<ul>
	      <li><a href="{{ site.baseurl }}/work">Work</a></li>
				<li><a href="{{ site.baseurl }}/expertise">Expertise</a></li>
				<li><a href="{{ site.baseurl }}/team">Team</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li><a href="{{ site.baseurl }}/careers">Careers</a></li>
				<li><a href="{{ site.baseurl }}">Meet Redhen</a></li>
				<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
	    </ul>
		</div>
		<div class="large-5 columns pull-1">

		</div>
	</div>
</footer>