{% if page.contact != false %}
<div class="contact">
  <div class="row">
    <div class="large-8 columns large-centered">
      <h2>Say hello. Tell us about the change you'd like to create in the world.</h2>
      {% include contact-form.html %}
    </div>
  </div>
</div>
{% endif %}
<footer>
  <div class="row">
    <div class="large-8 columns large-centered">
      <div class="row">
        <div class="large-5 small-12 columns">
          <nav class="footer-nav">
            <ul>
            {% for link in site.data.menu %}
              <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="large-5 small-12 columns">
          <div class="contact-info">
            <h4>ThinkShout, Inc.</h4>
            <p>433 NW 4th Ave, Suite 100<br />
            Portland OR 97209<br />
            (503) 847-9216</p>
            <ul id="social_media">
              <li><a href="{{ site.baseurl }}/rss.xml"><span class="icon-rss-sign"></span></a></li>
              <li><a href="http://www.facebook.com/ThinkShout"><span class="icon-facebook-sign"></span></a></li>
              <li><a href="http://www.twitter.com/ThinkShout"><span class="icon-twitter-sign"></span></a></li>
            </ul>
            <p><span class="copyright">Founded June 2009 © 2009-2014</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>