<header>
	<div class="row">
		<div class="large-12 columns">
			<h1 class="title"><a href="/">{{ site.name }}</a></h1>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<nav id="primary" class="menu">
				<ul>
					<li><a href="#">Work</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Team</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<nav id="primary" class="menu">
				<ul>
					<li><a href="#">Meet RedHen</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>