<header>
	<div id="flag" class="menu-close">
		<a class="menu-toggle"><span>Menu</span></a>
		<a id="branding" href="{{ site.baseurl }}/">ThinkShout</a>
    <div id="title-flag">
    {% if page.path == 'index.html'  %}
      {{ page.title }}
    {% else %}
      {% assign url_parts = page.url | split: '/' %}
      <a href="{{ site.baseurl}}/{{ url_parts[1] }}/">{{ url_parts[1] | capitalize }}</a>
    {% endif %}
    </div>
		<nav id="primary">
			<ul>
				{% for link in site.data.menu %}
		    <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
		  </ul>
		</nav>
	</div>
</header>

