<div class="front">
  <div class="who-we-are">
    <div class="container">
      <div class="who-we-are-text valign-wrap">
        <div class="valign">
          <h1 id="inspiring">Inspiring</h1>
          <h1 id="change">Change</h1>
          <p>
            We craft compelling open source engagement solutions in partnership with forward-thinking clients.
          </p>
          <a href="#who-we-are" class="uppercase-link">Who We Are <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="featured-case-study">
    <div class="container">
      <div class="featured-case-study-text valign-wra">
        <div class="valign">
          <h4>Featured Case Study</h4>
          <h1>The Southern Poverty Law Center</h1>
          <p>
            The SPLC fights hatred and bigotry, seeking justice for the most
            vulnerable members of society. In redesigning their website, we
            helped them better tell their story through digital journalism and
            data visualization.
          </p>
          <a href="#who-we-are" class="uppercase-link">See more <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="three-case-studies">
    <div class="case-study" id="case-study1">
      <div class="orange-overlay">
      </div>
      <h2>Facing History and Ourselves</h1>
      <p>
        Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet
        sapien, quis venenatis ante odio sit amet eros. In turpis. Quisque rutrum.
      </p>
    </div>
    <div class="case-study" id="case-study2">
      <div class="orange-overlay">
      </div>
      <h2>Colorado Trust</h2>
      <p>
        Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet
        sapien, quis venenatis ante odio sit amet eros. In turpis. Quisque rutrum.
      </p>
    </div>
    <div class="case-study" id="case-study3">
      <div class="orange-overlay">
      </div>
      <h2>Ocean Outcomes</h2>
      <p>
        Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet
        sapien, quis venenatis ante odio sit amet eros. In turpis. Quisque rutrum.
      </p>
    </div>
  </div>
</div>
