<div class="newsletter-block">
  <div class="container">
    <div class="newsletter-info">
      <h1>Get Our Email Newsletter</h1>
      <p>
        Cutting edge solutions, strategies, and updates from industry
        thought-leaders, delivered right to your inbox.
      </p>

      <form id="mc-embedded-subscribe-form" action="//thinkshout.us1.list-manage.com/subscribe/post?u=2ec82d6db8eeef3d5b33b762e&amp;id=e85720354e" method="post"  name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <input type="email" placeholder="your email address" name="EMAIL" id="mce-EMAIL" required>
        <button type="submit">submit<i class="fa fa-caret-right"></i></button>
      </form>
    </div>

    <div class="social-media">
      <h1>Follow Us</h1>
      <ul>
        {% for item in site.data.menu.social-media %}
          <li>
            <a href="{{ item.url }}" target="_blank">
              <img src="{{ site.baseurl }}/assets/images/ts_redesign/{{ item.title }}.svg" alt="{{ item.title }}" />
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
