<div class="newsletter-block">
  <div class="container">
    <div class="newsletter-info">
      <h1>Get Our Email Newsletter</h1>
      <p>
        Subscribe to our mailing list for the latest news and tips on open source
        technology and digital strategy, as well as to stay informed about our
        upcoming speaking engagements and career opportunities.
      </p>

      <form action="index.html" method="post">
        <input type="text" name="email" placeholder="your email address">
        <input type="submit" value="submit">
      </form>
    </div>

    <div class="social-media">
      <h1>Follow Us</h1>
      <ul>
        <li>
          <a href="http://www.facebook.com/ThinkShout">
            <img src="../assets/images/ts_redesign/facebook.png" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/ThinkShout">
            <img src="../assets/images/ts_redesign/twitter.png" alt="twitter" />
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
