<section class="open-source-contributions">
  <div class="container">
    <h2>Open Source Contributions</h2>
    <p>We know open source. Our developers have invested thousands of hours into improving nonprofit capacity through open source work, to the point that our contributions now power more than 50,000 websites.</p>
    <a href="{{ site.baseurl }}/what-we-do/open-source-contributions/" class="uppercase-link">Check out our open source contributions<i class="fa fa-caret-right"></i></a>
  </div>
</section>
