<section class="open-source-contributions">
  <div class="container">
    <h2>Open Source Contributions</h2>
    <p>We know open source. Our team has invested thousands of hours into helping mission driven organizations achieve their goals with the help of open source tools, to the point that our contributions now power more than 60,000 websites.</p>
    {% if page.url != '/services/open-source' %}
      <a href="{{ site.baseurl }}/services/open-source" class="uppercase-link">Check out our open source contributions<i class="fa fa-caret-right"></i></a>
    {% endif %}
  </div>
</section>
