<div class="container">
  <div class="our-services">
    <div class="our-services-intro">
      <a href="{{ site.baseurl }}services/"><h3>Our Services</h3></a>
    </div>
    <div class="our-services-blocks">
      <div class="our-services-block">
        <a href="{{ site.baseurl }}services/#strategy"><h4>Strategy &amp; Insights</h4><span class="arrow-right"></span></a>
        <p>We provide data-driven recommendations that set your most important initiatives up for success.</p>
      </div>
      <div class="our-services-block">
        <a href="{{ site.baseurl }}services/#design"><h4>Design &amp; User Experience</h4><span class="arrow-right"></span></a>
        <p>We infuse your brand into every touchpoint to advance your goals and inspire action.</p>
      </div>
      <div class="our-services-block">
        <a href="{{ site.baseurl }}services/#development"><h4>Technology &amp; Support</h4><span class="arrow-right"></span></a>
        <p>We build world-class digital products that deliver real impact.</p>
      </div>
    </div>
  </div>
</div>
