<div class="post">
  <a href="{{ site.baseurl }}{{ post.url }}">
    <p class="post-date">{{ post.date | date: "%m.%d.%Y" }}</p>
    <h3 class="post-title">{{ post.title}}</h3>
    <p class="post-short">{{ post.short }}</p>
    <p class="byline">
      {% for person in site.data.team %}
      {% if post.author == person.name %}
      <img class="team-photo" src="{{ site.baseurl }}/assets/images/{{ person.image.small }}">
        <strong>{{ person.first_name }} {{ person.last_name }}</strong><br>
        {{ person.position }}
      {% endif %}
      {% endfor %}
    </p>
  </a>
</div>
