<section class="select-clients">
  <div class="container">
    <div class="header-down-caret">
      <h2>Select Clients</h2>
      <i class="fa fa-caret-down"></i>
    </div>
    <p></p>
    <div class="multi-column">
      <div class="client-list">
      {% for sector in site.data.clients %}
        <h3 class="client-sector">{{ sector.sector }}</h3>
        <ul class="clients-by-sector">
          {% assign clientList = sector.clients | sort: "name" %}
          {% for client in clientList %}
            <li>{{ client.name }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
      </div>
    </div>
  </div>
</section>
