<section class="select-clients">
  <div class="container">
    <div class="header-down-caret">
      <h4>Select Clients</h4>
      <i class="fa fa-caret-down"></i>
    </div>
    <p>We’ve accomplished amazing things for some really great clients.</p>
    <ul>
    {% for sector in site.data.clients %}
      <li>{{ sector.sector }}</li>
      <ul>
        {% assign clientList = sector.clients | sort: "name" %}
        {% for client in clientList %}
          <li>{{ client.name }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
    </ul>
  </div>
</section>
