<div class="team-listing">
  {% assign team = (site.team | where: "current-employee", "true") | sort: "first_name" %}
  {% for person in team %}
    <div class="team-member">
      <a href="{{ site.baseurl }}{{ person.url }}">
        <div class="image">
          <img src="{{ site.baseurl }}/assets/images/{{ person.team-image.small }}" alt="{{ person.first_name }} {{ person.last_name }}">
        </div>
        <div class="text">
          <h2 class="name-title">{{ person.first_name }} {{ person.last_name }}</h2>
          <p>{{ person.position }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
