html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-size: 16px; }

h1 {
  font-size: 2.625rem; }

h2 {
  font-size: 2.5rem; }

p {
  font-size: 1em;
  line-height: 1.75; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

footer {
  background: url("../images/ts_redesign/footer.png") center center;
  background-size: cover;
  height: 544px;
  margin: 0 auto;
  padding-top: 5.5rem;
  position: relative;
  width: 100%; }
  @media (max-width: 480px) {
    footer {
      padding-top: 2rem; } }
  @media (min-width: 481px) and (max-width: 670px) {
    footer {
      padding-top: 2rem; } }
  footer ul {
    padding-left: 0; }
  footer li {
    color: #f58546;
    display: inline;
    margin-right: 2.5rem; }
    @media (max-width: 480px) {
      footer li {
        display: block;
        font-size: 1.5rem;
        line-height: 1.75; } }
    @media (min-width: 481px) and (max-width: 670px) {
      footer li {
        font-size: 1.5rem;
        line-height: 1.75; } }
  footer img {
    max-width: 2.5rem; }
  footer .ts-address {
    color: #fff;
    margin-top: 3.75rem; }
  footer .bcorp-logo {
    position: absolute;
    right: 8.75rem;
    top: 11.5rem; }
    @media (max-width: 480px) {
      footer .bcorp-logo {
        top: 22.7rem;
        right: 1rem; } }
    @media (min-width: 481px) and (max-width: 670px) {
      footer .bcorp-logo {
        margin-top: 2rem;
        position: inherit; } }
  footer .copyright {
    bottom: 5.5rem;
    color: #dbdcde;
    font-size: 0.75rem;
    position: absolute; }
    @media (max-width: 480px) {
      footer .copyright {
        bottom: 2rem; } }
    @media (min-width: 481px) and (max-width: 670px) {
      footer .copyright {
        margin-top: 3rem; } }
  @media (min-width: 481px) and (max-width: 670px) {
    footer ul,
    footer .ts-address,
    footer .bcorp-logo,
    footer .copyright {
      text-align: center;
      position: inherit; } }

header {
  padding: 2rem 0; }
  header img {
    width: 13rem; }
  header .main-menu {
    float: right;
    font-size: 1.125rem; }
  header li {
    display: inline;
    margin-left: 2.5rem; }

.newsletter-block {
  background: #f58546;
  color: #fff;
  padding: 4rem 0;
  position: relative; }
  .newsletter-block:after {
    content: "";
    background: transparent url("../images/ts_redesign/dot.png") repeat repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .newsletter-block h1 {
    font-family: "FilmotypeLucky"; }
  .newsletter-block .newsletter-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .newsletter-block .newsletter-info:last-child {
      margin-right: 0; }
  .newsletter-block .social-media {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    z-index: 1; }
    .newsletter-block .social-media:last-child {
      margin-right: 0; }
    .newsletter-block .social-media h1,
    .newsletter-block .social-media ul {
      clear: right;
      float: right; }
    .newsletter-block .social-media li {
      display: inline; }

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8.75rem; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 480px) {
    .container {
      padding: 0 1rem; } }
  @media (min-width: 481px) and (max-width: 670px) {
    .container {
      padding: 0 1rem; } }

/*# sourceMappingURL=style.css.map */
