---
layout: default
title: Blog 
---
<div class="page-container blog">
  <div class="split">
    <div class="side side-left" style="background-image: url('{{ site.baseurl }}/images/blog.jpg')"></div>
    <div class="side side-right">
      <div class="intro-content">
        <ul>
        {% for post in site.categories.blog %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">
            <h2>{{ post.title}}</h2>
            <p class="content-text">{{post.short}}</p>
        		<div class="byline">
        		  {% for person in site.data.team %}
        		  {% if post.author == person.name %}
        		  <img class="team-photo" src="{{ site.baseurl }}/images/{{ person.image.small }}">
        		  <div class="info">
        		    <span class="team-name">{{ person.first_name }} {{ person.last_name }}</span>
        		    <p>{{ person.position }}</p>
        		  </div>
        		  {% endif %}
        		  {% endfor %}
        		</div>
          </a>
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>