@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400,300,600);
/* line 2, ../sass/_contact-form.scss */
* html .goog-inline-block,
*:first-child + html .goog-inline-block {
  display: inline;
}

/* line 7, ../sass/_contact-form.scss */
.contact-form-name,
.contact-form-email {
  width: 47.5%;
  float: left;
}

/* line 12, ../sass/_contact-form.scss */
.contact-form-name {
  margin-right: 1em;
}

/* line 16, ../sass/_contact-form.scss */
input#ss-submit {
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #444;
  color: #444;
  font-size: 1.25em;
  padding: 0.75em 1.5em;
  cursor: pointer;
}
/* line 29, ../sass/_contact-form.scss */
input#ss-submit:hover {
  background: white;
}

/* line 35, ../sass/_contact-form.scss */
input,
textarea {
  outline: none;
}

/* line 38, ../sass/_contact-form.scss */
.ss-logo-link {
  display: block;
}

/* line 41, ../sass/_contact-form.scss */
.ss-logo {
  border: none;
  height: 23px;
  width: 105px;
}

/* line 46, ../sass/_contact-form.scss */
.g {
  color: #333333;
}

/* line 49, ../sass/_contact-form.scss */
.ss-form-desc {
  font: inherit;
  width: 99%;
  margin: 0;
}

/* line 54, ../sass/_contact-form.scss */
.ss-powered-by {
  display: block;
  clear: left;
  color: #333333;
  margin: 1em 0.2em 0.2em;
}

/* line 61, ../sass/_contact-form.scss */
.ss-powered-by a:link,
.ss-powered-by a:visited {
  color: #333333;
}

/* line 64, ../sass/_contact-form.scss */
.ss-required-asterisk {
  color: #d10002;
}

/* line 67, ../sass/_contact-form.scss */
.ss-no-ignore-whitespace {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 71, ../sass/_contact-form.scss */
.ss-confirmation-header {
  font-size: 140%;
  padding-bottom: 1em;
}

/* line 75, ../sass/_contact-form.scss */
.ss-abuse-header {
  background: #fff68f;
  line-height: 1.3em;
  margin: 0 auto 1em;
  padding: 0.5em;
  width: 97%;
}

/* line 82, ../sass/_contact-form.scss */
.ss-navigate {
  clear: both;
}

/* line 85, ../sass/_contact-form.scss */
.form-error-arg {
  font-weight: bold;
}

/* line 88, ../sass/_contact-form.scss */
h1 {
  font-size: 1.8em;
  padding: 0;
}

/* line 92, ../sass/_contact-form.scss */
hr {
  border: 0;
  height: 1px;
  background-color: #cccccc;
}

/* line 97, ../sass/_contact-form.scss */
table {
  border-collapse: collapse;
}

/* line 102, ../sass/_contact-form.scss */
input[type="text"],
input[type="email"],
textarea {
  border: 3px solid #FFF;
  background: transparent;
}

/* line 108, ../sass/_contact-form.scss */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 3px solid #f58026;
  background: #FFF;
}

/* line 112, ../sass/_contact-form.scss */
select {
  font-size: 1em;
}

/* line 116, ../sass/_contact-form.scss */
br {
  display: block !important;
}

/* line 119, ../sass/_contact-form.scss */
.aria-only-help {
  font-size: 0;
  left: -9999px;
  position: absolute;
}

/* line 124, ../sass/_contact-form.scss */
.ss-printable-hint {
  display: none;
}

/* line 129, ../sass/_contact-form.scss */
.goog-date-picker,
.goog-date-picker th,
.goog-date-picker td {
  font: 13px Arial, sans-serif;
}

/* line 132, ../sass/_contact-form.scss */
.goog-date-picker {
  -moz-user-focus: normal;
  -moz-user-select: none;
  position: relative;
  border: 1px solid #000000;
  float: left;
  padding: 2px;
  color: #000000;
  background: #333333;
  cursor: default;
}

/* line 143, ../sass/_contact-form.scss */
.goog-date-picker th {
  text-align: center;
}

/* line 146, ../sass/_contact-form.scss */
.goog-date-picker td {
  text-align: center;
  vertical-align: middle;
  padding: 1px 3px;
}

/* line 151, ../sass/_contact-form.scss */
.goog-date-picker-menu {
  position: absolute;
  background: #333333;
  border: 1px solid gray;
  -moz-user-focus: normal;
  z-index: 1;
  outline: none;
}

/* line 159, ../sass/_contact-form.scss */
.goog-date-picker-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* line 164, ../sass/_contact-form.scss */
.goog-date-picker-menu ul li {
  cursor: default;
}

/* line 167, ../sass/_contact-form.scss */
.goog-date-picker-menu-selected {
  background: #ccccff;
}

/* line 170, ../sass/_contact-form.scss */
.goog-date-picker th {
  font-size: 0.9em;
}

/* line 173, ../sass/_contact-form.scss */
.goog-date-picker td div {
  float: left;
}

/* line 176, ../sass/_contact-form.scss */
.goog-date-picker button {
  padding: 0px;
  margin: 1px 0;
  border: 0;
  color: #2200cc;
  font-weight: bold;
  background: transparent;
}

/* line 184, ../sass/_contact-form.scss */
.goog-date-picker-date {
  background: #ffffff;
}

/* line 188, ../sass/_contact-form.scss */
.goog-date-picker-week,
.goog-date-picker-wday {
  padding: 1px 3px;
  border: 0;
  border-color: #a2bbdd;
  border-style: solid;
}

/* line 194, ../sass/_contact-form.scss */
.goog-date-picker-week {
  border-right-width: 1px;
}

/* line 197, ../sass/_contact-form.scss */
.goog-date-picker-wday {
  border-bottom-width: 1px;
}

/* line 200, ../sass/_contact-form.scss */
.goog-date-picker-head td {
  text-align: center;
}

/* line 203, ../sass/_contact-form.scss */
td.goog-date-picker-today-cont {
  text-align: center;
}

/* line 206, ../sass/_contact-form.scss */
td.goog-date-picker-none-cont {
  text-align: center;
}

/* line 209, ../sass/_contact-form.scss */
.goog-date-picker-month {
  width: 11ex;
}

/* line 212, ../sass/_contact-form.scss */
.goog-date-picker-year {
  width: 6ex;
}

/* line 215, ../sass/_contact-form.scss */
.goog-date-picker table {
  border-collapse: collapse;
}

/* line 218, ../sass/_contact-form.scss */
.goog-date-picker-other-month {
  color: #888888;
}

/* line 222, ../sass/_contact-form.scss */
.goog-date-picker-wkend-start,
.goog-date-picker-wkend-end {
  background: #eeeeee;
}

/* line 225, ../sass/_contact-form.scss */
td.goog-date-picker-selected {
  background: #333333;
}

/* line 228, ../sass/_contact-form.scss */
.goog-date-picker-today {
  background: #99aabb;
  font-weight: bold !important;
  border-color: #224466 #99bbdd #99bbdd #224466;
  color: #ffffff;
}

/* line 236, ../sass/_contact-form.scss */
.ss-date input,
.ss-datetime input,
.ss-time input {
  font: inherit;
}

/* line 239, ../sass/_contact-form.scss */
.ss-q-time.goog-inline-block {
  padding-left: 1.5em;
}

/* line 242, ../sass/_contact-form.scss */
.ss-hidden-button {
  border: none;
  display: none;
  height: 0;
  padding: 0;
  width: 0;
}

/* line 249, ../sass/_contact-form.scss */
.ss-picker-button-container {
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: -moz-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: -ms-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: -o-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  height: 100%;
  margin-left: 1ex;
}

/* line 259, ../sass/_contact-form.scss */
.ss-picker-container {
  left: 2ex;
  position: absolute;
  z-index: 2;
}

/* line 264, ../sass/_contact-form.scss */
.ss-calendar-button {
  border-left: 1px solid #dcdcdc;
  padding: 5px 4px 4px 4px;
  z-index: 1;
}

/* line 269, ../sass/_contact-form.scss */
.ss-datetime-box {
  border: 1px solid #dcdcdc;
  height: 32px;
  margin-right: 0.6em;
  min-height: 30px;
  padding-left: 3px;
  vertical-align: middle;
}

/* line 277, ../sass/_contact-form.scss */
.ss-datetime-box select {
  margin: 4px 3px;
  vertical-align: middle;
}

/* line 281, ../sass/_contact-form.scss */
.ss-datetime-box-spacer {
  height: 32px;
  vertical-align: middle;
}

/* line 285, ../sass/_contact-form.scss */
.ss-grid {
  overflow-x: auto;
}

/* line 288, ../sass/_contact-form.scss */
.ss-gridnumbers {
  text-align: center;
  border-bottom: 1px solid #d3d8d3;
}

/* line 292, ../sass/_contact-form.scss */
.ss-gridnumber {
  display: block;
  padding: 0.5em 0 .5em;
}

/* line 296, ../sass/_contact-form.scss */
.ss-gridrow {
  text-align: center;
  color: #333333;
  border-bottom: 1px solid #d3d8d3;
  padding: .5em .25em;
}

/* line 302, ../sass/_contact-form.scss */
.ss-grid-row-even {
  background-color: #ffffff;
}

/* line 305, ../sass/_contact-form.scss */
.ss-grid-row-odd {
  background-color: #f8f8f8;
}

/* line 308, ../sass/_contact-form.scss */
.ss-gridrow-leftlabel {
  min-width: 100px;
  max-width: 200px;
  padding-left: 15px;
  text-align: left;
}

/* line 314, ../sass/_contact-form.scss */
.ss-grideditor-columns input {
  line-height: 150%;
}

/* line 317, ../sass/_contact-form.scss */
.ss-grideditor-editor .ss-magiclist-ul span.ss-header {
  font-weight: bold;
  padding-right: 1em;
}

/* line 321, ../sass/_contact-form.scss */
.ss-grid-separator {
  border: 1px solid #e5e5e5;
}

/* line 324, ../sass/_contact-form.scss */
.ss-scalenumbers {
  text-align: center;
}

/* line 327, ../sass/_contact-form.scss */
.ss-scalenumber {
  display: block;
  padding: 0.5em 0 .5em;
}

/* line 331, ../sass/_contact-form.scss */
.ss-scalerow {
  text-align: center;
  color: #333333;
  border: 1px solid #d3d8d3;
  border-left: 0;
  border-right: 0;
  padding: .5em .25em;
}

/* line 339, ../sass/_contact-form.scss */
td.ss-leftlabel {
  text-align: right;
  padding-left: 0;
}

/* line 343, ../sass/_contact-form.scss */
td.ss-rightlabel {
  text-align: left;
  padding-right: 0;
}

/* line 347, ../sass/_contact-form.scss */
.ss-form-entry {
  margin-bottom: 1.5em;
}

/* line 350, ../sass/_contact-form.scss */
.ss-form-entry input {
  vertical-align: middle;
  margin-left: 0;
  margin-top: 0;
}

/* line 355, ../sass/_contact-form.scss */
.ss-form-entry select {
  max-width: 100%;
}

/* line 358, ../sass/_contact-form.scss */
.ss-q-title {
  display: block;
  font-weight: bold;
}

/* line 362, ../sass/_contact-form.scss */
.ss-q-help {
  display: block;
  margin: .1em 0 .25em 0;
}

/* line 366, ../sass/_contact-form.scss */
.ss-secondary-text {
  color: #333333;
}

/* line 369, ../sass/_contact-form.scss */
.ss-textarea {
  max-width: 99%;
}

/* line 372, ../sass/_contact-form.scss */
.ss-q-long {
  resize: vertical;
  min-height: 100px;
}

/* line 376, ../sass/_contact-form.scss */
.ss-choices {
  list-style: none;
  margin: .5em 0 0 0;
  padding: 0;
}

/* line 381, ../sass/_contact-form.scss */
.ss-choice-item {
  margin: 0;
  line-height: 1.3em;
  padding-bottom: .5em;
  display: block;
}

/* line 387, ../sass/_contact-form.scss */
.ss-required-asterisk {
  color: #d10002;
}

/* line 390, ../sass/_contact-form.scss */
.ss-section-title {
  background-color: #eeeeee;
  padding: 0.4em;
  margin: 2em -0.4em 0;
}

/* line 395, ../sass/_contact-form.scss */
.ss-section-description {
  margin-top: 0.5em;
}

/* line 398, ../sass/_contact-form.scss */
.ss-page-title {
  margin: 0;
  padding: 0;
}

/* line 402, ../sass/_contact-form.scss */
.ss-formwidget-container:focus {
  outline: none;
}

/* line 405, ../sass/_contact-form.scss */
.ss-item {
  margin: 12px 0;
}

/* line 409, ../sass/_contact-form.scss */
.ss-image,
.ss-image-container {
  max-width: 100%;
}

/* line 412, ../sass/_contact-form.scss */
.ss-image:focus {
  outline: none;
}

/* line 415, ../sass/_contact-form.scss */
.img-menu .jfk-button-collapse-left {
  margin-right: 0;
}

/* line 422, ../sass/_contact-form.scss */
.ss-edit-link,
.ss-edit-link:active,
.ss-edit-link:visited,
.ss-edit-link:hover,
.ss-edit-link:link {
  background: url(//www.gstatic.com/docs/spreadsheets/forms/edit_dark.png) 7px 8px no-repeat #1f1f1d;
  border: 1px solid #fff;
  color: #fff;
  float: right;
  font: normal 13px arial, sans-serif;
  font-weight: bold;
  padding: 7px 7px 7px 27px;
  text-decoration: none;
}

/* line 432, ../sass/_contact-form.scss */
.disclaimer .ss-terms a:link {
  color: #1155cc;
  text-decoration: none;
}

/* line 436, ../sass/_contact-form.scss */
.disclaimer .ss-terms a:hover {
  text-decoration: underline;
}

/* line 439, ../sass/_contact-form.scss */
.disclaimer .ss-terms a:active {
  color: #d14836;
}

/* line 442, ../sass/_contact-form.scss */
.disclaimer .ss-terms a:visited {
  color: #6611cc;
}

/* line 445, ../sass/_contact-form.scss */
.disclaimer {
  color: #777777;
  font: normal 11px arial, sans-serif;
  margin-top: 11px;
}

/* line 450, ../sass/_contact-form.scss */
.disclaimer-separator {
  border-top: 1px solid #ebebeb;
}

/* line 453, ../sass/_contact-form.scss */
.disclaimer .ss-logo-link {
  color: #777777;
  text-decoration: none;
}

/* line 457, ../sass/_contact-form.scss */
.powered-by-logo {
  display: inline-block;
  vertical-align: bottom;
}

/* line 461, ../sass/_contact-form.scss */
.powered-by-text {
  line-height: 16px;
}

/* line 464, ../sass/_contact-form.scss */
.ss-terms {
  display: inline-block;
  line-height: 20px;
  width: 80%;
  text-align: center;
}

/* line 470, ../sass/_contact-form.scss */
.ss-submit-message {
  font: normal 13px arial, sans-serif;
  margin-bottom: 20px;
}

/* line 474, ../sass/_contact-form.scss */
.ss-form-container {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 0.5em auto 0;
  padding: 1em;
  width: 45em;
}

/* line 481, ../sass/_contact-form.scss */
.ss-editing-response {
  border: 1px solid #cccccc;
  margin: 1em auto;
  padding: 0 1em;
  width: 43em;
}

/* line 488, ../sass/_contact-form.scss */
.ss-confirmation-banner,
.ss-editing-response {
  background-color: #ffff87;
}

/* line 491, ../sass/_contact-form.scss */
.errorbox-bad {
  border: 2px solid #d10002;
  background-color: #ffe6cc;
  padding: 2px;
}

/* line 496, ../sass/_contact-form.scss */
.errorheader {
  color: #d10002;
}

/* line 499, ../sass/_contact-form.scss */
input#emailReceipt {
  margin-left: 0;
  margin-top: 0;
  vertical-align: middle;
}

/* line 506, ../sass/_contact-form.scss */
.no-chrome .powered-by-logo,
.no-chrome .ss-legal,
.no-chrome .ss-edit-link {
  display: none;
}

/* line 510, ../sass/_contact-form.scss */
.ss-prepopulate-input,
.ss-submit-url-input {
  width: 100%;
}

@font-face {
  font-family: 'ts';
  src: url("../fonts/ts.eot");
  src: url("../fonts/ts.eot?#iefix") format("embedded-opentype"), url("../fonts/ts.woff") format("woff"), url("../fonts/ts.ttf") format("truetype"), url("../fonts/ts.svg#ts") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'ts';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_icons.scss */
.icon-github:before {
  content: "\e600";
}

/* line 29, ../sass/_icons.scss */
.icon-twitter:before {
  content: "\e601";
}

/* line 32, ../sass/_icons.scss */
.icon-linkedin:before {
  content: "\e602";
}

/* line 35, ../sass/_icons.scss */
.icon-tint:before {
  content: "\e603";
}

/* line 38, ../sass/_icons.scss */
.icon-reorder:before {
  content: "\e604";
}

/* line 4, ../sass/_layout.scss */
.page-container {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 8, ../sass/_layout.scss */
.page-container .split {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}
/* line 13, ../sass/_layout.scss */
.page-container .split .side {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 50%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
@media screen and (max-width: 800px) {
  /* line 13, ../sass/_layout.scss */
  .page-container .split .side {
    position: relative;
    top: auto;
    height: 50%;
  }
}
/* line 27, ../sass/_layout.scss */
.page-container .split .side-left {
  left: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #695e4a;
  outline: 1px solid #47a3da;
  /* avoid gap */
}
@media screen and (max-width: 800px) {
  /* line 27, ../sass/_layout.scss */
  .page-container .split .side-left {
    width: 100%;
    height: 600px;
  }
}
/* line 39, ../sass/_layout.scss */
.page-container .split .side-right {
  right: 0;
  text-align: left;
  background: #fff;
  outline: 1px solid #fff;
  /* avoid gap */
}
@media screen and (max-width: 800px) {
  /* line 39, ../sass/_layout.scss */
  .page-container .split .side-right {
    width: 100%;
  }
}
/* line 47, ../sass/_layout.scss */
.page-container .split .side-right .intro-content {
  position: absolute;
  top: 15%;
  left: 10%;
  padding: 0 1em;
  width: 80%;
}
/* line 54, ../sass/_layout.scss */
.page-container .split .side-right .intro-content .profile {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #47a3da;
}
/* line 60, ../sass/_layout.scss */
.page-container .split .side-right .intro-content .profile img {
  max-width: 100%;
  border-radius: 50%;
  opacity: 1;
}
/* line 66, ../sass/_layout.scss */
.page-container .split .side-right .intro-content h4 > span {
  display: block;
  white-space: nowrap;
}
/* line 70, ../sass/_layout.scss */
.page-container .split .side-right .intro-content h4 > span.position {
  font-size: 0.65em;
}

/* line 78, ../sass/_layout.scss */
section {
  background: #FFF;
  padding: 8em 0;
}

/* line 1, ../sass/_navigation.scss */
#flag {
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  z-index: 2000;
  margin-top: 25px;
}
/* line 9, ../sass/_navigation.scss */
#flag a#branding {
  background: #1e1b15;
  display: block;
  float: left;
  text-align: center;
  position: relative;
  height: 75px;
}

/* line 19, ../sass/_navigation.scss */
.menu-toggle {
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
  display: block;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background: #f58026;
  z-index: 9999;
}

/* line 32, ../sass/_navigation.scss */
.menu-toggle span {
  position: absolute;
  top: 50%;
  left: 20%;
  display: block;
  width: 60%;
  z-index: 9999;
  height: 4px;
  margin-top: -2px;
  background-color: #fff;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* line 53, ../sass/_navigation.scss */
.menu-open .menu-toggle span {
  background-color: transparent;
}

/* line 58, ../sass/_navigation.scss */
.menu-toggle span:before,
.menu-toggle span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* line 70, ../sass/_navigation.scss */
.menu-toggle span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

/* line 75, ../sass/_navigation.scss */
.menu-toggle span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

/* line 80, ../sass/_navigation.scss */
.menu-open .menu-toggle span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

/* line 85, ../sass/_navigation.scss */
.menu-open .menu-toggle span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

/* line 90, ../sass/_navigation.scss */
#primary {
  position: fixed;
  top: 100px;
  z-index: 2000;
  background: transparent;
}
/* line 95, ../sass/_navigation.scss */
#primary ul {
  margin: 2px 0 0 0;
  padding: 0;
}
/* line 98, ../sass/_navigation.scss */
#primary ul li {
  list-style: none;
  background: #f58026;
  margin-bottom: 2px;
}
/* line 102, ../sass/_navigation.scss */
#primary ul li a {
  display: block;
  padding: 1em;
  color: #FFF;
  width: 311px;
}

/* line 112, ../sass/_navigation.scss */
.menu-open #primary {
  display: block;
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 119, ../sass/_navigation.scss */
.menu-close #primary {
  display: none;
  opacity: 0;
}

/* line 124, ../sass/_navigation.scss */
#title-flag {
  display: block;
  height: 75px;
  margin-left: 311px;
  padding: 0 25px;
  overflow: hidden;
  text-align: center;
  position: relative;
  background: #2d2820;
  border-left: 1px solid #786b55;
  text-align: center;
  float: left;
  margin: 0;
  line-height: 75px;
  color: #f58026;
}

/* line 13, ../sass/ts.scss */
html,
body {
  background: #FFF;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* line 19, ../sass/ts.scss */
h1.title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
}

/* line 25, ../sass/ts.scss */
.site-width {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
  clear: left;
  height: 100%;
}

/* line 33, ../sass/ts.scss */
.background {
  position: absolute;
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

/* line 41, ../sass/ts.scss */
.leadin {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 50%;
  z-index: 200;
}
@media screen and (max-width: 480px) {
  /* line 41, ../sass/ts.scss */
  .leadin {
    float: none;
    width: 100%;
  }
}
/* line 64, ../sass/ts.scss */
.leadin h2 {
  color: #FFF;
  font-weight: 600;
}

/* line 70, ../sass/ts.scss */
.main {
  position: relative;
  padding: 2em 1em;
}

/*
 * HOME
 */
/* line 79, ../sass/ts.scss */
body.welcome #container {
  height: 100%;
}
/* line 82, ../sass/ts.scss */
body.welcome .hero {
  position: relative;
  z-index: 200;
  height: 100%;
  padding: 0 1em;
  text-align: left;
}
/* line 90, ../sass/ts.scss */
body.welcome .hero-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 860px;
  background-color: #f58026;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 102, ../sass/ts.scss */
body.welcome .home-nav {
  position: absolute;
  bottom: 1em;
  width: 100%;
  z-index: 300;
}
@media screen and (max-width: 480px) {
  /* line 102, ../sass/ts.scss */
  body.welcome .home-nav {
    position: relative;
  }
}
/* line 114, ../sass/ts.scss */
body.welcome .home-nav ul.navblocks li .content {
  margin: 0 0.5em;
  height: 150px;
  text-align: center;
}
/* line 118, ../sass/ts.scss */
body.welcome .home-nav ul.navblocks li .content h3 {
  font-size: 1.5em;
  font-weight: 600;
}
/* line 121, ../sass/ts.scss */
body.welcome .home-nav ul.navblocks li .content h3 a {
  display: block;
  vertical-align: middle;
  color: #2d2820;
  padding: 1em 1em 0;
  border-bottom: 3px solid #f58026;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 130, ../sass/ts.scss */
body.welcome .home-nav ul.navblocks li .content h3 a .rubric {
  color: #FFF;
  font-size: 0.75em;
  background: #f58026;
  text-transform: uppercase;
  display: block;
  margin-top: 1em;
  padding: 0.5em;
}
/* line 139, ../sass/ts.scss */
body.welcome .home-nav ul.navblocks li .content h3 a:hover {
  background: rgba(255, 255, 255, 0.8);
}
/* line 142, ../sass/ts.scss */
body.welcome .home-nav ul.navblocks li .content h3 a:hover .rubic {
  color: #f58026;
}
/* line 151, ../sass/ts.scss */
body.welcome .home-nav .large-block-grid-3 > li {
  padding: 0;
}
/* line 157, ../sass/ts.scss */
body.welcome ul#most-recent-blog li {
  padding: 1em;
}
/* line 159, ../sass/ts.scss */
body.welcome ul#most-recent-blog li .quote {
  position: relative;
  padding: 1em;
  background: #FFFFFF;
  border: 5px solid #d2d2d2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 166, ../sass/ts.scss */
body.welcome ul#most-recent-blog li .quote:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #d2d2d2 rgba(0, 0, 0, 0);
  display: block;
  width: 0;
}
/* line 177, ../sass/ts.scss */
body.welcome ul#most-recent-blog li .quote:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: white rgba(0, 0, 0, 0);
  display: block;
  width: 0;
}
/* line 188, ../sass/ts.scss */
body.welcome ul#most-recent-blog li .byline {
  margin: 2em 0 0 7em;
  font-size: 0.8em;
}

/* line 196, ../sass/ts.scss */
.section-rubric {
  position: relative;
  height: 80px;
  background: transparent;
  margin: 0 auto;
  top: -55px;
  z-index: 1000;
  text-align: center;
}
/* line 205, ../sass/ts.scss */
.section-rubric span {
  background: #FFF;
  padding: 0.5em 1em;
  border: 3px double #695e4a;
}

/* line 212, ../sass/ts.scss */
#careers-block {
  background: #f58026;
  padding: 1em;
  height: 100%;
}
/* line 216, ../sass/ts.scss */
#careers-block h2 {
  color: #FFF;
}

/* line 221, ../sass/ts.scss */
.content-bottom-1 {
  padding: 8em 0;
}

/*
 * LIST VIEWS
 * Work, Team, Careers
 */
/* line 230, ../sass/ts.scss */
body.list .main {
  position: relative;
  width: 100%;
  z-index: 200;
  background: #FFF;
  display: table;
}
/* line 237, ../sass/ts.scss */
body.list .hero {
  height: 760px;
  text-align: center;
  width: 100%;
}
/* line 241, ../sass/ts.scss */
body.list .hero .leadin {
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  /* line 241, ../sass/ts.scss */
  body.list .hero .leadin {
    width: 100%;
    padding: 0 1em;
  }
}
/* line 250, ../sass/ts.scss */
body.list .hero-image {
  height: 760px;
}

/*
 * DETAIL VIEWS
 * Work, Team, Careers
 */
/* line 259, ../sass/ts.scss */
body.detail .main {
  position: relative;
  width: 100%;
  z-index: 200;
  background: #FFF;
  margin-top: 600px;
}

/* line 267, ../sass/ts.scss */
.hero {
  position: relative;
  z-index: 200;
  height: 100%;
  padding: 0 1em;
  text-align: left;
}

/* line 275, ../sass/ts.scss */
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 860px;
  background-color: #f58026;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* line 288, ../sass/ts.scss */
ul.social {
  list-style: none;
  font-size: 2em;
  margin-bottom: 0;
  margin-left: -2em;
}
/* line 293, ../sass/ts.scss */
ul.social li {
  display: inline-block;
  padding: 0.5em;
}

/* line 299, ../sass/ts.scss */
.contact {
  padding: 4em 0;
  background: #d5cec3;
  clear: both;
}

/* line 305, ../sass/ts.scss */
footer {
  width: 100%;
  min-height: 600px;
  padding-top: 4em;
  background: #f1f1f1 url("../images/footer.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
/* line 313, ../sass/ts.scss */
footer ul {
  list-style: none;
}

/* line 332, ../sass/ts.scss */
.blog .page-container .split .side.side-left {
  position: fixed;
}

/* line 338, ../sass/ts.scss */
.marquee {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
}
/* line 345, ../sass/ts.scss */
.marquee .caption {
  position: absolute;
  left: 2em;
  top: 10em;
  max-width: 30em;
}
/* line 350, ../sass/ts.scss */
.marquee .caption h2 {
  color: #FFF;
}
/* line 355, ../sass/ts.scss */
.marquee .learn-more {
  position: absolute;
  width: 20em;
  left: 50%;
  padding: 1em 0;
  bottom: -2em;
  margin-left: -10em;
  background: #FEFEF6;
  text-align: center;
  border: 3px double #695e4a;
}
/* line 365, ../sass/ts.scss */
.marquee .learn-more p {
  margin-bottom: 0;
}

/* line 371, ../sass/ts.scss */
.sizer {
  position: absolute;
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

/* line 379, ../sass/ts.scss */
.lead {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  z-index: 200;
}

/* line 402, ../sass/ts.scss */
.welcome header {
  background: transparent;
  position: absolute;
}

/* line 407, ../sass/ts.scss */
.welcome .marquee {
  background: #f58026 url("../images/marquee/home.jpg") no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* line 414, ../sass/ts.scss */
.welcome .marquee #leads {
  position: absolute;
  bottom: 1em;
}
/* line 420, ../sass/ts.scss */
.welcome .marquee .leadin h2 {
  font-size: 3em;
  font-weight: 600;
}

/* line 429, ../sass/ts.scss */
.from-the-blog h5 {
  color: #695e4a;
  margin-top: 0.5em;
}

/* line 435, ../sass/ts.scss */
#hiring {
  background: #FFF;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 500;
  color: #f58026;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-weight: 800;
  height: 125px;
  width: 125px;
  padding: 3.25em 0 0;
  text-align: center;
  border: 2px solid #FFF;
}

/* line 455, ../sass/ts.scss */
.Work .marquee {
  background: transparent url(../images/placeholderslide2.jpg) top center no-repeat;
  background-size: cover;
}

/* line 461, ../sass/ts.scss */
.banner {
  position: relative;
}
/* line 463, ../sass/ts.scss */
.banner .header {
  position: absolute;
  bottom: 0;
  left: 16.66667%;
  background: #FFF;
  padding: 0 1em;
}
/* line 469, ../sass/ts.scss */
.banner .header h1 {
  color: #222;
  margin-bottom: 0;
}
/* line 473, ../sass/ts.scss */
.banner .header h3 {
  color: #f58026;
}

/* line 482, ../sass/ts.scss */
.paginator .blog-nav {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}
/* line 487, ../sass/ts.scss */
.paginator .blog-nav .teaser {
  position: absolute;
  top: 1em;
  width: 60%;
  left: 20%;
  z-index: 100;
}
/* line 493, ../sass/ts.scss */
.paginator .blog-nav .teaser h5 {
  color: #d2d2d2;
  font-size: 1.125em;
  border-bottom: 1px solid #222;
}
/* line 499, ../sass/ts.scss */
.paginator .blog-nav .mute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
/* line 507, ../sass/ts.scss */
.paginator .blog-nav .mute:hover {
  background: rgba(0, 0, 0, 0);
}
/* line 512, ../sass/ts.scss */
.paginator .blog-nav.next-post {
  border-left: 1px dotted #FFF;
}

/* line 518, ../sass/ts.scss */
section.header {
  padding: 3em 0 0;
}

/* line 522, ../sass/ts.scss */
section.intro {
  padding: 3em 0;
}

/* line 526, ../sass/ts.scss */
section.odd {
  padding: 8em 0;
  background: #d5cec3;
}

/* line 537, ../sass/ts.scss */
section.even {
  padding: 8em 0;
  background: #FFF;
}

/* line 548, ../sass/ts.scss */
.breakpoints.collapsed {
  background: #FFF;
  margin-bottom: 2em;
}

/* line 553, ../sass/ts.scss */
.breakpoints.collapsed {
  height: 600px;
  overflow: hidden;
}

/* line 557, ../sass/ts.scss */
.breakpoints.expanded {
  height: 100%;
  overflow: hidden;
}

/* line 562, ../sass/ts.scss */
section.results {
  padding: 8em 0;
  text-align: center;
  background: #f58026;
}
/* line 567, ../sass/ts.scss */
section.results .stats .stat {
  background: #FFF;
  display: block;
  height: 250px;
  width: 250px;
  margin: 0 auto 1em;
  padding: 3em 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 576, ../sass/ts.scss */
section.results .stats .stat .figure {
  font-size: 5em;
  font-weight: 600;
  color: #f58026;
}
/* line 582, ../sass/ts.scss */
section.results .stats .key {
  font-size: 1.2em;
  color: #FFF;
  font-weight: 600;
}

/* line 591, ../sass/ts.scss */
a.button {
  font-weight: 300;
}

/* line 595, ../sass/ts.scss */
a.button.overlay {
  background: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #FFF;
  color: #FFF;
}
/* line 601, ../sass/ts.scss */
a.button.overlay:hover {
  background: rgba(255, 255, 255, 0.65);
}

/* line 607, ../sass/ts.scss */
#client-list ul {
  list-style: none;
  text-align: center;
}
/* line 610, ../sass/ts.scss */
#client-list ul li {
  padding: 0.75em 0;
}

/* line 616, ../sass/ts.scss */
a.button.default {
  background: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  color: #444;
}
/* line 622, ../sass/ts.scss */
a.button.default:hover {
  border: 1px solid #222;
  color: #222;
}

/* line 631, ../sass/ts.scss */
.project.teaser {
  padding: 6em 0;
}
/* line 637, ../sass/ts.scss */
.project.teaser p {
  font-size: 1.2em;
}

/* line 642, ../sass/ts.scss */
.project.teaser.even {
  background: #FFF;
}

/* line 646, ../sass/ts.scss */
.project.teaser.odd {
  background: #FFF;
}

/* line 655, ../sass/ts.scss */
.fw-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
}
/* line 662, ../sass/ts.scss */
.fw-grid li {
  display: table;
  height: 25%;
  position: relative;
  float: left;
  overflow: hidden;
  padding: 1.5em;
  cursor: pointer;
  height: 400px;
}

@media screen and (min-width: 945px) {
  /* line 683, ../sass/ts.scss */
  .fw-grid li {
    width: 33.3333%;
    /* Fallback */
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 660px) {
  /* line 691, ../sass/ts.scss */
  .fw-grid li {
    width: 50%;
    /* Fallback */
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 480px) {
  /* line 699, ../sass/ts.scss */
  .fw-grid li {
    width: 100%;
  }
}
