@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400,300,600);
/* line 9, ../sass/ts.scss */
html,
body {
  background: #FFF;
  height: 100%;
}

/* line 14, ../sass/ts.scss */
h1.title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
}

/* line 20, ../sass/ts.scss */
h1#logo {
  background: url(../images/thinkshout-id.png) top left no-repeat;
  display: block;
  width: 250px;
  height: 100px;
  overflow: hidden;
  text-indent: -100%;
  margin: 0;
}

/* line 30, ../sass/ts.scss */
h1#homeLogo {
  background: url(../images/thinkshout-id-white.png) top left no-repeat;
  display: block;
  width: 250px;
  height: 100px;
  overflow: hidden;
  text-indent: -100%;
  margin: 0 auto;
}

/* line 45, ../sass/ts.scss */
h5 {
  color: #f58026;
  text-transform: uppercase;
}

/* line 52, ../sass/ts.scss */
header {
  height: 100px;
  position: fixed;
  background: #FFF;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 61, ../sass/ts.scss */
header ul {
  margin: 0;
  padding: 0;
}
/* line 64, ../sass/ts.scss */
header ul li {
  display: inline;
  float: left;
  list-style: none;
}
/* line 68, ../sass/ts.scss */
header ul li a {
  display: block;
  padding: 2em 1em;
}

/* line 78, ../sass/ts.scss */
#container,
.content {
  height: 100%;
}

/* line 82, ../sass/ts.scss */
.site-width {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
  clear: left;
  height: 100%;
}

/* line 90, ../sass/ts.scss */
.row {
  width: 90%;
  margin: 0 auto;
}

/* line 96, ../sass/ts.scss */
.background {
  position: absolute;
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

/* line 104, ../sass/ts.scss */
.leadin {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 50%;
  z-index: 200;
}
@media screen and (max-width: 480px) {
  /* line 104, ../sass/ts.scss */
  .leadin {
    float: none;
    width: 100%;
  }
}
/* line 127, ../sass/ts.scss */
.leadin h2 {
  color: #FFF;
  font-weight: 600;
}

/* line 135, ../sass/ts.scss */
.main {
  position: relative;
  padding: 2em 1em;
}

/*
 * HOME
 */
/* line 144, ../sass/ts.scss */
body.home .hero {
  position: relative;
  z-index: 200;
  height: 100%;
  padding: 0 1em;
  text-align: left;
}
/* line 152, ../sass/ts.scss */
body.home .hero-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 860px;
  background-color: #f58026;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 164, ../sass/ts.scss */
body.home .home-nav {
  position: absolute;
  bottom: 1em;
  width: 100%;
  z-index: 300;
}
@media screen and (max-width: 480px) {
  /* line 164, ../sass/ts.scss */
  body.home .home-nav {
    position: relative;
  }
}
/* line 176, ../sass/ts.scss */
body.home .home-nav ul.navblocks li .content {
  padding: 1em;
  margin: 0 0.5em;
  height: 150px;
}
/* line 180, ../sass/ts.scss */
body.home .home-nav ul.navblocks li .content h3 {
  font-size: 1.5em;
  font-weight: 600;
}
/* line 183, ../sass/ts.scss */
body.home .home-nav ul.navblocks li .content h3 a {
  display: block;
  vertical-align: middle;
  color: #2d2820;
}
/* line 190, ../sass/ts.scss */
body.home .home-nav ul.navblocks li .content h3 a .rubric {
  color: #FFF;
  font-size: 0.5em;
  text-transform: uppercase;
  display: block;
}
/* line 201, ../sass/ts.scss */
body.home .home-nav .large-block-grid-3 > li {
  padding: 0;
}
/* line 207, ../sass/ts.scss */
body.home ul#most-recent-blog li {
  padding: 1em;
}
/* line 209, ../sass/ts.scss */
body.home ul#most-recent-blog li .quote {
  position: relative;
  padding: 1em;
  background: #FFFFFF;
  border: 5px solid #d2d2d2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 216, ../sass/ts.scss */
body.home ul#most-recent-blog li .quote:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #d2d2d2 rgba(0, 0, 0, 0);
  display: block;
  width: 0;
}
/* line 227, ../sass/ts.scss */
body.home ul#most-recent-blog li .quote:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: white rgba(0, 0, 0, 0);
  display: block;
  width: 0;
}
/* line 238, ../sass/ts.scss */
body.home ul#most-recent-blog li .byline {
  margin: 2em 0 0 7em;
  font-size: 0.8em;
}

/*
 * LIST VIEWS
 * Work, Team, Careers
 */
/* line 251, ../sass/ts.scss */
body.list .main {
  position: relative;
  width: 100%;
  z-index: 200;
  background: #FFF;
}
/* line 257, ../sass/ts.scss */
body.list .hero {
  height: 760px;
  text-align: center;
  width: 100%;
}
/* line 261, ../sass/ts.scss */
body.list .hero .leadin {
  width: 50%;
  margin: 0 auto;
}
/* line 266, ../sass/ts.scss */
body.list .hero-image {
  height: 760px;
}

/*
 * DETAIL VIEWS
 * Work, Team, Careers
 */
/* line 275, ../sass/ts.scss */
body.detail .main {
  position: relative;
  width: 100%;
  z-index: 200;
  background: #FFF;
  margin-top: 100px;
}

/* line 283, ../sass/ts.scss */
.hero {
  position: relative;
  z-index: 200;
  height: 100%;
  padding: 0 1em;
  text-align: left;
}

/* line 291, ../sass/ts.scss */
.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 860px;
  background-color: #f58026;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 304, ../sass/ts.scss */
footer {
  height: 450px;
  width: 100%;
  padding-top: 4em;
  background: #f1f1f1;
}
/* line 310, ../sass/ts.scss */
footer ul {
  list-style: none;
}

/* line 319, ../sass/ts.scss */
.top-bar {
  z-index: 1000;
}

/* line 324, ../sass/ts.scss */
.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background: #FFF;
  text-align: left;
}

/* line 335, ../sass/ts.scss */
.marquee {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
}
/* line 342, ../sass/ts.scss */
.marquee .caption {
  position: absolute;
  left: 2em;
  top: 10em;
  max-width: 30em;
}
/* line 347, ../sass/ts.scss */
.marquee .caption h2 {
  color: #FFF;
}
/* line 352, ../sass/ts.scss */
.marquee .learn-more {
  position: absolute;
  width: 20em;
  left: 50%;
  padding: 1em 0;
  bottom: -2em;
  margin-left: -10em;
  background: #FEFEF6;
  text-align: center;
  border: 3px double #695e4a;
}
/* line 362, ../sass/ts.scss */
.marquee .learn-more p {
  margin-bottom: 0;
}

/* line 368, ../sass/ts.scss */
.sizer {
  position: absolute;
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

/* line 376, ../sass/ts.scss */
.lead {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  z-index: 200;
}

/* line 403, ../sass/ts.scss */
.home header {
  background: transparent;
  position: absolute;
}

/* line 408, ../sass/ts.scss */
.home .marquee {
  background: #f58026;
  height: 100%;
  width: 100%;
}
/* line 413, ../sass/ts.scss */
.home .marquee #leads {
  position: absolute;
  bottom: 1em;
}
/* line 419, ../sass/ts.scss */
.home .marquee .leadin h2 {
  font-size: 3em;
  font-weight: 600;
}

/* line 428, ../sass/ts.scss */
.from-the-blog h5 {
  color: #695e4a;
  margin-top: 0.5em;
}

/* line 434, ../sass/ts.scss */
#hiring {
  background: #FFF;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 500;
  color: #f58026;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-weight: 800;
  height: 125px;
  width: 125px;
  padding: 3.25em 0 0;
  text-align: center;
  border: 2px solid #FFF;
}

/* line 454, ../sass/ts.scss */
.Work .marquee {
  background: transparent url(../images/placeholderslide2.jpg) top center no-repeat;
  background-size: cover;
}

/* line 460, ../sass/ts.scss */
.banner {
  position: relative;
}
/* line 462, ../sass/ts.scss */
.banner .header {
  position: absolute;
  bottom: 0;
  left: 16.66667%;
  background: #FFF;
  padding: 0 1em;
}
/* line 468, ../sass/ts.scss */
.banner .header h1 {
  color: #222;
  margin-bottom: 0;
}
/* line 472, ../sass/ts.scss */
.banner .header h3 {
  color: #f58026;
}

/* line 481, ../sass/ts.scss */
.paginator .blog-nav {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}
/* line 486, ../sass/ts.scss */
.paginator .blog-nav .teaser {
  position: absolute;
  top: 1em;
  width: 60%;
  left: 20%;
  z-index: 100;
}
/* line 492, ../sass/ts.scss */
.paginator .blog-nav .teaser h5 {
  color: #d2d2d2;
  font-size: 1.125em;
  border-bottom: 1px solid #222;
}
/* line 498, ../sass/ts.scss */
.paginator .blog-nav .mute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
/* line 506, ../sass/ts.scss */
.paginator .blog-nav .mute:hover {
  background: rgba(0, 0, 0, 0);
}
/* line 511, ../sass/ts.scss */
.paginator .blog-nav.next-post {
  border-left: 1px dotted #FFF;
}

/* line 517, ../sass/ts.scss */
section.header {
  padding: 3em 0 0;
}

/* line 521, ../sass/ts.scss */
section.intro {
  padding: 3em 0;
}

/* line 525, ../sass/ts.scss */
section.discovery {
  padding: 3em 0 3em 0;
}
/* line 534, ../sass/ts.scss */
section.discovery .breakpoints.collapsed {
  background: #FFF;
  margin-bottom: 2em;
}
/* line 539, ../sass/ts.scss */
section.discovery .breakpoints.collapsed {
  height: 600px;
  overflow: hidden;
}
/* line 543, ../sass/ts.scss */
section.discovery .breakpoints.expanded {
  height: 100%;
  overflow: hidden;
}

/* line 549, ../sass/ts.scss */
section.strategy {
  padding: 3em 0;
}

/* line 556, ../sass/ts.scss */
section.development {
  padding: 3em 0;
}

/* line 560, ../sass/ts.scss */
section.results {
  padding: 3em 0;
}

/* line 565, ../sass/ts.scss */
a.button {
  font-weight: 300;
}

/* line 569, ../sass/ts.scss */
a.button.overlay {
  background: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #FFF;
  color: #FFF;
}
/* line 575, ../sass/ts.scss */
a.button.overlay:hover {
  background: rgba(255, 255, 255, 0.65);
}

/* line 580, ../sass/ts.scss */
a.button.default {
  background: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  color: #444;
}
/* line 586, ../sass/ts.scss */
a.button.default:hover {
  border: 1px solid #222;
  color: #222;
}

/* line 595, ../sass/ts.scss */
.project.teaser {
  padding: 6em 0;
}
/* line 601, ../sass/ts.scss */
.project.teaser p {
  font-size: 1.2em;
}

/* line 606, ../sass/ts.scss */
.project.teaser.even {
  background: #FFF;
}

/* line 610, ../sass/ts.scss */
.project.teaser.odd {
  background: #FFF;
}
