@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400,300,600);
/* line 2, ../sass/_contact-form.scss */
* html .goog-inline-block,
*:first-child + html .goog-inline-block {
  display: inline;
}

/* line 6, ../sass/_contact-form.scss */
input,
textarea {
  outline: none;
}

/* line 9, ../sass/_contact-form.scss */
.ss-logo-link {
  display: block;
}

/* line 12, ../sass/_contact-form.scss */
.ss-logo {
  border: none;
  height: 23px;
  width: 105px;
}

/* line 17, ../sass/_contact-form.scss */
.g {
  color: #333333;
}

/* line 20, ../sass/_contact-form.scss */
.ss-form-desc {
  font: inherit;
  width: 99%;
  margin: 0;
}

/* line 25, ../sass/_contact-form.scss */
.ss-powered-by {
  display: block;
  clear: left;
  color: #333333;
  margin: 1em 0.2em 0.2em;
}

/* line 32, ../sass/_contact-form.scss */
.ss-powered-by a:link,
.ss-powered-by a:visited {
  color: #333333;
}

/* line 35, ../sass/_contact-form.scss */
.ss-required-asterisk {
  color: #d10002;
}

/* line 38, ../sass/_contact-form.scss */
.ss-no-ignore-whitespace {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 42, ../sass/_contact-form.scss */
.ss-confirmation-header {
  font-size: 140%;
  padding-bottom: 1em;
}

/* line 46, ../sass/_contact-form.scss */
.ss-abuse-header {
  background: #fff68f;
  line-height: 1.3em;
  margin: 0 auto 1em;
  padding: 0.5em;
  width: 97%;
}

/* line 53, ../sass/_contact-form.scss */
.ss-navigate {
  clear: both;
}

/* line 56, ../sass/_contact-form.scss */
.form-error-arg {
  font-weight: bold;
}

/* line 59, ../sass/_contact-form.scss */
h1 {
  font-size: 1.8em;
  padding: 0;
}

/* line 63, ../sass/_contact-form.scss */
hr {
  border: 0;
  height: 1px;
  background-color: #cccccc;
}

/* line 68, ../sass/_contact-form.scss */
table {
  border-collapse: collapse;
}

/* line 73, ../sass/_contact-form.scss */
input[type="text"],
input[type="email"],
textarea {
  border: 3px solid #FFF;
  background: transparent;
}

/* line 79, ../sass/_contact-form.scss */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 3px solid #f58026;
  background: #FFF;
}

/* line 83, ../sass/_contact-form.scss */
select {
  font-size: 1em;
}

/* line 87, ../sass/_contact-form.scss */
br {
  display: block !important;
}

/* line 90, ../sass/_contact-form.scss */
.aria-only-help {
  font-size: 0;
  left: -9999px;
  position: absolute;
}

/* line 95, ../sass/_contact-form.scss */
.ss-printable-hint {
  display: none;
}

/* line 100, ../sass/_contact-form.scss */
.goog-date-picker,
.goog-date-picker th,
.goog-date-picker td {
  font: 13px Arial, sans-serif;
}

/* line 103, ../sass/_contact-form.scss */
.goog-date-picker {
  -moz-user-focus: normal;
  -moz-user-select: none;
  position: relative;
  border: 1px solid #000000;
  float: left;
  padding: 2px;
  color: #000000;
  background: #333333;
  cursor: default;
}

/* line 114, ../sass/_contact-form.scss */
.goog-date-picker th {
  text-align: center;
}

/* line 117, ../sass/_contact-form.scss */
.goog-date-picker td {
  text-align: center;
  vertical-align: middle;
  padding: 1px 3px;
}

/* line 122, ../sass/_contact-form.scss */
.goog-date-picker-menu {
  position: absolute;
  background: #333333;
  border: 1px solid gray;
  -moz-user-focus: normal;
  z-index: 1;
  outline: none;
}

/* line 130, ../sass/_contact-form.scss */
.goog-date-picker-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* line 135, ../sass/_contact-form.scss */
.goog-date-picker-menu ul li {
  cursor: default;
}

/* line 138, ../sass/_contact-form.scss */
.goog-date-picker-menu-selected {
  background: #ccccff;
}

/* line 141, ../sass/_contact-form.scss */
.goog-date-picker th {
  font-size: 0.9em;
}

/* line 144, ../sass/_contact-form.scss */
.goog-date-picker td div {
  float: left;
}

/* line 147, ../sass/_contact-form.scss */
.goog-date-picker button {
  padding: 0px;
  margin: 1px 0;
  border: 0;
  color: #2200cc;
  font-weight: bold;
  background: transparent;
}

/* line 155, ../sass/_contact-form.scss */
.goog-date-picker-date {
  background: #ffffff;
}

/* line 159, ../sass/_contact-form.scss */
.goog-date-picker-week,
.goog-date-picker-wday {
  padding: 1px 3px;
  border: 0;
  border-color: #a2bbdd;
  border-style: solid;
}

/* line 165, ../sass/_contact-form.scss */
.goog-date-picker-week {
  border-right-width: 1px;
}

/* line 168, ../sass/_contact-form.scss */
.goog-date-picker-wday {
  border-bottom-width: 1px;
}

/* line 171, ../sass/_contact-form.scss */
.goog-date-picker-head td {
  text-align: center;
}

/* line 174, ../sass/_contact-form.scss */
td.goog-date-picker-today-cont {
  text-align: center;
}

/* line 177, ../sass/_contact-form.scss */
td.goog-date-picker-none-cont {
  text-align: center;
}

/* line 180, ../sass/_contact-form.scss */
.goog-date-picker-month {
  width: 11ex;
}

/* line 183, ../sass/_contact-form.scss */
.goog-date-picker-year {
  width: 6ex;
}

/* line 186, ../sass/_contact-form.scss */
.goog-date-picker table {
  border-collapse: collapse;
}

/* line 189, ../sass/_contact-form.scss */
.goog-date-picker-other-month {
  color: #888888;
}

/* line 193, ../sass/_contact-form.scss */
.goog-date-picker-wkend-start,
.goog-date-picker-wkend-end {
  background: #eeeeee;
}

/* line 196, ../sass/_contact-form.scss */
td.goog-date-picker-selected {
  background: #333333;
}

/* line 199, ../sass/_contact-form.scss */
.goog-date-picker-today {
  background: #99aabb;
  font-weight: bold !important;
  border-color: #224466 #99bbdd #99bbdd #224466;
  color: #ffffff;
}

/* line 207, ../sass/_contact-form.scss */
.ss-date input,
.ss-datetime input,
.ss-time input {
  font: inherit;
}

/* line 210, ../sass/_contact-form.scss */
.ss-q-time.goog-inline-block {
  padding-left: 1.5em;
}

/* line 213, ../sass/_contact-form.scss */
.ss-hidden-button {
  border: none;
  display: none;
  height: 0;
  padding: 0;
  width: 0;
}

/* line 220, ../sass/_contact-form.scss */
.ss-picker-button-container {
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: -moz-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: -ms-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: -o-linear-gradient(top, whitesmoke, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  height: 100%;
  margin-left: 1ex;
}

/* line 230, ../sass/_contact-form.scss */
.ss-picker-container {
  left: 2ex;
  position: absolute;
  z-index: 2;
}

/* line 235, ../sass/_contact-form.scss */
.ss-calendar-button {
  border-left: 1px solid #dcdcdc;
  padding: 5px 4px 4px 4px;
  z-index: 1;
}

/* line 240, ../sass/_contact-form.scss */
.ss-datetime-box {
  border: 1px solid #dcdcdc;
  height: 32px;
  margin-right: 0.6em;
  min-height: 30px;
  padding-left: 3px;
  vertical-align: middle;
}

/* line 248, ../sass/_contact-form.scss */
.ss-datetime-box select {
  margin: 4px 3px;
  vertical-align: middle;
}

/* line 252, ../sass/_contact-form.scss */
.ss-datetime-box-spacer {
  height: 32px;
  vertical-align: middle;
}

/* line 256, ../sass/_contact-form.scss */
.ss-grid {
  overflow-x: auto;
}

/* line 259, ../sass/_contact-form.scss */
.ss-gridnumbers {
  text-align: center;
  border-bottom: 1px solid #d3d8d3;
}

/* line 263, ../sass/_contact-form.scss */
.ss-gridnumber {
  display: block;
  padding: 0.5em 0 .5em;
}

/* line 267, ../sass/_contact-form.scss */
.ss-gridrow {
  text-align: center;
  color: #333333;
  border-bottom: 1px solid #d3d8d3;
  padding: .5em .25em;
}

/* line 273, ../sass/_contact-form.scss */
.ss-grid-row-even {
  background-color: #ffffff;
}

/* line 276, ../sass/_contact-form.scss */
.ss-grid-row-odd {
  background-color: #f8f8f8;
}

/* line 279, ../sass/_contact-form.scss */
.ss-gridrow-leftlabel {
  min-width: 100px;
  max-width: 200px;
  padding-left: 15px;
  text-align: left;
}

/* line 285, ../sass/_contact-form.scss */
.ss-grideditor-columns input {
  line-height: 150%;
}

/* line 288, ../sass/_contact-form.scss */
.ss-grideditor-editor .ss-magiclist-ul span.ss-header {
  font-weight: bold;
  padding-right: 1em;
}

/* line 292, ../sass/_contact-form.scss */
.ss-grid-separator {
  border: 1px solid #e5e5e5;
}

/* line 295, ../sass/_contact-form.scss */
.ss-scalenumbers {
  text-align: center;
}

/* line 298, ../sass/_contact-form.scss */
.ss-scalenumber {
  display: block;
  padding: 0.5em 0 .5em;
}

/* line 302, ../sass/_contact-form.scss */
.ss-scalerow {
  text-align: center;
  color: #333333;
  border: 1px solid #d3d8d3;
  border-left: 0;
  border-right: 0;
  padding: .5em .25em;
}

/* line 310, ../sass/_contact-form.scss */
td.ss-leftlabel {
  text-align: right;
  padding-left: 0;
}

/* line 314, ../sass/_contact-form.scss */
td.ss-rightlabel {
  text-align: left;
  padding-right: 0;
}

/* line 318, ../sass/_contact-form.scss */
.ss-form-entry {
  margin-bottom: 1.5em;
}

/* line 321, ../sass/_contact-form.scss */
.ss-form-entry input {
  vertical-align: middle;
  margin-left: 0;
  margin-top: 0;
}

/* line 326, ../sass/_contact-form.scss */
.ss-form-entry select {
  max-width: 100%;
}

/* line 329, ../sass/_contact-form.scss */
.ss-q-title {
  display: block;
  font-weight: bold;
}

/* line 333, ../sass/_contact-form.scss */
.ss-q-help {
  display: block;
  margin: .1em 0 .25em 0;
}

/* line 337, ../sass/_contact-form.scss */
.ss-secondary-text {
  color: #333333;
}

/* line 340, ../sass/_contact-form.scss */
.ss-textarea {
  max-width: 99%;
}

/* line 343, ../sass/_contact-form.scss */
.ss-q-long {
  resize: vertical;
  min-height: 200px;
}

/* line 347, ../sass/_contact-form.scss */
.ss-choices {
  list-style: none;
  margin: .5em 0 0 0;
  padding: 0;
}

/* line 352, ../sass/_contact-form.scss */
.ss-choice-item {
  margin: 0;
  line-height: 1.3em;
  padding-bottom: .5em;
  display: block;
}

/* line 358, ../sass/_contact-form.scss */
.ss-required-asterisk {
  color: #d10002;
}

/* line 361, ../sass/_contact-form.scss */
.ss-section-title {
  background-color: #eeeeee;
  padding: 0.4em;
  margin: 2em -0.4em 0;
}

/* line 366, ../sass/_contact-form.scss */
.ss-section-description {
  margin-top: 0.5em;
}

/* line 369, ../sass/_contact-form.scss */
.ss-page-title {
  margin: 0;
  padding: 0;
}

/* line 373, ../sass/_contact-form.scss */
.ss-formwidget-container:focus {
  outline: none;
}

/* line 376, ../sass/_contact-form.scss */
.ss-item {
  margin: 12px 0;
}

/* line 380, ../sass/_contact-form.scss */
.ss-image,
.ss-image-container {
  max-width: 100%;
}

/* line 383, ../sass/_contact-form.scss */
.ss-image:focus {
  outline: none;
}

/* line 386, ../sass/_contact-form.scss */
.img-menu .jfk-button-collapse-left {
  margin-right: 0;
}

/* line 393, ../sass/_contact-form.scss */
.ss-edit-link,
.ss-edit-link:active,
.ss-edit-link:visited,
.ss-edit-link:hover,
.ss-edit-link:link {
  background: url(//www.gstatic.com/docs/spreadsheets/forms/edit_dark.png) 7px 8px no-repeat #1f1f1d;
  border: 1px solid #fff;
  color: #fff;
  float: right;
  font: normal 13px arial, sans-serif;
  font-weight: bold;
  padding: 7px 7px 7px 27px;
  text-decoration: none;
}

/* line 403, ../sass/_contact-form.scss */
.disclaimer .ss-terms a:link {
  color: #1155cc;
  text-decoration: none;
}

/* line 407, ../sass/_contact-form.scss */
.disclaimer .ss-terms a:hover {
  text-decoration: underline;
}

/* line 410, ../sass/_contact-form.scss */
.disclaimer .ss-terms a:active {
  color: #d14836;
}

/* line 413, ../sass/_contact-form.scss */
.disclaimer .ss-terms a:visited {
  color: #6611cc;
}

/* line 416, ../sass/_contact-form.scss */
.disclaimer {
  color: #777777;
  font: normal 11px arial, sans-serif;
  margin-top: 11px;
}

/* line 421, ../sass/_contact-form.scss */
.disclaimer-separator {
  border-top: 1px solid #ebebeb;
}

/* line 424, ../sass/_contact-form.scss */
.disclaimer .ss-logo-link {
  color: #777777;
  text-decoration: none;
}

/* line 428, ../sass/_contact-form.scss */
.powered-by-logo {
  display: inline-block;
  vertical-align: bottom;
}

/* line 432, ../sass/_contact-form.scss */
.powered-by-text {
  line-height: 16px;
}

/* line 435, ../sass/_contact-form.scss */
.ss-terms {
  display: inline-block;
  line-height: 20px;
  width: 80%;
  text-align: center;
}

/* line 441, ../sass/_contact-form.scss */
.ss-submit-message {
  font: normal 13px arial, sans-serif;
  margin-bottom: 20px;
}

/* line 445, ../sass/_contact-form.scss */
.ss-form-container {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 0.5em auto 0;
  padding: 1em;
  width: 45em;
}

/* line 452, ../sass/_contact-form.scss */
.ss-editing-response {
  border: 1px solid #cccccc;
  margin: 1em auto;
  padding: 0 1em;
  width: 43em;
}

/* line 459, ../sass/_contact-form.scss */
.ss-confirmation-banner,
.ss-editing-response {
  background-color: #ffff87;
}

/* line 462, ../sass/_contact-form.scss */
.errorbox-bad {
  border: 2px solid #d10002;
  background-color: #ffe6cc;
  padding: 2px;
}

/* line 467, ../sass/_contact-form.scss */
.errorheader {
  color: #d10002;
}

/* line 470, ../sass/_contact-form.scss */
input#emailReceipt {
  margin-left: 0;
  margin-top: 0;
  vertical-align: middle;
}

/* line 477, ../sass/_contact-form.scss */
.no-chrome .powered-by-logo,
.no-chrome .ss-legal,
.no-chrome .ss-edit-link {
  display: none;
}

/* line 481, ../sass/_contact-form.scss */
.ss-prepopulate-input,
.ss-submit-url-input {
  width: 100%;
}

/* line 11, ../sass/ts.scss */
html,
body {
  background: #FFF;
  height: 100%;
}

/* line 16, ../sass/ts.scss */
h1.title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
}

/* line 22, ../sass/ts.scss */
h1#logo {
  background: url(../images/thinkshout-id.png) top left no-repeat;
  display: block;
  width: 250px;
  height: 100px;
  overflow: hidden;
  text-indent: -100%;
  margin: 0;
}

/* line 32, ../sass/ts.scss */
h1#homeLogo {
  background: url(../images/thinkshout-id-white.png) top left no-repeat;
  display: block;
  width: 250px;
  height: 100px;
  overflow: hidden;
  text-indent: -100%;
  margin: 0 auto;
}

/* line 47, ../sass/ts.scss */
h5 {
  color: #f58026;
  text-transform: uppercase;
}

/* line 54, ../sass/ts.scss */
header {
  height: 100px;
  position: fixed;
  background: #FFF;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 63, ../sass/ts.scss */
header ul {
  margin: 0;
  padding: 0;
}
/* line 66, ../sass/ts.scss */
header ul li {
  display: inline;
  float: left;
  list-style: none;
}
/* line 70, ../sass/ts.scss */
header ul li a {
  display: block;
  padding: 2em 1em;
}

/* line 80, ../sass/ts.scss */
#container,
.content {
  height: 100%;
}

/* line 84, ../sass/ts.scss */
.site-width {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
  clear: left;
  height: 100%;
}

/* line 92, ../sass/ts.scss */
.row {
  width: 90%;
  margin: 0 auto;
}

/* line 98, ../sass/ts.scss */
.background {
  position: absolute;
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

/* line 106, ../sass/ts.scss */
.leadin {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 50%;
  z-index: 200;
}
@media screen and (max-width: 480px) {
  /* line 106, ../sass/ts.scss */
  .leadin {
    float: none;
    width: 100%;
  }
}
/* line 129, ../sass/ts.scss */
.leadin h2 {
  color: #FFF;
  font-weight: 600;
}

/* line 137, ../sass/ts.scss */
.main {
  position: relative;
  padding: 2em 1em;
}

/*
 * HOME
 */
/* line 146, ../sass/ts.scss */
body.home .hero {
  position: relative;
  z-index: 200;
  height: 100%;
  padding: 0 1em;
  text-align: left;
}
/* line 154, ../sass/ts.scss */
body.home .hero-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 860px;
  background-color: #f58026;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 166, ../sass/ts.scss */
body.home .home-nav {
  position: absolute;
  bottom: 1em;
  width: 100%;
  z-index: 300;
}
@media screen and (max-width: 480px) {
  /* line 166, ../sass/ts.scss */
  body.home .home-nav {
    position: relative;
  }
}
/* line 178, ../sass/ts.scss */
body.home .home-nav ul.navblocks li .content {
  padding: 1em;
  margin: 0 0.5em;
  height: 150px;
}
/* line 182, ../sass/ts.scss */
body.home .home-nav ul.navblocks li .content h3 {
  font-size: 1.5em;
  font-weight: 600;
}
/* line 185, ../sass/ts.scss */
body.home .home-nav ul.navblocks li .content h3 a {
  display: block;
  vertical-align: middle;
  color: #2d2820;
}
/* line 192, ../sass/ts.scss */
body.home .home-nav ul.navblocks li .content h3 a .rubric {
  color: #FFF;
  font-size: 0.5em;
  text-transform: uppercase;
  display: block;
}
/* line 203, ../sass/ts.scss */
body.home .home-nav .large-block-grid-3 > li {
  padding: 0;
}
/* line 209, ../sass/ts.scss */
body.home ul#most-recent-blog li {
  padding: 1em;
}
/* line 211, ../sass/ts.scss */
body.home ul#most-recent-blog li .quote {
  position: relative;
  padding: 1em;
  background: #FFFFFF;
  border: 5px solid #d2d2d2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 218, ../sass/ts.scss */
body.home ul#most-recent-blog li .quote:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #d2d2d2 rgba(0, 0, 0, 0);
  display: block;
  width: 0;
}
/* line 229, ../sass/ts.scss */
body.home ul#most-recent-blog li .quote:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: white rgba(0, 0, 0, 0);
  display: block;
  width: 0;
}
/* line 240, ../sass/ts.scss */
body.home ul#most-recent-blog li .byline {
  margin: 2em 0 0 7em;
  font-size: 0.8em;
}

/*
 * LIST VIEWS
 * Work, Team, Careers
 */
/* line 253, ../sass/ts.scss */
body.list .main {
  position: relative;
  width: 100%;
  z-index: 200;
  background: #FFF;
}
/* line 259, ../sass/ts.scss */
body.list .hero {
  height: 760px;
  text-align: center;
  width: 100%;
}
/* line 263, ../sass/ts.scss */
body.list .hero .leadin {
  width: 50%;
  margin: 0 auto;
}
/* line 268, ../sass/ts.scss */
body.list .hero-image {
  height: 760px;
}

/*
 * DETAIL VIEWS
 * Work, Team, Careers
 */
/* line 277, ../sass/ts.scss */
body.detail .main {
  position: relative;
  width: 100%;
  z-index: 200;
  background: #FFF;
  margin-top: 100px;
}

/* line 285, ../sass/ts.scss */
.hero {
  position: relative;
  z-index: 200;
  height: 100%;
  padding: 0 1em;
  text-align: left;
}

/* line 293, ../sass/ts.scss */
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 860px;
  background-color: #f58026;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 306, ../sass/ts.scss */
footer {
  height: 450px;
  width: 100%;
  padding-top: 4em;
  background: #f1f1f1;
}
/* line 312, ../sass/ts.scss */
footer ul {
  list-style: none;
}

/* line 321, ../sass/ts.scss */
.top-bar {
  z-index: 1000;
}

/* line 326, ../sass/ts.scss */
.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background: #FFF;
  text-align: left;
}

/* line 337, ../sass/ts.scss */
.marquee {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
}
/* line 344, ../sass/ts.scss */
.marquee .caption {
  position: absolute;
  left: 2em;
  top: 10em;
  max-width: 30em;
}
/* line 349, ../sass/ts.scss */
.marquee .caption h2 {
  color: #FFF;
}
/* line 354, ../sass/ts.scss */
.marquee .learn-more {
  position: absolute;
  width: 20em;
  left: 50%;
  padding: 1em 0;
  bottom: -2em;
  margin-left: -10em;
  background: #FEFEF6;
  text-align: center;
  border: 3px double #695e4a;
}
/* line 364, ../sass/ts.scss */
.marquee .learn-more p {
  margin-bottom: 0;
}

/* line 370, ../sass/ts.scss */
.sizer {
  position: absolute;
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

/* line 378, ../sass/ts.scss */
.lead {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  z-index: 200;
}

/* line 405, ../sass/ts.scss */
.home header {
  background: transparent;
  position: absolute;
}

/* line 410, ../sass/ts.scss */
.home .marquee {
  background: #f58026;
  height: 100%;
  width: 100%;
}
/* line 415, ../sass/ts.scss */
.home .marquee #leads {
  position: absolute;
  bottom: 1em;
}
/* line 421, ../sass/ts.scss */
.home .marquee .leadin h2 {
  font-size: 3em;
  font-weight: 600;
}

/* line 430, ../sass/ts.scss */
.from-the-blog h5 {
  color: #695e4a;
  margin-top: 0.5em;
}

/* line 436, ../sass/ts.scss */
#hiring {
  background: #FFF;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 500;
  color: #f58026;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-weight: 800;
  height: 125px;
  width: 125px;
  padding: 3.25em 0 0;
  text-align: center;
  border: 2px solid #FFF;
}

/* line 456, ../sass/ts.scss */
.Work .marquee {
  background: transparent url(../images/placeholderslide2.jpg) top center no-repeat;
  background-size: cover;
}

/* line 462, ../sass/ts.scss */
.banner {
  position: relative;
}
/* line 464, ../sass/ts.scss */
.banner .header {
  position: absolute;
  bottom: 0;
  left: 16.66667%;
  background: #FFF;
  padding: 0 1em;
}
/* line 470, ../sass/ts.scss */
.banner .header h1 {
  color: #222;
  margin-bottom: 0;
}
/* line 474, ../sass/ts.scss */
.banner .header h3 {
  color: #f58026;
}

/* line 483, ../sass/ts.scss */
.paginator .blog-nav {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}
/* line 488, ../sass/ts.scss */
.paginator .blog-nav .teaser {
  position: absolute;
  top: 1em;
  width: 60%;
  left: 20%;
  z-index: 100;
}
/* line 494, ../sass/ts.scss */
.paginator .blog-nav .teaser h5 {
  color: #d2d2d2;
  font-size: 1.125em;
  border-bottom: 1px solid #222;
}
/* line 500, ../sass/ts.scss */
.paginator .blog-nav .mute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
/* line 508, ../sass/ts.scss */
.paginator .blog-nav .mute:hover {
  background: rgba(0, 0, 0, 0);
}
/* line 513, ../sass/ts.scss */
.paginator .blog-nav.next-post {
  border-left: 1px dotted #FFF;
}

/* line 519, ../sass/ts.scss */
section.header {
  padding: 3em 0 0;
}

/* line 523, ../sass/ts.scss */
section.intro {
  padding: 3em 0;
}

/* line 527, ../sass/ts.scss */
section.discovery {
  padding: 3em 0 3em 0;
}
/* line 536, ../sass/ts.scss */
section.discovery .breakpoints.collapsed {
  background: #FFF;
  margin-bottom: 2em;
}
/* line 541, ../sass/ts.scss */
section.discovery .breakpoints.collapsed {
  height: 600px;
  overflow: hidden;
}
/* line 545, ../sass/ts.scss */
section.discovery .breakpoints.expanded {
  height: 100%;
  overflow: hidden;
}

/* line 551, ../sass/ts.scss */
section.strategy {
  padding: 3em 0;
}

/* line 558, ../sass/ts.scss */
section.development {
  padding: 3em 0;
}

/* line 562, ../sass/ts.scss */
section.results {
  padding: 3em 0;
}

/* line 567, ../sass/ts.scss */
a.button {
  font-weight: 300;
}

/* line 571, ../sass/ts.scss */
a.button.overlay {
  background: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #FFF;
  color: #FFF;
}
/* line 577, ../sass/ts.scss */
a.button.overlay:hover {
  background: rgba(255, 255, 255, 0.65);
}

/* line 582, ../sass/ts.scss */
a.button.default {
  background: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  color: #444;
}
/* line 588, ../sass/ts.scss */
a.button.default:hover {
  border: 1px solid #222;
  color: #222;
}

/* line 597, ../sass/ts.scss */
.project.teaser {
  padding: 6em 0;
}
/* line 603, ../sass/ts.scss */
.project.teaser p {
  font-size: 1.2em;
}

/* line 608, ../sass/ts.scss */
.project.teaser.even {
  background: #FFF;
}

/* line 612, ../sass/ts.scss */
.project.teaser.odd {
  background: #FFF;
}
