@font-face {
	font-family: 'ts';
	src:url('../fonts/ts/ts.eot');
	src:url('../fonts/ts/ts.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ts/ts.woff') format('woff'),
		url('../fonts/ts/ts.ttf') format('truetype'),
		url('../fonts/ts/ts.svg#ts') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-linkedin:before {
	content: "\e602";
}
.icon-tint:before {
	content: "\e603";
}
.icon-instagram {
	max-width: 30px;
	max-height: 30px;
	position: relative;
	top: 3px;
	svg {
		max-width: 30px;
		max-height: 30px;
	}
}
.icon-reorder:before {
	content: "\e604";
}
.icon-rss-sign:before {
	content: "\e605";
}
.icon-facebook-sign:before {
	content: "\e606";
}
.icon-twitter-sign:before {
	content: "\e607";
}
.icon-remove:before {
	content: "\e608";
}
.icon-ok:before {
	content: "\e609";
}
.icon-angle-right:before {
	content: "\e60a";
}
.icon-angle-left:before {
	content: "\e60b";
}
.icon-bookmark-empty:before {
	content: "\e60c";
}
