.intro .text {
  @include span-columns(8);
  padding: 2rem 0;

  @include mq(t) {
    @include span-columns(12);
  }

  @include mq(m) {
    @include span-columns(12);
  }

  h1 {
    color: $darkgray;
    font-size: rem(45);
    font-weight: bold;
    margin-top: 0;
  }
}

.team-listing {
  clear: both;
}
