// Styles for /wonderlab pages.

// Shared styles

.wonderlab-page {
  header {
    background: #011D2B;
    @include mq(d) {
      background: none;
    }
    transition: .2s background;
    &.fixed {
      background: #011D2B;
    }
    .header-logo {
      @include mq(d) {
        margin-top: 10px;
      }
    }
  }
  .main-menu a {
    color: $wl-ltblue;
    &.active,
    &:hover {
      border-top-color: $wl-ltblue !important;
    }
  }
}

.wl-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  @include mq(d) {
    height: 800px;
  }
  background:
    linear-gradient(
      rgba(1, 29, 43, 0.80),
      rgba(1, 29, 43, 0.80)
    ),
    url('/assets/images/wonderlab/header_bg.jpg');
  z-index: -1;
}

.wl-header {
  display: flex;
  padding-top: 40px;
  &__logo img {
    width: 200px;
    height: auto;
  }
}

.wl-footer {
  background: $wl-black;
  color: $wl-white;
  padding: 60px 0;
  strong {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  p {
    color: $wl-ltgray;
    font-size: 16px;
    line-height: 29px;
  }
  .container {
    @include mq(d) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__left {
    max-width: 500px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  &__right {
    max-width: 400px;
    @include mq(d) {
      text-align: right;
    }
  }
  &__bcorp {
    margin-bottom: 50px;
    img {
      width: 66px;
    }
  }
  &__copyright {
    color: $wl-ltgray;
    font-size: 12px;
    line-height: 19px;
    a {
      color: $wl-ltgray;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Landing page styles.

.wl-landing {
  &__intro {
    color: white;
    max-width: 520px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    strong {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      line-height: 23px;
    }
  }
  &__category {
    margin: 50px 0;
  }
  &__blogs {
    display: grid;
    grid-row-gap: 50px;
    @include mq(d) {
      grid-row-gap: 75px;
    }
    grid-column-gap: 50px;
    .wl-blog-card:first-child {
      display: block;
      @include mq(d) {
        grid-column: span 2;
      }
      .wl-blog-card__image {
        margin-bottom: 30px;
        margin-right: 0;
      }
      .wl-blog-card__title a {
        font-size: 42px;
        line-height: 50px;
      }
      .wl-blog-card__teaser {
        font-size: 18px;
        line-height: 29px;
      }
      .wl-blog-card__author {
        margin-right: 50px;
      }
      .wl-blog-card__subheader {
        display: none;
      }
    }
  }
}

.wl-blog-card {
  @include mq(d) {
    display: flex;
  }
  color: $wl-black;
  img {
    max-width: 100%;
  }
  &__image {
    margin-right: 50px;
  }
  &__date {
    font-size: 12px;
    color: $wl-pink;
  }
  &__title {
    margin-top: 10px;
    a {
      color: $wl-black;
      font-size: 28px;
      line-height: 35px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__teaser {
    margin: 20px 0;
  }
  &__bottom {
    display: flex;
    align-items: center;
  }
  &__author {
    font-size: 13px;
    margin-right: 25px;
  }
  &__medium-link {
    font-size: 13px;
    a {
      display: flex;
      align-items: center;
      color: $wl-black;
      &:hover {
        text-decoration: underline;
      }
      &:after {
        content: " ";
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url('/assets/images/wonderlab/medium_icon.jpg');
        background-size: cover;
        margin-left: 10px;
      }
    }
  }
  &__subheader {
    color: $wl-pink;
    font-size: 12px;
    text-transform: uppercase;
  }
}

// Blog styles.

.wonderlab-blog-post {

}
