---
layout: default
title: Work 
---

<div class="content">
  <div class="hero-image" style="background-image: url('{{ site.baseurl }}/images/marquee/work.jpg');"></div>
  <div class="hero">
    <div class="site-width">
      <div class="background"></div>
      <div class="leadin">
        <h2>Our clients inspire us.</h2>
      </div>
    </div>
  </div>
  <section class="main">
    <div class="section-rubric">
      <h3><span>What We've Done</span></h3>
    </div>
    <div class="row">
      <div class="large-12 columns large-centered">
        {% for page in site.pages %}
          {% if page.layout == 'project' and page.published == true %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            {% if thecycle == 'odd' %}
              <div class="project teaser odd">
                <article>
                  <div class="row">
                    <div class="large-7 columns">
                      <a href="{{ site.baseurl }}{{ page.url }}"><img src="{{ site.baseurl }}/images/{{ page.images.hero }}"></a>
                    </div>
                    <div class="large-4 columns">
                      <h2 class="project-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.shortname}}</a></h2>
                      <p>{{ page.oneliner }}</p>
                      <a class="button default" href="{{ site.baseurl }}{{ page.url }}">Case Study</a><br />
                    </div>
                  </div>
                </article>
              </div>
            {% else %}
              <div class="project teaser even">
                <article>
                  <div class="row">
                    <div class="large-7 columns push-5">
                      <a href="{{ site.baseurl }}{{ page.url }}"><img src="{{ site.baseurl }}/images/{{ page.images.hero }}"></a>
                    </div>
                    <div class="large-4 columns pull-7">
                      <h2 class="project-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.shortname}}</a></h2>
                      <p>{{ page.oneliner }}</p>
                      <a class="button default" href="{{ site.baseurl }}{{ page.url }}">Case Study</a><br />
                    </div>
                  </div>
                </article>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="main">
    <div class="section-rubric">
      <h3><span>Our Clients</span></h3>
    </div>
    <div class="row">
      <div class="large-10 columns large-centered">        
        <ul>
          {% for client in site.data.clients %}
            <li>{{ client.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>
