---
layout: default
title: Work
description: "Our clients inspire us. Explore our work."
keywords:
  - digital agency
  - portfolio
  - drupal
  - open source
  - web development
  - user experience
  - responsive design
---

<div class="content work">
  <div class="hero-image"></div>
  <div class="hero">
    <div class="site-width">
      <div class="background"></div>
      <div class="leadin">
        <h2>Our clients inspire us.</h2>
      </div>
    </div>
  </div>
  <section class="main">
    <div class="section-rubric">
      <h3><span>What We've Done</span></h3>
    </div>
    <div class="row">
      <div class="large-12 columns large-centered">
        {% for page in site.pages %}
          {% if page.layout == 'project' and page.published == true %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <div class="project teaser {{ thecycle }}">
              <figure class="thumb"><a href="{{ site.baseurl }}{{ page.url }}"><img src="{{ site.baseurl }}/assets/images/{{ page.images.card }}"></a></figure>
              <article>
                <div class="text">
                  <h2 class="project-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.shortname}}</a></h2>
                  <a class="button default more-link" href="{{ site.baseurl }}{{ page.url }}">Case Study</a>
                </div>
              </article>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="main">
    <div class="section-rubric">
      <h3><span>Our Clients</span></h3>
    </div>
    <div class="row">
      <div class="large-12 columns">        
        <ul class="client-list">
          {% for client in site.data.clients %}
            <li>{{ client.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>
