---
layout: default
---
<div class="blog-header">
  {% if page.featured %}<p class="featured">Featured Post</p>{% endif %}

  <p><span class="date">{{ page.date | date: '%m.%d.%Y' }}</span>
  {% if page.topic %}
    {% for hastopic in site.topic %}
      {% if hastopic.topic == page.topic %}
        <a class="topic" href="{{ site.baseurl }}/blog/topic/{{ page.topic }}/">{{ hastopic.title }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
  </p>

  <h1 class="post-title">{{ page.title }}</h1>
  <p class="byline">
    {% for person in site.team %}
      {% if page.author == person.name %}
        <img class="team-photo" src="{{ site.baseurl }}/assets/images/{{ person.team-image.small }}" alt="{{ person.first_name }} {{ person.last_name }}">
        <span class="byline-wrapper">
          {% if person.current-employee %}
            <a class="team-name" href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a>
            <span class="position">{{ person.position }}</span>
          {% else %}
            <strong>{{ person.first_name }} {{ person.last_name }}</strong>
            <span class="position">{{ person.position }}</span>
            <small>ThinkShout Alumnus</small>
          {% endif %}
        </span>
      {% endif %}
    {% endfor %}
  </p>
</div>

{% if page.header-image %}
<div class="blog-header-image">
  <img src="{{ site.baseurl }}{{ page.header-image }}" alt="{{ page.header-image-alt }}">
</div>
{% endif %}

{% if page.intro %}
<section class="intro">
  {{ page.intro | markdownify }}
</section>
{% endif %}

<section class="body">
  {{ content }}

  {% if page.contact-cta != 'exclude' %}
  {% for cta in site.data.blog-cta %}
    {% if page.cta-id %}
      {% if cta.id == page.cta-id %}
      <div class="blog-cta">
        <div class="text">
          <h3>{{ cta.title }}</h3>
          <p>{{ cta.description | markdownify }}</p>
          <a href="{{ site.baseurl }}{{ cta.link }}" class="uppercase-link">Learn More<i class="fa fa-caret-right"></i></a>
        </div>

        {% if cta.image %}
        <div class="image">
          <img src="{{ site.baseurl }}{{ cta.image }}" alt="{{ cta.title }}">
        </div>
        {% else %}
        <div class="image">
          <img src="{{ site.baseurl }}/assets/images/ts_redesign/cta/portland-waterfront-cta.jpg" alt="{{ cta.title }}">
        </div>
        {% endif %}
      </div>
      {% break %}
      {% endif %}
    {% else %}
      <div class="blog-cta">
        <div class="text">
          <h3>{{ cta.title }}</h3>
          <p>{{ cta.description | markdownify }}</p>
          <a href="{{ site.baseurl }}{{ cta.link }}" class="uppercase-link">Learn More<i class="fa fa-caret-right"></i></a>
        </div>

        {% if cta.image %}
        <div class="image">
          <img src="{{ site.baseurl }}{{ cta.image }}" alt="{{ cta.title }}">
        </div>
        {% else %}
        <div class="image">
          <img src="{{ site.baseurl }}/assets/images/ts_redesign/cta/portland-waterfront-cta.jpg" alt="{{ cta.title }}">
        </div>
        {% endif %}
      </div>
      {% break %}
    {% endif %}
  {% endfor %}
  {% endif %}

  {% if page.tags.size > 0 %}
    <div class="tags">
      <span class="tag-label">Tags:</span>
      {{ page.tags | tag_links }}
    </div>
  {% endif %}

</section>

<div class="pagination">
  {% if page.previous %}
    <div class="previous">
      <a href="{{ site.baseurl }}{{ page.previous.url }}"><span class="fa fa-caret-left"></span> <span>{{ page.previous.title }}</span></a>
    </div>
  {% endif %}

  {% if page.next %}
    <div class="next">
      <a href="{{ site.baseurl }}{{ page.next.url }}"><span>{{ page.next.title }}</span> <span class="fa fa-caret-right"></span></a>
    </div>
  {% endif %}
</div>


{% assign topics = site.posts | map: 'topic' %}
{% if topics contains page.topic or topics contains page.topic[0] or topics contains page.topic[1] or topics contains page.topic[2] or topics contains page.topic[3] or topics contains page.topic[4] %}
  <div class="team-member-blog">
    <div class="container">
      <h2>Related Blog Posts</h2>
      <div class="row posts">
        {% assign tsloop = 1 %}
        {% for post in site.posts %}
        {% if post.layout == 'blog' and post.topic contains page.topic[0] and post.title != page.title %}
          {% include blogs_related.html %}
          {% assign tsloop = tsloop | plus: 1 %}
          {% if tsloop > 3 %}
            {% break %}
          {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
