---
layout: default
---
<div class="blog-header">
  <h1 class="post-title">{{ page.title }}</h1>
  <h2 class="post-subtitle">{{ page.subtitle }}</h2>
</div>

{% if page.header-image %}
<div class="blog-header-image">
  <img src="{{ site.baseurl }}{{ page.header-image }}" alt="{{ page.header-image-alt }}">
</div>
{% endif %}

{% if page.intro %}
<section class="intro">
  {{ page.intro | markdownify }}
</section>
{% endif %}

<section class="body">
  {{ content | markdownify }}
</section>

{% assign topics = site.posts | map: 'campaign-topic' %}
{% if topics contains page.campaign-topic %}
  <div class="team-member-blog">
    <div class="container">
      <h4>Related Blog Posts</h4>
      <div class="row posts">
        {% assign tsloop = 1 %}
        {% for post in site.posts %}
        {% if post.layout == 'blog' and post.campaign-topic == page.campaign-topic and post.title != page.title %}
          {% include blogs_related.html %}
          {% assign tsloop = tsloop | plus: 1 %}
          {% if tsloop > 3 %}
            {% break %}
          {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
