---
layout: default
---

    <style>
      .case-study-header { background-image: url('{{ site.baseurl }}{{ page.cs-header.header-image }}'); }
    </style>

    <section class="case-study-header">
      <div class="gradient">&nbsp;</div>
      <div class="wrapper">

        <h4>{{ page.cs-header.client }}</h4>

        <h2 class="description">{{ page.cs-header.title }}</h2>
      </div>
    </section>

    <section class="body">
      <h3 class="intro">{{ page.cs-intro.topic }}</h3>
      <h4 class="intro">{{ page.cs-intro.mission }}</h4>

      {% if page.cs-intro.link-text %}
        <a class="intro uppercase-link" href="{{ page.cs-intro.link-url }}" target="_blank">{{ page.cs-intro.link-text }}<i class="fa fa-caret-right"></i></a>
      {% endif %}



      <div class="case-intro-text">
        {% if page.cs-intro.promo-images %}
        <p>
        {% for img in page.cs-intro.promo-images %}
        <img class="{{ img.class }}" src="{{ img.url }}" alt="{{ img.alt }}" />
        {% endfor %}
        </p>
        {% endif %}
        {{ page.cs-intro.text | markdownify }}
      </div>

      {% for section in page.cs-sections %}
        {% if section.section-title %}
          <h4>{{ section.section-title }}</h4>
        {% endif %}

        {% if section.section-description %}
          {{ section.section-description | markdownify }}
        {% endif %}

        {% if section.section-image %}
          {% if section.section-image-full %}
            <div class="full">
          {% elsif section.section-image-left %}
            <div class="left">
          {% elsif section.section-image-right %}
            <div class="right">
          {% else %}
            <div class="inline">
          {% endif %}
          <img src="{{ site.baseurl }}{{ section.section-image }}" alt="{{ section.section-image-alt }}">
          {% if section.section-image-caption %}
            <span class="caption"><i class="fa fa-caret-up"></i>{{ section.section-image-caption }}</span>
          {% endif %}
            </div>
        {% endif %}
      {% endfor %}
    </section>

    {% if page.cs-cta-text %}
    <section class="cta">
        <a class="button" href="{{ page.cs-cta-url }}" target="_blank">{{ page.cs-cta-text }}</a>
    </section>
    {% endif %}
    <div class="our-services">
      <div class="container">
        <h1>Other work</h1>
        {% assign case-studies = site.case_studies | where: "active", "true" | sort: "order" %}
        {% for case in case-studies %}
        {% if case.url != page.url %}
          <div class="our-services-block">
            <a href="{{ site.baseurl }}{{ case.url }}"><h2>{{ case.title }}</h2></a>
            <p>{{ case.cs-preview.description }}</p>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
