---
layout: default
---

    <style>
      .case-study-header { background-image: url('{{ site.baseurl }}{{ page.cs-header.header-image }}'); }
    </style>

    <section class="container case-study-hero">
      <h4>{{ page.cs-header.client }}</h4>
      <h2 class="description">{{ page.cs-header.title }}</h2>
      <div class="case-study-header"></div>
    </section>

    <section class="case-intro">
      {% for paragraph in page.cs-intro %}
        {% if paragraph.intro-paragraph %}
          <div class="text">{{ paragraph.intro-paragraph | markdownify }}</div>
        {% endif %}
      {% endfor %}
      <div class="titles">
        {% for title in page.cs-intro %}
          {% if title.intro-title %}
            <h4>{{ title.intro-title }}</h4>
          {% endif %}
          {% if title.intro-text %}
            {{ title.intro-text | markdownify }}
          {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="body">
      {% for section in page.cs-sections %}
        {% if section.section-color == 'gray-bg' %}
          {% assign case-color = 'gray-bg' %}
        {% elsif section.section-color == 'black-bg' %}
          {% assign case-color = 'black-bg' %}
        {% else %}
          {% assign case-color = '' %}
        {% endif %}

        {% if section.section-type == 'quote' %}
          {% assign case-type-quote = 'quote' %}
        {% else %}
          {% assign case-type-quote = '' %}
        {% endif %}

        {% if section.section-type == 'result' %}
          {% assign case-type-result = 'result' %}
        {% else %}
          {% assign case-type-result = '' %}
        {% endif %}

        {% if case-type-result == 'result' %}
          <div class="{{ case-color }} result">
            <div class="case-wrapper">
              <div class="result-set">
                {% if section.section-description %}
                  {{ section.section-description | markdownify }}
                {% endif %}

                {% if section.section-data-number1 %}
                  <div class="data-set">
                    <div class="data-wrapper">
                      <div class="number">{{ section.section-data-number1 }}</div>
                      <div class="data-text">{{ section.section-data-text1 }}</div>
                    </div>
                    {% if section.section-data-number2 %}
                      <div class="data-wrapper">
                        <div class="number">{{ section.section-data-number2 }}</div>
                        <div class="data-text">{{ section.section-data-text2 }}</div>
                      </div>
                    {% endif %}
                    {% if section.section-data-number3 %}
                      <div class="data-wrapper">
                        <div class="number">{{ section.section-data-number3 }}</div>
                        <div class="data-text">{{ section.section-data-text3 }}</div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}

                {% if page.cs-cta-text %}
                <section class="cta">
                    <a class="button" href="{{ page.cs-cta-url }}" target="_blank">{{ page.cs-cta-text }}</a>
                </section>
                {% endif %}
              </div>

              {% if section.section-image-right %}
                <div class="result-right">
                  <img src="{{ site.baseurl }}{{ section.section-image-right }}" alt="{{ section.section-image-right-alt }}">
                  {% if section.section-image-right-caption %}
                    <span class="caption">{{ section.section-image-right-caption }}</span>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% elsif case-type-quote == 'quote' %}
          <div class="{{ case-color }} quote">
            <div class="case-wrapper">
              {% if section.section-quote %}
                {{ section.section-quote | markdownify }}
              {% endif %}

              {% if section.section-attribution %}
                <h4>{{ section.section-attribution }}</h4>
              {% endif %}
            </div>
          </div>
        {% elsif case-color != '' %}
          <div class="{{ case-color }}">
            <div class="case-wrapper">
              {% if section.section-title %}
                <h4>{{ section.section-title }}</h4>
              {% endif %}

              {% if section.section-description %}
                {{ section.section-description | markdownify }}
              {% endif %}
            </div>
          </div>
        {% elsif section.section-title or section.section-description %}
          <div class="default">
            <div class="case-wrapper">
              {% if section.section-title %}
                <h4>{{ section.section-title }}</h4>
              {% endif %}

              {% if section.section-description %}
                {{ section.section-description | markdownify }}
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if section.section-image %}
          {% if section.section-image-full %}
            <div class="full">
          {% elsif section.section-image-left %}
            <div class="left">
          {% elsif section.section-image-right %}
            <div class="right">
          {% else %}
            <div class="inline">
          {% endif %}
          <img src="{{ site.baseurl }}{{ section.section-image }}" alt="{{ section.section-image-alt }}">
          {% if section.section-image-caption %}
            <span class="caption">{{ section.section-image-caption }}</span>
          {% endif %}
            </div>
        {% endif %}

        {% if section.section-image1 %}
          <div class="inline four-up">
            <div class="img-wrapper">
              <img src="{{ site.baseurl }}{{ section.section-image1 }}" alt="{{ section.section-image-alt1 }}">
              {% if section.section-image-caption1 %}
                <span class="caption">{{ section.section-image-caption1 }}</span>
              {% endif %}
            </div>
            <div class="img-wrapper">
              <img src="{{ site.baseurl }}{{ section.section-image2 }}" alt="{{ section.section-image-alt2 }}">
              {% if section.section-image-caption2 %}
                <span class="caption">{{ section.section-image-caption2 }}</span>
              {% endif %}
            </div>
            {% if section.section-image3 %}
              <div class="img-wrapper">
                <img src="{{ site.baseurl }}{{ section.section-image3 }}" alt="{{ section.section-image-alt3 }}">
                {% if section.section-image-caption3 %}
                  <span class="caption">{{ section.section-image-caption3 }}</span>
                {% endif %}
              </div>
            {% endif %}
            {% if section.section-image4 %}
              <div class="img-wrapper">
                <img src="{{ site.baseurl }}{{ section.section-image4 }}" alt="{{ section.section-image-alt4 }}">
                {% if section.section-image-caption4 %}
                  <span class="caption">{{ section.section-image-caption4 }}</span>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </section>

    {% assign related_work = page.related %}
    {% include related_work.html related=related_work %}
