<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/ie.css" /><![endif]-->
<head>
  <title>{{ page.title }} | {{ site.name }}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=0.5 maximum-scale=1.0">

  {% if page.description != nil %}
    {% assign description = page.description %}
  {% elsif page.short != nil %}
    {% assign description = page.short %}
  {% elsif page.results.narrative != nil %}
    {% assign description = page.results.narrative %}
  {% endif %}
  <meta name="description" content="{{ description }}">

  <!-- Social Media Metatags -->
  {% if page.image != nil %}
  <meta property="og:image" content="{{ page.image }}">
  <meta name="twitter:image" content="{{ page.image }}">
  {% else %}
  <meta property="og:image" content="{{ site.url }}/assets/images/ts_icon.jpg">
  <meta name="twitter:image" content="{{ site.url }}/assets/images/ts_icon.jpg">
  {% endif %}

  {% if page.keywords != nil %}
    {% assign keywords = page.keywords | join: ', ' %}
  {% elsif page.tags != nil %}
    {% assign keywords = page.tags | join: ', ' %}
  {% endif %}
  <meta name="keywords" content="{{ keywords }}">

  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6630094/7238952/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/fonts/MyFontsWebfontsKit.css">

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/assets/favicon.ico" type="image/vnd.microsoft.icon">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />

  <!-- Normalize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" media="screen" title="no title" charset="utf-8">

  <!-- RSS feed -->
  <link rel="alternate" type="application/rss+xml" title="ThinkShout Feed}" href="{{ site.baseurl }}/rss.xml" />

  <!-- <script src="{{ site.baseurl }}/assets/bower_components/foundation/js/vendor/modernizr.js"></script> -->
</head>
<body>

  <!-- Header -->
  {% include header.html %}

  <!-- Main Content -->
  {{ content }}

  <!-- Footer -->
  {% include newsletter.html %}
  {% include footer.html %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/script.js"></script>

  {% if site.host == '127.0.0.1' %}
    <!-- Loaded only in local -->
    <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}

{% if site.host != '127.0.0.1' %}
  <script>
    // Google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-9743130-1', 'thinkshout.com');
    ga('send', 'pageview');

  </script>
{% endif %}

</body>
</html>
