---
layout: default
---
<style>
  .expertise-header { background-image: url('/assets/images/{{ page.images.hero }}'); }
</style>

<section class="expertise-header">
  <div class="gradient">&nbsp;</div>
  <div class="wrapper">
    <h4>{{ page.title }}</h4>
    <h2 class="short-description">{{ page.blurb_short }}</h2>
  </div>
</section>

<div class="expertise-detail">
  <div class="hero-image" style="background-image: url('{{ site.baseurl }}/assets/images/{{ page.images.hero }}');"></div>
  <div class="hero">
    <div class="site-width">
      <div class="background"></div>
      <div class="leadin">
        <h2>{{ page.leadin }}</h2>
      </div>
    </div>
  </div>
  <section class="main">
      <div class="section-rubric">
        <h3><span>{{ page.title }}</span></h3>
      </div>
      <div class="row">
        <div class="large-9 columns large-centered">
          <p>{{ content }}</p>
      </div>
    </section>
</div>
