---
layout: detail
---
<div class="content">
	<div class="hero-image" style="background-image: url('http://placehold.it/1800x250&text=CATEGORY BANNER');"></div>
	<div class="hero">
		<div class="site-width">
			<div class="background"></div>
			<div class="leadin">
				<h2>Category Name</h2>
			</div>
		</div>
	</div>
	<section class="main">
		<div class="row">
			<div class="large-10 columns large-centered">
				<div class="row">
					<div class="large-9 columns push-3">
						<h1>{{ page.title }}</h1>
						<p class="meta">{{ page.date | date_to_string }}</p>
						<p>{{ content }}</p>
						{% if page.comments or page.comments != false %}
							<div class="comments">
					  	  <div id="disqus_thread"></div>
					  	  <script type="text/javascript">
					  	      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					  	      var disqus_shortname = 'thinkshout'; // required: replace example with your forum shortname
			
					  	      /* * * DON'T EDIT BELOW THIS LINE * * */
					  	      (function() {
					  	          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					  	          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					  	          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					  	      })();
					  	  </script>
					  	  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					  	  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  		  			</div>
						{% endif %}
					</div>
					<div class="large-3 columns pull-9">
						<div class="byline">
							{% for page in site.pages %}
								{% if page.layout == 'teammember' and page.author == page.name %}
      				  <h4><a href="{{ site.baseurl }}{{ page.url }}">{{ page.first_name }} {{ page.last_name }}</a></h4>
								{% endif %}
      				{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="paginator">
	<div class="blog-nav previous-post">
		<img src="http://placehold.it/1440x450&text=HERO">
		<div class="teaser">
			<h5>Previous Post</h5>
			<h4><a href="#">Post Title</a></h4>
			<a class="button overlay" href="#">Read Now</a>
		</div>
		<div class="mute"></div>
	</div>
	<div class="blog-nav next-post">
		<img src="http://placehold.it/1440x450&text=HERO">
		<div class="teaser">
			<h5>Next Post</h5>
			<h4><a href="#">Post Title</a></h4>
			<a class="button overlay" href="#">Read Now</a>
		</div>
		<div class="mute"></div>
	</div>	
</div>



