---
layout: default
---
<div class="content project">
  <div class="hero-image" style="background-image: url('{{ site.baseurl }}/assets/images/{{ page.images.hero }}');"></div>
  <div class="hero">
    <div class="site-width">
      <div class="background"></div>
      <div class="leadin">
        <h2>{{ page.title }}</h2>
      </div>
    </div>
  </div>
  <div class="main">
    <section>
      <div class="row">
        <div class="large-10 columns large-centered">
          {% if page.client != nil %}
            <div class="intro">
              <p>{{ page.client | markdownify }}</p>
            </div>
          {% endif %}
          {% if page.services %}
            <div class="services-list">
              <h5>Services:</h5>
              {{ page.services | markdownify }}
            </div>
          {% endif %}
        </div>
      </div>
    </section>

    {% if page.breakpoints.desktop and page.breakpoints.tablet and page.breakpoints.mobile %}
      <section class="breakpoints">
        <div class="large-5 columns">
          <img src="{{ site.baseurl }}/assets/images/{{ page.breakpoints.desktop }}">
        </div>
        <div class="large-4 columns">
          <img src="{{ site.baseurl }}/assets/images/{{ page.breakpoints.tablet }}">
        </div>
        <div class="large-3 columns">
          <img src="{{ site.baseurl }}/assets/images/{{ page.breakpoints.mobile }}">
        </div>
      </section>
    {% endif %}

    {% for component in page.components %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      <section class="{{thecycle}}">
          <div class="row">
            {% if component.background %}
              <div class="section-bg"><img class="lazy" data-original="{{ site.baseurl }}/assets/images/{{ component.background }}" width="1000" height="620"></div>
            {% endif %}
            {% if component.column2 == nil and component.background == nil %}
              <div class="large-10 columns large-centered">
                {% if component.banner %}
              	  <img class="lazy" data-original="{{ site.baseurl }}/assets/images/{{ component.banner }}" width="800" height="400">
              	{% endif %}
              	<h2>{{ component.title != nil }}</h2>
                {% if component.column1 %}
                  <p>{{ component.column1 | markdownify }}</p>
                {% endif %}
              </div>
            {% else %}
              <div class="large-5 columns col1">
                <h2>{{ component.title != nil }}</h2>
                {% if component.column1 %}
                  <p>{{ component.column1 | markdownify }}</p>
                {% endif %}
              </div>
              <div class="large-6 columns col2">
                {% if component.column2 != nil %}
                  <img class="lazy" data-original="{{ site.baseurl }}/assets/images/{{ component.column2 }}" width="470" height="470">
                {% endif %}
              </div>
            {% endif %}
          </div>
      </section>
    {% endfor %}
  </div>
  {% if page.results %}
    {% if page.results.stats %}
    <section class="results">
      <div class="section-rubric">
        <h3><span>Results</span></h3>
      </div>
      <div class="row stats">
        <div class="large-12 columns">
          <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1">
            {% for stats in page.results.stats %}
            {% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
              {% if stats.type == "dollars" %}
              <li>
                <div class="stat {{ stats.type }}">
                  <p class="figure dollars counter data-total-{{ thecycle }}">0</p>
                  <p class="holder data-totalholder-{{ thecycle }}">{{ stats.number | escape }}</p>
                </div>
                <p class="key">{{ stats.description}}</p>
              </li>
            	{% elsif stats.type == "thousands" %}
            	<li>
                <div class="stat {{ stats.type }}">
                  <p class="figure thousands counter data-total-{{ thecycle }}">0</p>
                  <p class="holder data-totalholder-{{ thecycle }}">{{ stats.number | escape }}</p>
                </div>
                <p class="key">{{ stats.description}}</p>
              </li>
              {% elsif stats.type == "millions" %}
              <li>
                <div class="stat {{ stats.type }}">
                  <p class="figure millions counter data-total-{{ thecycle }}">0</p>
                  <p class="holder data-totalholder-{{ thecycle }}">{{ stats.number | escape }}</p>
                </div>
                <p class="key">{{ stats.description}}</p>
              </li>
              {% else %}
              <li>
                <div class="stat {{ stats.type }}">
                  <p class="figure counter data-total-{{ thecycle }}">0</p>
                  <p class="holder data-totalholder-{{ thecycle }}">{{ stats.number | escape }}</p>
                </div>
                <p class="key">{{ stats.description}}</p>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
          {% if page.projecturl %}
          <a class="button overlay" href="{{ site.baseurl }}{{ page.projecturl }}">
            {% if page.launch_label %}
               {{ page.launch_label }}
            {% else %}
               Launch Website
            {% endif %}
          </a>
          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}
    {% if page.results.narrative %}
    <section class="results narrative">
      <div class="section-rubric">
        <h3><span>Results</span></h3>
      </div>
      <div class="row">
        <div class="large-8 columns large-centered">
          <p>{{ page.results.narrative }}</p>
        </div>
      </div>
      {% if page.results.image %}
        <img class="lazy" data-original="{{ site.baseurl }}/assets/images/{{ page.results.image }}" width="1440" height="975">
      {% endif %}
      <div class="row">
        <a class="button overlay" href="{{ page.projecturl }}">Launch Website</a>
      </div>
    </section>
    {% endif %}
  {% endif %}
</div>
