---
layout: default
---
<div class="content">
  <div class="hero-image" style="background-image: url('{{ site.baseurl }}/images/{{ page.images.hero }}');"></div>
  <div class="hero">
    <div class="site-width">
      <div class="background"></div>
      <div class="leadin">
        <h2>{{ page.title }}</h2>
      </div>
    </div>
  </div>
  <div class="main">
    <section class="intro">
      <div class="row">
        <div class="large-6 columns push-2">
          <p>{{ page.client }}</p>
          <p>{{ page.overview }}</p>
        </div>
        <div class="large-4 columns">
          {% if page.expertise %}
            <h5>Expertise:</h5>
            {{ page.expertise | markdownify }}
          {% endif %}
        </div>
      </div>  
    </section>

    {% if page.breakpoints.desktop and page.breakpoints.tablet and page.breakpoints.mobile %}
      <section class="breakpoints">
        <div class="large-5 columns">
          <img src="{{ site.baseurl }}/images/{{ page.breakpoints.desktop }}">
        </div>
        <div class="large-4 columns">
          <img src="{{ site.baseurl }}/images/{{ page.breakpoints.tablet }}">
        </div>
        <div class="large-3 columns">
          <img src="{{ site.baseurl }}/images/{{ page.breakpoints.mobile }}">
        </div>
      </section>
    {% endif %}

    {% for component in page.components %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      <section class="{{thecycle}}">
          <div class="row">
            {% if component.background %}
              <div class="section-bg"><img src="{{ site.baseurl }}/images/{{ component.background }}"></div>
            {% endif %}
            <div class="large-5 columns col1">
              <h2>{{ component.title != nil }}</h2>
              {% if component.column1 %}
                <p>{{ component.column1 | markdownify }}</p>
              {% endif %}
            </div>
            <div class="large-6 columns col2">
              {% if component.column2 != nil %}
                <p>{{ component.column2 | markdownify }}</p>
              {% endif %}
            </div>
          </div>
      </section>
    {% endfor %}

    {% if page.results %}
      <section class="results">
        <div class="section-rubric">
          <h3><span>Results</span></h3>
        </div>
        {% if page.results.stats %}
          <div class="row stats">
            <div class="large-12 columns">
              <ul class="large-block-grid-3">
                {% for stats in page.results.stats %}
                  <li>
                    <div class="stat">
                      <p class="figure">{{ stats.number }}</p>
                    </div>
                    <p class="key">{{ stats.description}}</p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
        {% if page.results.narrative %}
          <div class="row">
            <div class="large-6 columns large-centered">
              <p>{{ page.results.narrative }}</p>
            </div>
          </div>
        {% endif %}
        <a class="button overlay" href="{{ page.url }}">Launch Website</a>
      </section>
    {% endif %}
  </div>
</div>