---
layout: default
---
<div class="content">
  <div class="hero-image" style="background-image: url('{{ site.baseurl }}/images/{{ page.images.hero }}');"></div>
  <div class="hero">
    <div class="site-width">
      <div class="background"></div>
      <div class="leadin">
        <h1 class="title">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <section class="main">
    <div class="row">
			<div class="large-8 columns push-2">
				<h4>{{ page.project_summary }}</h4>
			</div>
		</div>
		<section class="intro">
			<div class="row">
				<div class="large-6 columns push-2">
					<p>{{ page.client }}</p>
					<p>{{ page.overview }}</p>
				</div>
				<div class="large-4 columns">
					<h5>Expertise:</h5>
					<ul>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
			</div>	
		</section>

		<section class="breakpoints">
			<img src="{{ site.baseurl }}/images/{{ page.images.desktop }}">
			<img src="{{ site.baseurl }}/images/{{ page.images.tablet }}">
			<img src="{{ site.baseurl }}/images/{{ page.images.mobile }}">
		</section>

		{% for component in page.components %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        <section class="{{thecycle}}">
          <div class="row">
            <div class="large-4 columns push-2">
            	<h2>{{ component.title }}</h2>
              <p>{{ component.column1 }}</p>
            </div>
            <div class="large-6 columns">
              <p>{{ component.column2 }}</p>
            </div>
          </div>
        </section>
    {% endfor %}

		<section class="results">
			<div class="section-rubric">
      	<h3><span>Results</span></h3>
    	</div>
			<div class="row stats">
				<div class="large-12 columns">
					<ul class="large-block-grid-3">
						<li>
							<div class="stat">
								<p class="figure">5233</p>
							</div>
							<p class="key">Paid event registrations since launch</p>
						</li>
						<li>
							<div class="stat">
								<p class="figure">186</p>
							</div>
							<p class="key">Events managed since launch</p>
						</li>
						<li>
							<div class="stat">
								<p class="figure">10</p>
							</div>
							<p class="key">Fewer web platforms to manage their online presence</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns large-centered">
					<!--<p>{{ page.results.description }}</p>-->
					<a class="button overlay" href="{{ page.url }}">Launch Website</a>
				</div>
			</div>
		</section>
	</section>
</section>
