---
layout: default
---
<style>
  .services-header { background-image: url('{{ site.baseurl }}/assets/images/{{ page.images.hero }}'); }
</style>

<section class="services-header">
  <div class="gradient">&nbsp;</div>
  <div class="wrapper">
    <h4>{{ page.title }}</h4>
    <h2>{{ page.leadin }}</h2>
  </div>
</section>

<div class="services-detail">
  <div class="hero-image" style="background-image: url('{{ site.baseurl }}/assets/images/{{ page.images.hero }}');"></div>

  <section class="body">
    <h4 class="intro">{{ page.blurb }}</h4>
    {{ content }}
</div>

<div class="team-member-blog">
  <div class="container">
    <h4>{{ page.title }} Blogs</h4>
    <div class="row posts">
      {% assign tsloop = 1 %}
      {% for post in site.posts %}
        {% if post.layout == 'blog' and post.published %}
          {% for tag in post.tags %}
            {% if tag == page.tag %}
              {% include blogs_related.html %}

              {% assign tsloop = tsloop | plus: 1 %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if tsloop > 3 %}
          {% break %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% include our-services.html %}
