---
layout: default
body-class: tag-index
---
<link rel="alternate" type="application/rss+xml" title="RSS - {{ page.tag }}" href="{{ site.baseurl }}/tag/{{ page.tag }}/rss.xml" />

  <h1 class="post-title">Posts tagged "{{ page.tag }}"</h1>

    {% assign posts = site.tags[page.tag] | reverse %}
    {% for post in posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% unless year == this_year %}
    {% assign year = this_year %}
      <h2 class="year">{{ year }}</h2>
    {% endunless %}
    <article>
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a></h3>
      <p class="short">{{post.short}}</p>
    </article>
    {% endfor %}

    <h4><a href="{{ site.baseurl }}/{{ page.feed_url }}/rss.xml" class="uppercase-link">Subscribe to all posts tagged "{{ page.tag }}"</h4>
