---
layout: default
---
<div class="page-container">

  <div class="split">
    <div class="side side-left" style="background-image: url('{{ site.baseurl }}/images/{{ page.person.image.large }}')"></div>
    <div class="side side-right">
      <div class="intro-content">
        <h1>{{ page.person.first_name }} {{ page.person.last_name }}</h1>
        <h5>{{ page.person.position }}</h5>
        <h5>{{ page.person.leadin }}</h5>
        <ul class="social">
          {% if page.person.social.github %}
          <li>
            <a href="{{ page.person.social.github }}"><span class="icon-github"></span></a>
          </li>
          {% endif %}
          {% if page.person.social.twitter %}
          <li>
            <a href="{{ page.person.social.twitter }}"><span class="icon-twitter"></span></a>
          </li>
          {% endif %}
          {% if page.person.social.linkedin %}
          <li>
            <a href="{{ page.person.social.linkedin }}"><span class="icon-linkedin"></span></a>
          </li>
          {% endif %}
          {% if page.person.social.drupal %}
          <li>
            <a href="{{ page.person.social.drupal }}"><span class="icon-tint"></span></a>
          </li>
          {% endif %}
        </ul>
        <p>{{ page.person.bio }}</p>
        <div class="team-blog">
          <h4>Recent Blog Posts</h4>
          {% for post in site.posts %}
          {% if post.layout == 'post' and post.author == page.person.name %}
          <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
          </h5>

          <p>{{ post.date | date: "%B %-d, %Y" }}</p>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<section class="content-bottom-1">
  <div class="row">
    <div class="large-12 columns">
      <ul class="team large-block-grid-4 medium-block-grid-3 small-block-grid-3">
        {% for person in site.data.team %}
        <li>
          <article>
            <a href="{{ site.baseurl }}{{ site.config.team_dir }}{{ person.name }}.html"><img src="{{ site.baseurl }}/images/{{person.image.medium}}"></a>
            <div class="project-title"><h4>
              <a href="{{ site.baseurl }}{{ site.config.team_dir }}{{ person.name }}.html">{{ person.first_name }} {{ person.last_name }}</a>
            </h4></div>
            <p class="content-text">{{person.position}}</p>
          </article>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
