---
layout: default
---
{% if page.current-employee %}
<div class="container team-detail">
  <div class="split">
    <div class="team-member-side side-left">
      <div class="team-member-image">
        <img src="{{ site.baseurl }}/assets/images/{{ page.team-image.large }}" alt="{{ page.first_name }} {{ page.last_name }}">
      </div>
    </div>
    <div class="team-member-side side-right">
      <div class="intro-content">
        <h1>{{ page.first_name }} {{ page.last_name }}</h1>
        <h4 class="position">{{ page.position }}</h4>
        <h5>{{ page.leadin }}</h5>
        <p>{{ page.bio }}</p>
      </div>
    </div>
  </div>
</div>

<ul class="social">
  {% if page.social.github %}
  <li>
    <a href="{{ page.social.github }}" target="_blank"><span class="icon-github"></span></a>
  </li>
  {% endif %}
  {% if page.social.twitter %}
  <li>
    <a href="{{ page.social.twitter }}" target="_blank"><span class="icon-twitter"></span></a>
  </li>
  {% endif %}
  {% if page.social.linkedin %}
  <li>
    <a href="{{ page.social.linkedin }}" target="_blank"><span class="icon-linkedin"></span></a>
  </li>
  {% endif %}
  {% if page.social.drupal %}
  <li>
    <a href="{{ page.social.drupal }}" target="_blank"><span class="icon-tint"></span></a>
  </li>
  {% endif %}
</ul>

{% endif %}

{% assign names = site.posts | map: 'author' %}
{% if names contains page.name %}
  <div class="team-member-blog">
    <div class="container">
      {% if page.current-employee %}
      <h4>{{ page.first_name }}'s Recent Blog Posts</h4>
      {% else %}
      <h4>{{ page.first_name }}'s Blog Post Archive</h4>
      {% endif %}
      <div class="row posts">
        {% assign author_posts = site.posts | where: "author", page.name %}
          {% for post in author_posts %}
          {% if post.published == nil or post.published == true %}
              <div class="post">
                <a href="{{ site.baseurl }}{{ post.url }}">
                  <p class="post-date">{{ post.date | date: "%m.%d.%Y" }}</p>
                  <h3 class="post-title">{{ post.title}}</h3>
                  <p class="post-short">{{ post.short }}</p>
                </a>
              </div>
          {% endif %}
          {% endfor %}
      </div>
      {% assign num_posts = author_posts | size %}
      {% if num_posts > 3 %}
        <div class="blogs-toggle">
          <div class="see-all-blogs">
            <h5>See all posts by {{ page.first_name }}</h5>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="view-less-blogs">
            <i class="fa fa-caret-up"></i>
            <h5>View less</h5>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}


<div class="team">
  {% include teamlisting.html %}
</div>
